:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  max-width: 80vw;
}

h3 {
  padding: 16px 16px 0;
}

p {
  margin: 0;
}

.list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: var(--font-subheading-2);
  justify-content: center;
  min-height: 72px;
  padding: 0 var(--padding-16);
  position: relative;
  user-select: none;

  &:hover {
    background: var(--background-hover);
  }
}

.progress-bar {
  margin-top: 8px;
}

.bg-primary{
  background-color:  var(--sidenav-toolbar-background) !important;
}

mat-tab-label, mat-tab-label-active{
  width: 100% !important;
}

.cardLeft {
  margin-top: 14px;
  margin-left: 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 19em;
  height: 130px;
}

.cardRight {
  margin-top: 14px;
  width: 10.5em;
  height: 130px;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
}
