<div class="card" style="width: 100%;">
    <table @stagger [dataSource]="dataFondoSource" class="w-full" mat-table matSort>

        <h6>Tabla de amortizacion</h6>
        <ng-container matColumnDef="#">
            <mat-header-cell *matHeaderCellDef mat-header-cell>#</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 600;">{{item.numCuota}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">Total</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Interes">
            <mat-header-cell *matHeaderCellDef mat-header-cell>Interes</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 300;">${{item.interes | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">${{totalInteres | number : '.2-2'}}</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Mora">
            <mat-header-cell *matHeaderCellDef mat-header-cell>Interes<br>Reprogramado</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 300;">${{item.mora | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">${{totalMora | number : '.2-2'}}</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="Capital">
            <mat-header-cell *matHeaderCellDef mat-header-cell>Capital</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 300;">${{item.capital | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">${{totalCapital | number : '.2-2'}}</mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="Cuota">
            <mat-header-cell *matHeaderCellDef mat-header-cell>Cuota</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 600;">${{item.cuota | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;" >${{totalCuota | number : '.2-2'}}</mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="Saldo">
            <mat-header-cell *matHeaderCellDef mat-header-cell>Saldo</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 300;">${{item.saldo | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">${{totalSadaldo | number : '.2-2'}}</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="desgravamen">
            <mat-header-cell *matHeaderCellDef mat-header-cell>Desgravamen</mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 500; color:grey;">${{item.desgravamen | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">${{totalDesgravamen | number : '.2-2'}}</mat-footer-cell>
        </ng-container>


        <ng-container matColumnDef="Total">
            <mat-header-cell *matHeaderCellDef mat-header-cell><span>Total <br><small>(Cuota + Desgravamen)</small></span></mat-header-cell>
            <mat-cell *matCellDef="let item" style="font-weight: 600;">${{item.total | number : '.2-2'}}</mat-cell>
            <mat-footer-cell class="mat-cell" *matFooterCellDef style="font-weight: 600;">${{totalCD | number : '.2-2'}}</mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row >
    </table>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
</div>