<div [formGroup]="historialLaboralInterno">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">




        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Forma de reclutamiento</mat-label>
            <mat-select required formControlName="idFormaReclutamiento">
                <mat-option *ngFor="let tipoId of formasRelutamiento" [value]="tipoId.idFormaReclutamiento">
                    {{tipoId.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="historialLaboralInterno.get('idFormaReclutamiento').hasError('required')">
                El tipo de identificación es requerido
            </mat-error>

        </mat-form-field>


        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Fecha de reclutamiento</mat-label>
            <input matInput [matDatepicker]="fechaReclutamiento" formControlName="fechaReclutamiento" required>
            <mat-datepicker-toggle matSuffix [for]="fechaReclutamiento"></mat-datepicker-toggle>
            <mat-datepicker #fechaReclutamiento></mat-datepicker>
            <mat-error *ngIf="historialLaboralInterno.get('fechaReclutamiento').hasError('required')">
                Fecha de reclutamiento es requerido
            </mat-error>
        </mat-form-field>


        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Fecha de selección</mat-label>
            <input matInput [matDatepicker]="fechaSeleccion" formControlName="fechaSeleccion" required>
            <mat-datepicker-toggle matSuffix [for]="fechaSeleccion"></mat-datepicker-toggle>
            <mat-datepicker #fechaSeleccion></mat-datepicker>
            <mat-error *ngIf="historialLaboralInterno.get('fechaSeleccion').hasError('required')">
                Fecha de selección es requerido
            </mat-error>
        </mat-form-field>




    </div>


    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">



        <section class="example-section">
            <label class="example-margin">¿Conoce persona dentro de la CTE? *</label>
            <mat-radio-group formControlName="conocePersonalCte">
                <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
                <mat-error *ngIf="historialLaboralInterno.get('conocePersonalCte')?.touched 
                && historialLaboralInterno.get('conocePersonalCte').hasError('required')">
                    El campo es requerido
                </mat-error>

            </mat-radio-group>
        </section>
    </div>




    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
        <mat-form-field style.fontSize="16px" appearance="fill" fxFlex="auto">
            <mat-label>Observaciones</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                formControlName="observaciones" cdkAutosizeMaxRows="5"></textarea>

        </mat-form-field>
    </div>



    <mat-divider style="margin-bottom: 20px;"></mat-divider>


</div>