<div class="head-app-bar">
  <h2 class="head-title">
    Listado de cargos
  </h2>
  <div class="head-options">
    <div class="search-bar">
      <input [(ngModel)]="filterValue" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
        placeholder="Buscar..." type="search" (keyup.enter)="searchTerm(filterValue)">
      <button (click)="searchTerm(filterValue)" class="head-buttons" mat-button="mat-button" matTooltip="Buscar">
        <mat-icon [icIcon]="icroundSearch"></mat-icon>
      </button>
    </div>
    <button (click)="openDialog('', 'Agregar')" matTooltip="Registrar cargo" class="head-buttons"
      mat-button="mat-button">
      <mat-icon [icIcon]="icroundAdd"></mat-icon>
    </button>
  </div>
</div>
<div>
  <section *ngIf="tableData.length > 0" class="progress">
    <div class="progress-bar progress-bar-striped bg-success" style="width: 100%" aria-valuenow="100"></div>
  </section>


  <p-treeTable styleClass="p-treetable-sm" *ngIf="tableData.length > 0 && !isLoading" #myTab [columns]="cols"
    [value]="tableData" [paginator]="true" [rows]="10">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" />
      </colgroup>
    </ng-template>


    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header | uppercase }}

        </th>
        <th style="width: 8rem">
          ACCIONES
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr class="interactive-rows overflow-hiden hover:bg-hover trans-ease-out cursor-pointer relative">
        <td *ngFor="let col of columns; let i = index">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0">
          </p-treeTableToggler>
          {{ rowData[col.field] ? rowData[col.field] : 'N/A' }}
        </td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">



            <a mat-icon-button type="button" class="linkbutton" (click)="openDialog(rowData, 'Editar', true)">
              <mat-icon class="linkiconbutton"> manage_search </mat-icon>
              <span>Ver</span>
            </a>
            <a *ngIf="!visualizationMode" mat-icon-button type="button" class="linkbutton"
              (click)="openDialog(rowData, 'Agregar')">
              <mat-icon class="linkiconbutton"> add </mat-icon>
              <span>Agregar subcargo</span>
            </a>


            <a *ngIf="!visualizationMode" mat-icon-button type="button" class="linkbutton"
              (click)="openDialog(rowData, 'Editar')">
              <mat-icon class="linkiconbutton"> edit </mat-icon>
              <span>Editar</span>
            </a>
            <a *ngIf="!visualizationMode" mat-icon-button type="button" class="linkbutton"
              (click)="eliminarCargoSubcargo(rowData)">
              <mat-icon class="linkiconbutton"> delete </mat-icon>
              <span>Eliminar</span>
            </a>


          </mat-menu>
        </td>

      </tr>
    </ng-template>
  </p-treeTable>

</div>


<div *ngIf="tableData.length === 0 && !isLoading">
  <vex-info-message [message]='infoMessage' [icon]='icroundDiamond' [typeicon]="'icIcon'"></vex-info-message>
</div>

<div *ngIf=" isLoading" class="loading">
  <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
</div>