<div @stagger class="p-gutter" vexContainer>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>



    <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
        <span class="w-10 h-10 rounded-full text-primary mr-3 flex items-center justify-center bg-primary-light">
            <ic-icon [icon]="icDescription" height="20px" width="20px"></ic-icon>
        </span>
        <span style="width: 100%;">

            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="subheading-1" style="font-weight: bold; color: gray;">Producto financiero<br>
                    <strong style="color: black;">Selecionar un producto financiero</strong>
                </div>
                <span style="margin-left: 1%; width: 100%;">
                    <mat-form-field class="vex-flex-form-field" fxFlex="auto"
                        *ngIf="productosFinancieros && productoFinanciero">
                        <mat-label>Productos financieros</mat-label>
                        <mat-select required [(value)]="productoFinanciero">
                            <mat-option *ngFor="let prod of productosFinancieros" [value]="prod">
                                {{prod.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
        </span>
    </h2>



    <div class="card overflow-hidden">


        <ng-template matStepperIcon="edit">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>


        <ng-template matStepperIcon="done">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
        </ng-template>

        <form [formGroup]="formParticipe">
            <mat-vertical-stepper #stepper="matVerticalStepper" [linear]="true">
                <mat-step>
                    <ng-template matStepLabel>
                        <p>Datos de contacto</p>
                    </ng-template>
                    <div>
                        <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                                <mat-form-field class="vex-flex-form-field" fxFlex="fixed">
                                    <mat-label>Identificacion</mat-label>
                                    <input (ngModelChange)="change($event)" required formControlName="identificacion"
                                        matInput>
                                </mat-form-field>

                            </div>

                            <div *ngIf="existeCedula">
                                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Escogue una provincia</mat-label>
                                        <mat-select required (selectionChange)="seleccionarProvincia($event.value)"
                                            [(value)]="direccion.idProvincia">
                                            <mat-option *ngFor="let nivel of provincias" [value]="nivel.idProvincia">
                                                {{nivel.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Escogue una ciudad </mat-label>
                                        <mat-select required [(value)]="direccion.idCanton">
                                            <mat-option *ngFor="let nivel of ciudades" [value]="nivel.idCiudad">
                                                {{nivel.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Direccion</mat-label>
                                        <input required formControlName="direccion" matInput type="text"
                                            [(ngModel)]="direccion.callePrincipal">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Referencia</mat-label>
                                        <input required formControlName="referencia" matInput type="text"
                                            [(ngModel)]="direccion.referencia">
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Nombre</mat-label>
                                        <input required formControlName="nombres" matInput
                                            [(ngModel)]="participe.razonSocial">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Fecha de nacimiento</mat-label>
                                        <input formControlName="fechaNacimiento" matInput type="date">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Celular</mat-label>
                                        <input formControlName="celular" matInput>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Estado civil</mat-label>
                                        <mat-select formControlName="idEstadoCivil">
                                            <mat-option *ngFor="let estado of estadosCivil"
                                                [value]="estado.idEstadoCivil">{{estado.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Correo Electronico 1 </mat-label>
                                        <input required formControlName="correo1" matInput type="email">
                                        <!-- <span *ngIf="datosContacto.hasError('email', 'email') && datosContacto.get('email').touched">
                                                Please enter the correct email, this email not valid.
                                            </span> -->
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Telefono 1</mat-label>
                                        <input required formControlName="telefono1" matInput>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Telefono 2 (opcional)</mat-label>
                                        <input formControlName="telefono2" matInput>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Genero</mat-label>
                                        <mat-select formControlName="idGenero">
                                            <mat-option *ngFor="let gen of generos" [value]="gen.idGenero">
                                                {{gen.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Grados</mat-label>
                                        <mat-select formControlName="idGrado">
                                            <mat-option *ngFor="let item of grados" [value]="item.idGrado">
                                                {{item.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <strong>Información del cónyuge</strong>
                                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Nombre completos del Cónyuge</mat-label>
                                        <input formControlName="conyuge" matInput>
                                    </mat-form-field>
                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Identificación del Cónyuge</mat-label>
                                        <input formControlName="identificacionConyuge" matInput>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                                style="margin-top: 2%;">
                                <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                            </div>
                        </div>
                    </div>
                </mat-step>
                <mat-step formGroupName="perfilEconomico" [stepControl]="perfilEconomico">
                    <ng-template matStepLabel>
                        <p>Datos economicos</p>
                    </ng-template>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="subheading-1" style="font-weight: bold; color: gray;">Datos economicos<br>
                            <strong style="color: black;">Por favor llena los campos</strong>
                        </div>
                    </div>
                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">

                        <h6>Ingresos</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Salario fijo</mat-label>
                                <input required (ngModelChange)="datosEconomicosCalculo($event, 'salariofijo')"
                                    formControlName="salarioFijo" matInput type="number"
                                    [(ngModel)]="perfilEconomico.salarioFijo">
                            </mat-form-field>

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Salario variable</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'salarioVariable')"
                                    formControlName="salarioVariable" matInput type="number"
                                    [(ngModel)]="perfilEconomico.salarioVariable">
                            </mat-form-field>

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Otros ingresos</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'otrosIngresos')"
                                    formControlName="otrosIngresos" matInput type="number"
                                    [(ngModel)]="perfilEconomico.otrosIngresos">
                            </mat-form-field>
                        </div>
                        <h6>Total ingresos</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label style="font-weight: bold;">Total ingresos</mat-label>
                                <input readonly formControlName="totalIngresos" matInput type="number"
                                    [(ngModel)]="perfilEconomico.totalIngresos">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <h6>Egresos</h6>
                        <h6>Total egresos</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label style="font-weight: bold;">Descuentos mensuales rol de pago</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'gastosMensuales')"
                                    formControlName="gastosMensuales" matInput type="number"
                                    [(ngModel)]="perfilEconomico.gastosMensuales">
                            </mat-form-field>
                        </div>

                        <h6 style="color: rgb(209, 209, 0); font-weight: bold;">Salario Neto</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Salario neto</mat-label>
                                <input readonly required formControlName="salarioNeto" matInput type="number"
                                    [(ngModel)]="perfilEconomico.salarioNeto">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <h6>Activos</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Total bienes</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'totalBienes')"
                                    formControlName="totalBienes" matInput type="number"
                                    [(ngModel)]="perfilEconomico.totalBienes">
                            </mat-form-field>

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Total vehiculos</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'totalVehiculos')"
                                    formControlName="totalVehiculos" matInput type="number"
                                    [(ngModel)]="perfilEconomico.totalVehiculos">
                            </mat-form-field>

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Total otros activos</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'totalOtrosActivos')"
                                    formControlName="totalOtrosActivos" matInput type="number"
                                    [(ngModel)]="perfilEconomico.totalOtrosActivos">
                            </mat-form-field>

                        </div>

                        <h6>Total activos</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label style="font-weight: bold;">Total activos</mat-label>
                                <input readonly disabled formControlName="totalActivos" matInput
                                    [(ngModel)]="perfilEconomico.totalActivos">
                            </mat-form-field>
                        </div>

                        <h6>Pasivos</h6>
                        <h6>Total pasivos</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Total deudas</mat-label>
                                <input (ngModelChange)="datosEconomicosCalculo($event, 'totalDeudas')" required
                                    formControlName="totalDeudas" matInput type="number"
                                    [(ngModel)]="perfilEconomico.totalDeudas">
                            </mat-form-field>
                        </div>

                        <h6 style="color: rgb(209, 209, 0); font-weight: bold;">Patrimonio neto</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Patrimonio neto</mat-label>
                                <input readonly disabled formControlName="patrimonioNeto" matInput type="number"
                                    [(ngModel)]="perfilEconomico.patrimonioNeto">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                        style="margin-top: 2%;">
                        <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                        <button color="primary" mat-raised-button matStepperNext
                            (click)="asignarDatosEconomicos()">SIGUIENTE</button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <p>Calculadora</p>
                    </ng-template>
                    <form [formGroup]="formCalculadora">
                        <ng-template matStepLabel>Calculadora</ng-template>
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="subheading-1" style="font-weight: bold; color: gray;">Calculadora<br>
                                <strong style="color: black;">Por favor llena los campos</strong>
                            </div>
                        </div>
                        <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Seleccione un tipo de amortización</mat-label>
                                    <mat-select [(value)]="solicitudPrestamo.tipoAmortizacion">
                                        <mat-option value="Alemana">Alemana</mat-option>
                                        <mat-option value="Francesa">Francesa</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Monto de crédito</mat-label>
                                    <input required formControlName="montoCredito" type="number" matInput
                                        [(ngModel)]="simulacionPrestamo.montoSolicitado">
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Plazo</mat-label>
                                    <input required formControlName="duracion" type="number" matInput
                                        [(ngModel)]="simulacionPrestamo.plazo">
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Motivo de crédito</mat-label>
                                    <input required formControlName="motivoCredito" matInput type="text"
                                        [(ngModel)]="solicitudPrestamo.motivoPrestamo">
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <button color="primary" mat-raised-button (click)="simular()">Crear simulacion</button>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <div style="display: block;">
                                    <canvas id="myChart" width="400" height="200">
                                    </canvas>
                                </div>
                                <div style="display: block;">
                                    <mat-label>Pago mensual: <strong>{{pagoMensual}}</strong></mat-label><br>
                                    <mat-label>Tasa nominal: <strong>{{tasaNominal}}</strong></mat-label><br>
                                    <mat-label>Tasa efectiva: <strong>{{tasaefectiva}}</strong></mat-label><br>
                                    <mat-label>Total a pagar: <strong>{{totalPagar}}</strong></mat-label>
                                </div>
                            </div>
                        </div>
                        <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                            style="margin-top: 2%;">
                            <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                            <button color="primary" mat-raised-button (click)="tablaAmortizacion()">TABLA DE
                                AMORTIZACION</button>
                            <button color="primary" mat-raised-button (click)="crearSolicitud()">CREAR
                                SOLICITUD</button>
                        </div>
                    </form>
                </mat-step>
            </mat-vertical-stepper>
        </form>

    </div>

</div>