<div class="form">
    <mat-form-field>
        <mat-label>Mes y Año</mat-label>
        <input  matInput 
        [matDatepicker]="dp_moth_year" 
        [formControl]="date_month_year"  
        [required]="true" 
        [(ngModel)]="input_date"
        [max]="maxDate"
        [min]="minDate"
        (blur)="setvalue(input_date)">
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp_moth_year"></mat-datepicker-toggle>
        <mat-datepicker #dp_moth_year
                        startView="multi-year"
                        (monthSelected)="setMonthAndYear($event, dp_moth_year)">
        </mat-datepicker>
        <mat-error *ngIf="date_month_year.invalid">No existen registros para esa fecha</mat-error>
    </mat-form-field>
</div>