<vex-page-layout>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">  
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>

    <!-- Creditos Aprobados -->
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <br>
                <h1 class="title mt-0 mb-1">CARGA DE ABONO DE CRÉDITOS DE PARTÍCIPES</h1>
            </div>
        </div>
        <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="w-full flex flex-col sm:flex-row justify-between">
            <div class="form-group">
                <input class="btn" (change)="upload($event)" type="file" id="inputFile" accept=".xls, .xlsx">
                <button class="btn btn-success" type="button">
                    <mat-icon style="height: 18px;" [icIcon]="icExcel"></mat-icon>
                    <span style="margin-left: 4px;">Seleccionar archivo</span>
                </button>
                <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivo}}</span>
            </div>
        </div>

    </vex-page-layout-header>

    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

        <div class="card overflow-auto -mt-16">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
                    <span *ngIf="selection.isEmpty()">Autorizados</span>
                    <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                  Customer<span *ngIf="selection.selected.length > 1">s</span> selected</span>
                </h2>

                <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
                    <button color="primary" mat-icon-button matTooltip="Delete selected" type="button">
                        <mat-icon [icIcon]="icDelete"></mat-icon>
                    </button>

                    <button color="primary" mat-icon-button matTooltip="Another action" type="button">
                  <mat-icon [icIcon]="icFolder"></mat-icon>
                </button>
                </div>

                <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
                    <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
                    <input [formControl]="searchCtrlAprobados" class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Buscar..." type="search">
                </div>

                <span fxFlex></span>

                <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                    <mat-icon [icIcon]="icSearch"></mat-icon>
                </button>

                <button class="btn btn-success rounded-full border px-4" type="button" 
                (click)="exportarExcel()" title="Descargar">
                    <mat-icon style="height: 18px;" [icIcon]="icDownload"></mat-icon>
                </button>
                
                <button class="btn btn-success rounded-full border px-4" title="Guardar" 
                (click)="guardarDecuentos()">
                    <mat-icon style="height: 18px;" [icIcon]="icSave"></mat-icon>
                </button>

            </div>

            <table @stagger matTableExporter #exporter="matTableExporter" [dataSource]="dataFondoSource" class="w-full" mat-table matSort>

                <ng-container matColumnDef="identificacion">
                    <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>IDENTIFICACIÓN</mat-header-cell>
                    <mat-cell class="description-cell" *matCellDef="let cedula" style="color: rgb(0,0,0,0.54);">{{cedula.identificacion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>NOMBRE</mat-header-cell>
                    <mat-cell *matCellDef="let nombre" style="color: rgb(0,0,0,0.54);">{{nombre.nombre}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>VALOR A APLICAR</mat-header-cell>
                    <mat-cell class="description-cell" *matCellDef="let valor" style="color: rgb(0,0,0,0.54);">{{valor.valor}}</mat-cell>
                </ng-container> 

                <ng-container matColumnDef="noAplicado">
                    <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>NO APLICADO</mat-header-cell>
                    <mat-cell class="description-cell" *matCellDef="let valor" style="color: rgb(0,0,0,0.54);">{{valor.saldo}}</mat-cell>
                </ng-container> 

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>TOTAL</mat-header-cell>
                    <mat-cell class="description-cell" *matCellDef="let saldo" style="color: rgb(0,0,0,0.54);">{{saldo.total}}</mat-cell>
                </ng-container> 

                <ng-container matColumnDef="observaciones">
                    <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>OBSERVACIONES</mat-header-cell>
                    <mat-cell *matCellDef="let observaciones" style="color: rgb(0,0,0,0.54);">
                        <div *ngIf="observaciones.error" style="color: red;"><mat-icon style="height: 17.5px;" [icIcon]="icError"></mat-icon>{{observaciones.observaciones}}</div>
                        <div *ngIf="!observaciones.error" style="color: green;"><mat-icon style="height: 17.5px;" [icIcon]="icCheck"></mat-icon>{{observaciones.observaciones}}</div>
                    </mat-cell>
                </ng-container>

                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </table>

            <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>

            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="10" class="sticky left-0"></mat-paginator>
            
             

        </div>

    </vex-page-layout-content>



</vex-page-layout>