


<div class="modal-container">
    <div class="head-modal" fxLayoutAlign="start center">
        <h2 text-center="text-center" class="head-title">Tabla de Amortización</h2>
        <button class="simple-button" mat-dialog-close={{null}} mat-icon-button="mat-icon-button" type="button">
            <mat-icon [icIcon]="icroundClose"></mat-icon>
        </button>
    </div>


    <div class="body-modal">
        <vex-view-table-numeric *ngIf="Totals" [menubutton]="true" [columns]="tableColumns" [data]="dataFondoSource" [footerdata]="Totals">
        </vex-view-table-numeric>
    </div>
</div>