::ng-deep .my-class .modal-dialog {
  max-width: 80%;
  width: 100%;
}

#file {
  opacity: 0;
  position: absolute;
}

.mat-step-header {
  pointer-events: none !important;
}

.ng-autocomplete {
  width: 30%;
}




.filter-form{
  padding: 5px 10px 5px 10px !important;
}


.linkbutton {
padding: 0 10px;
margin: 4px 2px;
cursor: pointer;
border-radius: 0;
width: auto;
text-decoration: none;
display: flex;
align-items: center;
}
.linkbutton:hover {
color: var(--COLOR-PRIMARY-CONTRAST) !important;
background-color: var(--COLOR-PRIMARY) !important;
.linkiconbutton {
    color: var(--COLOR-PRIMARY-CONTRAST) !important;
}
}
.linkiconbutton {
color: var(--COLOR-PRIMARY) !important;
margin-right: 10px !important;
}



.btnAdjunto {

  width: 190px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAdjunto mat-icon {
margin-right: 4px;
}

.container-calculadora{
  width: 100%;
  padding: 0px;
  }

  
::ng-deep .mat-form-field.mat-form-field {
  margin: 0 !important;
  padding: 0.25em 0 0 1.25rem !important;
  margin-top: 1rem!important;
}