<div *ngIf="dataFondoSource.data.length !== 0" >
  <div class="prices-history">

    <div id="charts" *ngIf="loadGraphic">
      <button
        (click)="updateOptions( '6m' )"
        [class.active]="activeOptionButton=='6m'"
      >
        Últimos 6 Meses
      </button>
      <button
        (click)="updateOptions( '1y' )"
        [class.active]="activeOptionButton=='1y'"
      >
        Año actual
      </button>
      <button
        (click)="updateOptions( '1yd' )"
        [class.active]="activeOptionButton=='1yd'"
      >
        Año Anterior
      </button>
      <button
        (click)="updateOptions( 'all' )"
        [class.active]="activeOptionButton=='all'"
      >
        Todo
      </button>
        <apx-chart
        #chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
        [markers]="chartOptions.markers"
        [yaxis]="chartOptions.yaxis"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip"></apx-chart>
    </div>

    <div *ngIf="dataFondoSource.data.length !== 0" class="card">
        <vex-view-table [menubutton]="true" [routers]="routers" [columns]="tableColumns" [data]="dataFondoSource.data">
        </vex-view-table>

        <div   class="paginator-container">
            <mat-paginator [length]="inversionVectores.length" [pageSizeOptions]="[2,5,10,25,100]"
                [pageSize]="pageSize" (page)="pageEvent = $event; onPaginateChange($event)" class="sticky left-0">
            </mat-paginator>
        </div>
    </div>

</div>
</div>
<div *ngIf="dataFondoSource.data.length === 0 && !isLoading">
  <vex-info-message [message]='infoMessage' [icon]='icroundLineAxis' [typeicon]="'icIcon'"></vex-info-message>
</div>