#charts {
    margin: 20px 40px;
}

.prices-history {
    margin-left: 2rem;
    margin-right: 2rem;
}

button {
    background: #fff;
    color: #222;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #ddd;
    border-radius: 2px;
    padding: 4px 17px;
}

button.active {
    color: var(--COLOR-PRIMARY-CONTRAST);
    background: var(--COLOR-PRIMARY);
}

button:focus {
    outline: 0;
}
