
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>

<vex-page-layout-header class="page-head">
    <!-- cabecera -->
    <div class="head-icon" >
        <mat-icon style="justify-content: center; display: flex;" [fontIcon]="faFileContract"  fontSet="fa" ></mat-icon>
        <h3 class="head-icon-title" style="justify-content: center; display: flex;" >Anexos</h3>
    </div>  
</vex-page-layout-header>

<vex-page-layout-content  [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div class="card">
        <div class="head-app-bar">
            <h2 class="head-title">
                Anexos
            </h2>        
            <div class="head-options">
                <div class="search-bar">
                    <input     
                        [(ngModel)]="filterValue"
                        class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                        placeholder="Buscar..."
                        type="search"
                        (keyup.enter)="searchTerm(filterValue)">
                        <button
                            (click)="searchTerm(filterValue)"
                            class="head-buttons"
                            mat-button="mat-button">
                            <mat-icon  [icIcon]="icroundSearch"  ></mat-icon>
                        </button>
                    </div>

                    <button
                        *ngIf="isCard"
                        (click)="onChangeStyleReports(false)"
                        class="head-buttons"
                        mat-button="mat-button">
                        <mat-icon  [icIcon]="ictwotoneTableChart"  ></mat-icon>
                    </button>

                    <button
                        *ngIf="!isCard"
                        (click)="onChangeStyleReports(true)"
                        class="head-buttons"
                        mat-button="mat-button">
                        <mat-icon [fontIcon]="faGripHorizontal" class="icon" fontSet="fa"></mat-icon>
                    </button>
                </div>

            </div>


            <div *ngIf="reports.data.length !== 0 && !isLoading">
                <vex-cards-reports
                    *ngIf="isCard"
                    [data]="reports.data"
                    (OpenViewFilterReport)="openViewFilterReport($event)"></vex-cards-reports>

                <vex-table-reports
                    *ngIf="!isCard"
                    (OpenViewFilterReport)="openViewFilterReport($event)"
                    [columns]="tableColumns"
                    [data]="reports.data"></vex-table-reports>

                <div class="paginator-container">
                    <mat-paginator
                        [length]="reportsresult.length"
                        [pageSizeOptions]="pageSizeOptions"
                        [pageSize]="pageSize"
                        (page)="pageEvent = $event; onPaginateChange($event)"
                        class="sticky left-0"></mat-paginator>
                </div>
            </div>

            <div *ngIf="reports.data.length === 0 && !isLoading">
                <vex-info-message [message]='infoMessage' [icon]='faFileContract'></vex-info-message>
            </div>

            <div *ngIf="isLoading" class="loading">
                <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
            </div>

        </div>
    </vex-page-layout-content>
</vex-page-layout>

