<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <div class="flex justify-between">
      <div
        class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out"
        matRipple
        (click)="descargarPDF()"
        target="_blank"
      >
        <div
          @scaleIn
          class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4"
        >
          <mat-icon
            color="primary"
            fontIcon="fa-download"
            class="icon"
            fontSet="fa"
          ></mat-icon>
        </div>
        <p @fadeInRight class="font-medium text-primary">Cuenta Individual</p>
      </div>
    </div>

    <div class="card" style="margin-top: 2%">
      <div
        class="px-gutter py-4 border-b"
        gdColumns="1fr 1fr"
        gdColumns.xs="1fr"
        gdGap="16px"
      >
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <h2 class="title m-0">Información del Cesante</h2>
        </div>
      </div>

      <div
        class="px-gutter py-4"
        gdColumns="1fr 1fr"
        gdColumns.xs="1fr"
        gdGap="16px"
      >
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center"
          >
            <ic-icon [icon]="icCreditCard" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1" *ngIf="participe">
              {{ participe["identificacion"] }}
            </p>
            <p class="m-0 caption text-hint">Cedula del participe</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center"
          >
            <ic-icon [icon]="icAssignment" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <span [ngSwitch]="participe['estado']">
              <ng-template [ngSwitchCase]="'Aprobado'">
                <p class="m-0 body-1" style="color: green; font-weight: 800">
                  {{ participe["estado"] }}
                </p>
              </ng-template>
              <ng-template [ngSwitchCase]="'Rechazado'">
                <p class="m-0 body-1" style="color: red; font-weight: 800">
                  {{ participe["estado"] }}
                </p>
              </ng-template>
              <ng-template [ngSwitchCase]="'Pendiente'">
                <p class="m-0 body-1" style="color: blue; font-weight: 800">
                  {{ participe["estado"] }}
                </p>
              </ng-template>
              <ng-template [ngSwitchCase]="'Cesado'">
                <p class="m-0 body-1" style="color: #ff05a7; font-weight: 800">
                  {{ participe["estado"] }}
                </p>
              </ng-template>

              <ng-template ngSwitchDefault>
                <p class="m-0 body-1" style="color: orange; font-weight: 800">
                  No Adherido
                </p>
              </ng-template>
            </span>

            <p class="m-0 caption text-hint">Estado del Participe</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center"
          >
            <ic-icon [icon]="icEmail" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1" *ngIf="participe">
              {{ participe.correo1 }}
            </p>
            <p class="m-0 caption text-hint">Correo Electronico</p>
          </div>
        </div>

        <!-- <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <div @scaleIn [ngStyle]="{'background': colorCalificacion()}"
                        class="w-10 h-10 rounded-full  text-light ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        {{participe.calificacionCredito}}
                    </div>

                    <div @fadeInRight> 
                        <h2 class="m-0 body-1" *ngIf="participe.calificacionCredito"  [ngStyle]="{'color': colorCalificacion()}" > Categoría {{participe.calificacionCredito}}</h2> 
                        <p class="m-0 caption text-hint">Calificación de Crédito</p>
                    </div>
                    </div> -->

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center"
          >
            <ic-icon [icon]="icSearch" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1" *ngIf="participe">
              {{ participe["codigoUniformado"] }}
            </p>
            <p class="m-0 caption text-hint">Codigo Uniformado</p>
          </div>
        </div>

        <div
          class="py-3"
          fxLayout="row"
          fxLayoutAlign="start center"
          *ngIf="participe['direcciones'].length != 0"
        >
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center"
          >
            <ic-icon [icon]="icLocationCity" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p
              class="m-0 body-1"
              *ngIf="participe['direcciones'][0]['callePrincipal']"
            >
              {{ participe["direcciones"][0]["callePrincipal"] }}
            </p>
            <p class="m-0 caption text-hint">Dirección</p>
          </div>
        </div>

        <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
          <div
            @scaleIn
            class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center"
          >
            <ic-icon [icon]="icPhone" size="20px"></ic-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1" *ngIf="participe">
              {{ participe.celular }}
            </p>
            <p class="m-0 caption text-hint">Telefono</p>
          </div>
        </div>
        <div class="py-3" fxLayout="row" fxLayoutAlign="start center"></div>
      </div>
    </div>
  </div>
</div>
