<div [@stagger]="true" class="p-gutter" vexContainer>

  <mat-horizontal-stepper #stepper="matHorizontalStepper" (selectionChange)="setIndex($event)"  [linear]="true">
    <ng-template matStepperIcon="edit">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
        <mat-icon [icIcon]="icDoneAll"></mat-icon>
    </ng-template>

    <mat-step [completed]="idParticipe != 0">
      <ng-template matStepLabel>Actualizar cesante</ng-template>
      <vex-actualizar-datos (emitirParticipe)="getIdParticipe($event)" (emitirEstado)="getEstado($event)" [esRegistro]="esRegistro"></vex-actualizar-datos>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Datos del cesante</ng-template>
      <vex-datos-cesante [tiposCesantes]="tiposCesantes" [idParticipe]="idParticipe"></vex-datos-cesante>
    </mat-step>

  </mat-horizontal-stepper>

</div>
