<p-timeline *ngIf="comentarios.length" [value]="comentarios" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
        <span class="custom-marker p-shadow-2">
            <i [ngClass]="event.icon"></i>
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <p-card [header]="event.funcionario" [subheader]="event.fecha | date: 'dd/MM/yyyy h:mm a'">
            <div [innerHTML]="event.observaciones"></div>
            <mat-divider></mat-divider>
            <br>
            <div *ngIf="event.adjuntos.length > 0">
                <p style="color:black; font-weight: bold;">Archivos adjuntos</p>
                <div *ngFor="let adjunto of event.adjuntos" class="adjunto" (click)="verAdjuntoComentario(adjunto)">
                    <button mat-icon-button>
                        <mat-icon style="padding-top: 2%;" color="primary" class="icon" [icIcon]="icPdf"></mat-icon>
                    </button>
                    <span>{{adjunto?.path}}</span>

                    <br>
                </div>
            </div>
        </p-card>
    </ng-template>
</p-timeline>