<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="flex justify-between">

            <div class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out"
                matRipple (click)="descargarPDF()" target="_blank">
                <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon color="primary" fontIcon="fa-download" class="icon" fontSet="fa"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-primary">Cuenta Individual</p>
            </div>

            <div target="_blank" *ngIf="!noPermitido"
                class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-green-light trans-ease-out"
                matRipple (click)="abrirSolicitudCredito()">
                <div @scaleIn class="p-2 rounded-full bg-green-light text-green ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icSearch" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-green">Solicitud de Crédito</p>
            </div>

            <div class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-cyan-light trans-ease-out"
                matRipple (click)="abrirActualizarDatos()">
                <div class="p-2 bg-cyan-light text-cyan rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icSearch" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-cyan">Actualizar Datos</p>
            </div>
        </div>

        <div class="card" style="margin-top: 2%;">
            <div class="px-gutter py-4 border-b" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="title m-0">Información del Partícipe</h2>
                </div>

                <div class="py-3" fxLayout="row" fxLayoutAlign="center">
                    <div @scaleIn [ngStyle]="{'background': colorCalificacion()}"
                        class="w-10 h-10 rounded-full  text-light ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        {{dataParticipe?.calificacionCredito}}
                    </div>

                    <div @fadeInRight>
                        <h2 class="m-0 body-1" *ngIf="dataParticipe?.calificacionCredito"
                            [ngStyle]="{'color': colorCalificacion()}" style="font-weight: bold;"> Categoría
                            {{dataParticipe?.calificacionCredito}}</h2>
                        <p class="m-0 caption text-hint">Calificación de Crédito</p>
                    </div>
                </div>
            </div>

            <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">

                    <div @scaleIn
                        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        <ic-icon [icon]="icCreditCard" size="20px"></ic-icon>
                    </div>

                    <div @fadeInRight>
                        <p class="m-0 body-1" *ngIf="dataParticipe">{{dataParticipe['identificacion']}}</p>
                        <p class="m-0 caption text-hint">Cédula del partícipe</p>
                    </div>
                </div>

                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <div @scaleIn
                        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        <ic-icon [icon]="icAssignment" size="20px"></ic-icon>
                    </div>

                    <div @fadeInRight *ngIf="dataParticipe">

                        <span [ngSwitch]="dataParticipe['estado']">
                            <ng-template [ngSwitchCase]="'Aprobado'">
                                <p class="m-0 body-1" style="color: green; font-weight: 800">{{dataParticipe['estado']}}
                                </p>
                            </ng-template>
                            <ng-template [ngSwitchCase]="'Rechazado'">
                                <p class="m-0 body-1" style="color: red; font-weight: 800">{{dataParticipe['estado']}}
                                </p>
                            </ng-template>
                            <ng-template [ngSwitchCase]="'Pendiente'">
                                <p class="m-0 body-1" style="color: blue; font-weight: 800">{{dataParticipe['estado']}}
                                </p>
                            </ng-template>
                            <ng-template [ngSwitchCase]="'Cesado'">
                                <p class="m-0 body-1" style="color: #ff05a7; font-weight: 800">
                                    {{dataParticipe['estado']}}</p>
                            </ng-template>

                            <ng-template ngSwitchDefault>
                                <p class="m-0 body-1" style="color: orange; font-weight: 800;">No Adherido</p>
                            </ng-template>
                        </span>

                        <span *ngIf="dataParticipe['esPasivo']" style="color: #ca16cd">
                            (Pasivo)
                        </span>



                        <p class="m-0 caption text-hint">Estado del Partícipe</p>
                    </div>
                </div>

                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <div @scaleIn
                        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        <ic-icon [icon]="icEmail" size="20px"></ic-icon>
                    </div>

                    <div @fadeInRight>
                        <p class="m-0 body-1" *ngIf="dataParticipe">{{dataParticipe.correo1}}</p>
                        <p class="m-0 caption text-hint">Correo Electrónico</p>
                    </div>
                </div>

                <!-- <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <div @scaleIn [ngStyle]="{'background': colorCalificacion()}"
                        class="w-10 h-10 rounded-full  text-light ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        {{dataParticipe.calificacionCredito}}
                    </div>

                    <div @fadeInRight> 
                        <h2 class="m-0 body-1" *ngIf="dataParticipe.calificacionCredito"  [ngStyle]="{'color': colorCalificacion()}" > Categoría {{dataParticipe.calificacionCredito}}</h2> 
                        <p class="m-0 caption text-hint">Calificación de Crédito</p>
                    </div>
                    </div> -->


                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <div @scaleIn
                        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        <ic-icon [icon]="icSearch" size="20px"></ic-icon>
                    </div>

                    <div @fadeInRight>
                        <p class="m-0 body-1" *ngIf="dataParticipe">{{dataParticipe['codigoUniformado']}}</p>
                        <p class="m-0 caption text-hint">Código Uniformado</p>
                    </div>
                </div>

                <div class="py-3" fxLayout="row" fxLayoutAlign="start center"
                    *ngIf="dataParticipe['direcciones'].length != 0">
                    <div @scaleIn
                        class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
                        <ic-icon [icon]="icLocationCity" size="20px"></ic-icon>
                    </div>

                    <div @fadeInRight>
                        <p class="m-0 body-1" *ngIf="dataParticipe['direcciones'][0]['callePrincipal']">
                            {{dataParticipe['direcciones'][0]['callePrincipal']}}
                        <p class="m-0 caption text-hint">Dirección</p>
                    </div>

                </div>

                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <div @scaleIn
                        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                        <ic-icon [icon]="icPhone" size="20px"></ic-icon>
                    </div>

                    <div @fadeInRight>
                        <p class="m-0 body-1" *ngIf="dataParticipe">{{dataParticipe.celular}}</p>
                        <p class="m-0 caption text-hint">Teléfono</p>
                    </div>
                </div>
                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">

                </div>

                <div class="py-3" fxLayout="column" fxLayoutAlign="end end">
                    <button mat-raised-button color="primary" (click)="historialCambios()">Historial cambios</button>
                </div>


            </div>
        </div>

        <div class="card mt-6">
            <div class="bg-white rounded-t p-6" (click)="comentar('nuevo')">
                <textarea #textarea cdkTextareaAutosize class="w-full textarea-clean bg-white"
                    placeholder="Ingresar comentario de actividad..." [(ngModel)]="observaciones"></textarea>
            </div>

            <div class="bg-app-bar flex">
                <span class="flex-1"></span>

                <!-- <button class="text-secondary uppercase font-medium bg-primary text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl" mat-button type="button" (click)="comentar('nuevo')">
                <span style="color: white;">ENVIAR</span>
            </button> -->
            </div>
        </div>


        <!-- Actividades -->

        <!-- No tiene actividades -->
        <div style="display: flex; flex-wrap: wrap;" *ngIf="actividad.length == 0">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">No tiene actividad resgistrada</h2>
            </div>
        </div>

        <!-- Si tiene actividades -->
        <div class="row">
            <div class="col-12" *ngFor="let item of actividad2">
                <div class="card mt-6">
                    <vex-actividades [dataActividad]="item">
                    </vex-actividades>
                </div>
            </div>

        </div>

    </div>

    <div class="flex-none max-w-unset md:max-w-xs w-full md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
        <!-- Garantizados -->
        <div class="card">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Garantizados</h2>
            </div>

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px"
                *ngIf="dataPrestamosGarantizados?.length != 0">
                <div *ngFor="let garantizados of dataPrestamosGarantizados;" fxLayout="row"
                    fxLayoutAlign="start center">
                    <img @scaleIn src="assets/img/sinPerfil.jpg" alt="Profile Picture" class="avatar ltr:mr-3 rtl:ml-3"
                        fxFlex="none" />
                    <div @fadeInRight fxFlex="auto">
                        <h4 class="body-2 m-0 leading-snug">{{garantizados["nombre"]}}</h4>
                        <h5 class="text-secondary m-0 caption leading-none">Garantizados</h5>
                    </div>
                    <!-- Direccionar al prestamo -->
                    <!-- <button color="primary" mat-icon-button type="button" (click)="detallePrestamo(garantizados['prestamo']['idPrestamo'], garantizados['prestamo']['estado'], garantizados['prestamo']['idParticipe'])">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button> -->

                    <!-- Direccionar al participe -->
                    <button color="primary" mat-icon-button type="button"
                        (click)="irParticipe(garantizados['identificacion'])">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- <div *ngIf="dataPrestamosGarantizados.length == 0" style="display: flex; justify-content: center; align-items: center; background: white; margin: auto; margin-top: 1%;">
                <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div> -->

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px"
                *ngIf="dataPrestamosGarantizados?.length == 0">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h6 style="color: gray;">Sin garantizados</h6>
                </div>
            </div>
        </div>

        <!-- Garantes -->
        <div class="card" style="margin-top: 4%;">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Garantes</h2>
            </div>

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px"
                *ngIf="dataPrestamosGarantes?.length != 0">
                <div *ngFor="let garantes of dataPrestamosGarantes;" fxLayout="row" fxLayoutAlign="start center">
                    <img @scaleIn src="assets/img/sinPerfil.jpg" alt="Profile Picture" class="avatar ltr:mr-3 rtl:ml-3"
                        fxFlex="none" />
                    <div @fadeInRight fxFlex="auto">
                        <h4 class="body-2 m-0 leading-snug">{{garantes["nombre"]}}</h4>
                        <h5 class="text-secondary m-0 caption leading-none">Garantes</h5>
                    </div>
                    <button color="primary" mat-icon-button type="button"
                        (click)="detallePrestamo(garantes['prestamo']['idPrestamo'], garantes['prestamo']['estado'], garantes['prestamo']['idParticipe'])">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button>
                </div>
            </div>

            <!-- <div *ngIf="dataPrestamosGarantes.length == 0" style="display: flex; justify-content: center; align-items: center; background: white; margin: auto; margin-top: 1%;">
                <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div> -->

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px"
                *ngIf="dataPrestamosGarantes?.length == 0">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h6 style="color: gray;">Sin garantes</h6>
                </div>
            </div>
        </div>

        <!-- Garantias -->
        <div class="card" style="margin-top: 4%;">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Garantías</h2>
            </div>

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px"
                *ngIf="dataParticipeGarantias?.length != 0">
                <div *ngFor="let garantia of dataParticipeGarantias;" fxLayout="row" fxLayoutAlign="start center">
                    <img @scaleIn src="assets/img/sinPerfil.jpg" alt="Profile Picture" class="avatar ltr:mr-3 rtl:ml-3"
                        fxFlex="none" />
                    <div @fadeInRight fxFlex="auto">
                        <h4 class="body-2 m-0 leading-snug">{{garantia["descripcion"]}}</h4>
                        <h5 class="text-secondary m-0 caption leading-none">{{garantia["propietario"]}}</h5>
                    </div>
                    <!-- <button color="primary" mat-icon-button type="button" (click)="detallePrestamo(garantia['prestamo']['idPrestamo'], garantia['prestamo']['estado'], garantia['prestamo']['idParticipe'])">
                        <mat-icon [icIcon]="icSearch"></mat-icon>
                    </button> -->
                </div>
            </div>

            <!-- <div *ngIf="dataParticipeGarantias.length == 0" style="display: flex; justify-content: center; align-items: center; background: white; margin: auto; margin-top: 1%;">
                <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div> -->

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px"
                *ngIf="dataParticipeGarantias?.length == 0">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h6 style="color: gray;">Sin garantías</h6>
                </div>
            </div>
        </div>

        <!-- Comprobantes -->
        <div class="card" style="margin-top: 4%;">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Comprobantes</h2>
            </div>


            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px" *ngIf="dataComprobantes.length != 0">


                <div *ngFor="let comprobante of dataComprobantes;" fxLayout="row" fxLayoutAlign="start center">


                    <div class="comprobante">
                        <h4 class="body-2 m-0 leading-snug" style="    white-space: pre-line;
                        width: 134px;
                        font-size: 12px;">
                            {{comprobante["descripcion"]}}</h4>
                        <h5 style="white-space: pre-line;
                        width: 134px;
                        font-size: 12px;">{{comprobante["numeroComprobante"]}}
                        </h5>
                        <h5 class="text-secondary m-0 caption leading-none">{{comprobante["fechaEmision"] | date:
                            'dd/MM/yyyy'}}
                        </h5>

                    </div>
                    <div style="margin-left: 32%; padding-top: 1%;">
                        <button [matMenuTriggerFor]="menu" matTooltip="Descargar" #menuTrigger class="head-buttons"
                            mat-button="mat-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu xPosition="before" #menu="matMenu">


                            <a mat-icon-button type="button" class="linkbutton"
                                (click)="descargarArchivo(comprobante['xml'])">
                                <mat-icon class="linkiconbutton">description </mat-icon>
                                <span>Descargar XML</span>
                            </a>

                            <a mat-icon-button type="button" class="linkbutton"
                                (click)="descargarArchivo(comprobante['ride'])">
                                <mat-icon class="linkiconbutton"> picture_as_pdf </mat-icon>
                                <span>Descargar RIDE</span>
                            </a>

                            <a mat-icon-button type="button" class="linkbutton"
                                (click)="enviarComprobante(comprobante['correo'], comprobante['id'] )">
                                <mat-icon class="linkiconbutton"> email </mat-icon>
                                <span>Enviar comprobante</span>
                            </a>


                        </mat-menu>


                    </div>
                </div>
            </div>

            <div @stagger class="px-6 py-4" fxLayout="column" fxLayoutGap="16px" *ngIf="dataComprobantes.length == 0">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <h6 style="color: gray;">Sin comprobantes</h6>
                </div>
            </div>
        </div>
    </div>
</div>