<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div>
    <div class="head-modal" fxLayoutAlign="start center">
        <h2 text-center="text-center" class="head-title">Agregar Dirección</h2>
        <button class="simple-button" mat-dialog-close={{null}} mat-icon-button="mat-icon-button" type="button">
            <mat-icon [icIcon]="icroundClose"></mat-icon>
        </button>
    </div>
    <form [formGroup]="datosDireccion">
        
          
              <div class="titulovalor" style="margin-top: 0%">
                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Tipos de Dirección</mat-label>
                    <mat-select 
                                formControlName="idTipoDireccion"
                                required>
                        <mat-option
                                *ngFor="let tipo of tiposDireccion"
                                [value]="tipo.idTipoDireccion"
                                (click)="selectedTipoDirieccion(tipo)">
                                {{ tipo.descripcion }}
                    </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idTipoDireccion').errors">{{getErrorMessage(datosDireccion.get('idTipoDireccion'),"Campo Inválido")}}</mat-error>
                </mat-form-field>



                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Provincia</mat-label>
                    <mat-select formControlName="idProvincia"
                                (selectionChange)="seleccionarProvincia($event.value)"
                                required>
                        <mat-option
                            *ngFor="let provincia of provincias"
                            [value]="provincia.idProvincia">
                            {{ provincia.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idProvincia').errors">{{getErrorMessage(datosDireccion.get('idProvincia'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Ciudad</mat-label>
                    <mat-select formControlName="idCanton"
                                required
                                (selectionChange)="seleccionarCuidad($event.value)">
                        <mat-option
                            *ngFor="let ciudad of ciudades"
                            [value]="ciudad.idCiudad">
                            {{ ciudad.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idCanton').errors">{{getErrorMessage(datosDireccion.get('idCanton'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Parroquia</mat-label>
                    <mat-select formControlName="idParroquia"
                                required>
                        <mat-option
                            *ngFor="let parroquia of parroquias"
                            [value]="parroquia.idParroquia">
                            {{ parroquia.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idParroquia').errors">{{getErrorMessage(datosDireccion.get('idParroquia'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Sector</mat-label>
                    <mat-select  formControlName="sector">
                        <mat-option
                                *ngFor="let sector of sectores"
                                [value]="sector">
                                {{ sector}}
                    </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('sector').errors">{{getErrorMessage(datosDireccion.get('sector'),"Campo Inválido")}}</mat-error>
                </mat-form-field>


                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Calle principal</mat-label>
                    <input  formControlName="callePrincipal"
                        matInput>
                        <mat-error  *ngIf="datosDireccion.get('callePrincipal').errors">{{getErrorMessage(datosDireccion.get('callePrincipal'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Calle secundaria</mat-label>
                    <input  formControlName="calleSecundaria"
                        matInput>
                        <mat-error  *ngIf="datosDireccion.get('calleSecundaria').errors">{{getErrorMessage(datosDireccion.get('calleSecundaria'),"Campo Inválido")}}</mat-error>
                </mat-form-field>
                
                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Referencia</mat-label>
                    <input  formControlName="referencia"
                   matInput>
                   <mat-error  *ngIf="datosDireccion.get('referencia').errors">{{getErrorMessage(datosDireccion.get('referencia'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

            
            </div>   
    </form>
    <mat-dialog-actions align="end">
        <button [disabled]="datosDireccion.invalid"
            class="forms-full-button" mat-button="mat-button" (click)="saveDireccion()">GUARDAR</button>
    </mat-dialog-actions>
</div>