<div>
                   
    <div style="display: flex;
    justify-content: end;"><button 
       (click)="openDialog()"
        matTooltip="Agregar Dirección"
        class="head-buttons"
        mat-button="mat-button">
        <mat-icon  [icIcon]="icroundAdd"  ></mat-icon>
    </button>
    </div>
    
    <div *ngIf="direcciones.length==0">
        No hay direcciones
    </div>
    <form [formGroup]="datosDireccion">
        
        
        <mat-accordion class="example-headers-align" *ngIf="direcciones.length!=0">
       
          <div *ngFor="let item of direcciones; let i=index">

            <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Dirección {{i+1}} <div  *ngIf="item.esPrincipal"> (Principal)</div> </mat-panel-title>
                <mat-panel-description style="display:flex; justify-content: end;">
                    &nbsp;
                    &nbsp; 
                        <mat-icon  (click)="eliminarDireccion(item)"
                        matTooltip="Eliminar Dirección" [icIcon]="icroundDelete"  >
                        </mat-icon>
           
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <div class="titulovalor" style="margin-top: 0%">
                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Tipos de Dirección</mat-label>
                    <mat-select [id]="'idTipoDireccion'+i"
                                [formControlName]="'idTipoDireccion'+i"
                                required>
                        <mat-option
                            *ngFor="let tipo of tiposDireccion"
                            [value]="tipo.idTipoDireccion"
                            (click)="selectedTipoDirieccion(tipo,i)">
                            {{ tipo.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idTipoDireccion'+i).errors">{{getErrorMessage(datosDireccion.get('idTipoDireccion'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>


                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Provincia</mat-label>
                    <mat-select [id]="'idProvincia'+i"
                                [formControlName]="'idProvincia'+i"
                                required>
                        <mat-option
                            *ngFor="let provincia of provincias"
                            [value]="provincia.idProvincia">
                            {{ provincia.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idProvincia'+i).errors">{{getErrorMessage(datosDireccion.get('idProvincia'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Ciudad</mat-label>
                    <mat-select [id]="'idCanton'+i"
                                [formControlName]="'idCanton'+i"
                                required
                                (selectionChange)="seleccionarCuidad($event.value,i)">
                        <mat-option
                            *ngFor="let ciudad of datosDireccion.value['ciudades'+i]"
                            [value]="ciudad.idCiudad">
                            {{ ciudad.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idCanton'+i).errors">{{getErrorMessage(datosDireccion.get('idCanton'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Parroquia</mat-label>
                    <mat-select [id]="'idParroquia'+i"
                                [formControlName]="'idParroquia'+i"
                                required>
                        <mat-option
                            *ngFor="let parroquia of datosDireccion.value['parroquias'+i]"
                            [value]="parroquia.idParroquia">
                            {{ parroquia.descripcion }}
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="datosDireccion.get('idParroquia'+i).errors">{{getErrorMessage(datosDireccion.get('idParroquia'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>


                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Calle principal</mat-label>
                    <input  [id]="'callePrincipal'+i"
                            [formControlName]="'callePrincipal'+i"
                            required
                        matInput>
                <mat-error  *ngIf="datosDireccion.get('callePrincipal'+i).errors">{{getErrorMessage(datosDireccion.get('callePrincipal'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Calle secundaria</mat-label>
                    <input  [id]="'calleSecundaria'+i"
                    [formControlName]="'calleSecundaria'+i"
                    required
                        matInput>
                    <mat-error  *ngIf="datosDireccion.get('calleSecundaria'+i).errors">{{getErrorMessage(datosDireccion.get('calleSecundaria'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>
                
                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Referencia</mat-label>
                    <input  [id]="'referencia'+i"
                    [formControlName]="'referencia'+i"
                   matInput>
                   <mat-error  *ngIf="datosDireccion.get('referencia'+i).errors">{{getErrorMessage(datosDireccion.get('referencia'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>

            
            </div>
          
              <mat-action-row >
                <button color="primary" mat-raised-button (click)="actualizarDireccion(i)"  >ACTUALIZAR</button>
                <button mat-raised-button mat-button  *ngIf="step!=0" (click)="prevStep()">Anterior</button>
                <button color="primary" mat-raised-button *ngIf="step!=direcciones.length-1" (click)="nextStep()">Siguiente</button>
              </mat-action-row>
              
            </mat-expansion-panel>
          
          </div>
           
          
          </mat-accordion>

       
    </form>
</div>