<div mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Carga Familiar</h4>
    </div>

    <form [formGroup]="formCargaFamiliar">
        <mat-form-field class="example-full-width">
            <mat-label>Número de cédula</mat-label>
            <input [readonly]="data.visualizationMode" matInput formControlName="cedula" maxlength="10" required>
            <mat-error *ngIf="formCargaFamiliar.get('cedula').hasError('required')">
                El número de cédula es requerido
            </mat-error>

            <mat-error *ngIf="formCargaFamiliar.get('cedula').hasError('pattern')">
                El número de cédula debe ser numérico
            </mat-error>

            <mat-error *ngIf="formCargaFamiliar.get('cedula').hasError('minlength') ">
                La cédula debe tener al menos 10 caracteres
            </mat-error>


        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input matInput [readonly]="data.visualizationMode" (keydown)="utils.validacionSoloLetras($event)"
                formControlName="nombresCompletos" required>
            <mat-error *ngIf="formCargaFamiliar.get('nombresCompletos').hasError('required')">
                El nombre es requerido
            </mat-error>
            <mat-error *ngIf="formCargaFamiliar.get('nombresCompletos').hasError('pattern')">
                El nombre debe ser alfabético
            </mat-error>
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <mat-label>Fecha de nacimiento</mat-label>
            <input [readonly]="data.visualizationMode" matInput max="{{utils.fechaActual() | date:'yyyy-MM-dd'}}"
                [matDatepicker]="picker4" formControlName="fechaNacimiento" required>
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
            <mat-error *ngIf="formCargaFamiliar.get('fechaNacimiento').hasError('required')">
                La fecha de nacimiento es requerida
            </mat-error>
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <mat-label>Parentesco</mat-label>
            <mat-select required formControlName="idParentezco">
                <mat-option [disabled]="data.visualizationMode" *ngFor="let tipo of tiposParentesco"
                    [value]="tipo.idParentesco">{{tipo.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formCargaFamiliar.get('idParentezco').hasError('required')">
                El parentesco es requerido
            </mat-error>
        </mat-form-field>



        <section class="example-section" style="margin-bottom: 40px;">
            <label class="example-margin">¿Tiene discapacidad? *</label>
            <mat-radio-group [disabled]="data.visualizationMode" formControlName="discapacidad">
                <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>
            </mat-radio-group>

        </section>



        <section class="example-section" style="margin-bottom: 40px;">
            <label class="example-margin">¿Aplica como carga? *</label>
            <mat-radio-group [disabled]="data.visualizationMode" formControlName="aplicaCarga" required>

                <mat-radio-button class="example-margin" [value]="true">Si</mat-radio-button>
                <mat-radio-button class="example-margin" [value]="false">No</mat-radio-button>

            </mat-radio-group>

        </section>


    </form>



</div>


<div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">
    <button *ngIf="!data.visualizationMode" style="color: #fff; background-color: #EF2E2E;" mat-raised-button
        (click)="onNoClick()">Cancelar</button>
    <button color="primary" mat-raised-button [disabled]="!formCargaFamiliar.valid"
        (click)="enviarFormulario(formCargaFamiliar.value)" cdkFocusInitial> {{data.visualizationMode ? 'Cerrar' :
        'Guardar'}}</button>
</div>