<div class="content">

    <div class="container">

        <br><br><br><br><br><br>
        <div class="card">
            <div style="padding: 5%;">
                <img class="imagen" src="../../../assets/img/logofcpc.png" alt="">
            </div>

            <div class="p-6 text-center hover:bg-hover trans-ease-out cursor-pointer relative" matRipple>
                <br><br><br><br>

                <img *ngIf="imagenParticipe != '' " [src]="imagenParticipe" class="avatar h-24 w-24 mx-auto">
                <img *ngIf="imagenParticipe == '' " [src]="noImagen" class="avatar h-24 w-24 mx-auto">

                <h2 class="title mb-1 mt-3">{{participe.razonSocial}}</h2>

                <div class="body-2 text-primary">
                    <ic-icon [icon]="icPhone" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                    <span>{{participe.celular}}</span>
                </div>

                <div class="body-2 text-primary">
                    <ic-icon [icon]="icPerson" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                    <span>{{participe.codigoUniformado}}</span>
                </div>

                <div class="body-2 text-primary">
                    <ic-icon [icon]="icCard" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                    <span>{{participe.identificacion}}</span>
                </div>

                <div class="body-2 text-primary">
                    <ic-icon [icon]="icDate" class="ltr:mr-1 rtl:ml-1" inline="true"></ic-icon>
                    <span>{{participe.fechaNacimiento | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>

            <div *ngIf="participe.estado" class="bg-app-bar p-2" fxLayout="row" fxLayoutAlign="space-around center">
                <span *ngIf="participe.estado == 'Aprobado'" class="badge badge-success"><h3>Aprobado</h3> </span>
                <span *ngIf="participe.estado != 'Aprobado'" class="badge badge-danger"> <h3>Rechazado</h3> </span>
            </div>
        </div>
    </div>
</div>