<div [formGroup]="datosGuardarContacto ">


    <div *ngIf="dataContactos.length > 0 && !loading">
        <section class="progress">
            <div class="progress-bar progress-bar-striped" style="width: 100%" aria-valuenow="100"></div>
        </section>

        <vex-view-table [actions]="menuOption" [menubutton]="true" [columns]="tableColumns" [data]="dataContactos"
            (actionMenu)="actionMenu($event)">
        </vex-view-table>

    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

        <mat-form-field class="vex-flex-form-field" fxFlex="auto"
            (click)="dataContactos.length == 0  && !visualizationMode ? openDialog() : ''">

            <mat-label>Seleccione el contacto en caso de emergencia</mat-label>
            <mat-select [disabled]="visualizationMode" required formControlName="idContacto"
                (selectionChange)="changeContactoEmergencia($event.value)">
                <mat-option *ngFor="let tipo of dataContactos" [value]="tipo.idContacto">

                    {{tipo.nombre | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="loading" *ngIf="loading">
        <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
    </div>


</div>