<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
  <div>
      <h6>Reabrir ticket de atención</h6>
      <br>
      <form [formGroup]="datosTicket" class="example-form">
        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                <mat-label>Motivo por el que se reabre el ticket:</mat-label>
                <textarea matInput formControlName="motivo"></textarea>
            </mat-form-field>
        </div>
      </form>
      <button style="float: right;" mat-raised-button color="primary" (click)="reabrirTicket()" >Reabrir Ticket</button>
  </div>