.mat-icon {
    font-size: 5rem;
    width: auto;
}

.content {
    grid-gap: 6rem !important;
    margin: 4rem;
}

.head-title{
    color: var(--COLOR-NEUTRAL-GRAY) ;
    line-height: 30px;
    font-weight: bold;
  }