<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
  <div class="card">
    <div class="head-app-bar">
        <h2 class="head-title">
        Tickets Internos
        </h2>        
        <div class="head-options">
            <div class="search-bar">
                <input     
                    [(ngModel)]="filterValue"
                    class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                    placeholder="Buscar..."
                    type="search"
                    (keyup.enter)="searchTerm(filterValue)">
                    <button
                        (click)="searchTerm(filterValue)"
                        class="head-buttons"
                        mat-button="mat-button"
                        matTooltip="Buscar">
                        <mat-icon  [icIcon]="icroundSearch"  ></mat-icon>
                    </button>
                </div>


                <mat-checkbox
                  style="margin-left: 20px"
                  color="primary"
                  (change)="cambiarAvanzado($event.checked)"
                  class="avanzado"
                  [checked]="busquedaAvanzada"
                >
                  <p>Búsqueda</p><p>Avanzada</p>
                </mat-checkbox>
               
            </div>
        </div>
        <tr class="backgraund-color-neutral-light-gray">
          <div *ngIf="!busquedaAvanzada else filters"></div>
        </tr>
          <p-treeTable
            #tt
            *ngIf="tickets.length > 0"
            [value]="files"
            [columns]="cols"
            [resizableColumns]="true"
            [paginator]="true"
            [loading]="isLoading"
            [rows]="tickets.pageSize"
            [totalRecords]="tickets.length"
            [lazy]="true"
            [rowsPerPageOptions]="[5,10, 20, 50]"
            [autoLayout]="true"
            (onPage)="onPaginator($event)"
        >
          <ng-template  pTemplate="header" let-columns>

            <tr>
              <th id="{{col.id}}" *ngFor="let col of cols" [ttSortableColumn]="col.field">
                {{ col.header }}
              </th>
            </tr>

          </ng-template>

          <ng-template
          pTemplate="body"
          let-rowNode
          let-rowData="rowData"
          let-columns="columns"
        >
          <tr [ngClass]="{ 'kb-row': rowData.prioridad.startsWith('Al') }">
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="i == 0"
              ></p-treeTableToggler>

              <span *ngIf="col.field == 'nombre'" style="font-size: smaller">
                {{ rowData[col.field] }}
              </span>

              <span *ngIf="col.field == 'asunto'" style="font-size: smaller">
                <vex-tooltips
                  [message]="rowData[col.field]"
                  [tooltip_message]="rowData.descripcion"></vex-tooltips>
              </span>

              <span *ngIf="col.field == 'tipoTarea' && rowData.area" style="font-size: smaller" class="margin: 4px 1px 0px 1px">
                {{ rowData[col.field] }}
                <br/>
                <span matTooltip="Area"  class="badge badge-neutro text-xs" style="width: -webkit-fill-available;">{{ rowData.area }}</span>
              </span>

              <div *ngIf="col.field == 'departamento'" style="font-size: smaller">
                {{ rowData[col.field] }}
                <p  *ngIf="!rowData.departamento" class="text-xs text-secondary leading-tight truncate mt-1"
                >"Sin asignar"</p>
              </div>

              <span *ngIf="col.field == 'estado'" style="font-size: smaller">
                {{ rowData[col.field] }}
                <br/>
                <span  *ngIf="rowData['espera'].dias <= 2"  class="badge badge-success text-xs" >
                  {{ rowData["espera"].dias }} d
                  {{ rowData["espera"].horas }} h
                  {{ rowData["espera"].minutos }} m
                </span>
                <span  *ngIf="rowData['espera'].days >2 && rowData['espera'].dias <= 5" class="badge badge-warning text-xs" >
                  {{ rowData["espera"].dias }} d
                  {{ rowData["espera"].horas }} h
                  {{ rowData["espera"].minutos }} m
                </span>
                <span  *ngIf="rowData['espera'].dias > 5"  class="badge badge-danger text-xs" >
                  {{ rowData["espera"].dias }} d
                  {{ rowData["espera"].horas }} h
                  {{ rowData["espera"].minutos }} m
                </span>
              </span>

              <span *ngIf="col.field == 'fecha'" style="font-size: smaller">
                {{ rowData["fecha"] }}
              </span>

              <span  *ngIf="col.field == 'prioridad'" >
                <span  *ngIf="rowData.prioridad.startsWith('Ur')" 
                      >Urgente</span>
                <span  *ngIf="rowData.prioridad.startsWith('Al')" 
                     >Alta</span>
                <span  *ngIf="rowData.prioridad.startsWith('Me')" 
                      >Media</span>
                <span  *ngIf="rowData.prioridad.startsWith('Ba')" 
                      >Baja</span>
              
              </span>

              <button *ngIf="col.field == 'acciones'" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu"   >
                <a  mat-icon-button type="button"  class="linkbutton" [routerLink]="['/tickets/detalle-ticket/' + rowData[col.field]]" target="_blank">
                    <mat-icon [fontIcon]="faTicketAlt" fontSet="fa" class="linkiconbutton" style="font-size: 100%; transform: rotate(45deg);" ></mat-icon>
                    <span>Ver Ticket</span>
                </a>
                <a  mat-icon-button type="button"  class="linkbutton" (click)="eliminarTicket(rowData)">
                  <mat-icon [icIcon]="icroundDelete" class="linkiconbutton"></mat-icon>
                  <span>Anular Ticket</span>
                </a>           
            </mat-menu>
            </td>
          </tr>
        </ng-template>
        </p-treeTable>
      </div>
      
      <div *ngIf="tickets.length === 0 && !isLoading">
        <vex-info-message [message]='infoMessage' [icon]='icroundLocalPlay' [typeicon]="'icIcon'"></vex-info-message>
     </div>

        <div *ngIf="isLoading" class="loading">
            <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
        </div>

<!-- Busqueda avanzada -->
<ng-template  #filters let-columns>
 
  <div  class="head-filter" style="display: flex; text-align: center;">
    <mat-label class="filter-label">Filtro Avanzado</mat-label>
    <div class="conten-button-filter">
      <button
      (click)="cargarTickets(currentPage, 10)"
      mat-button="mat-button"
      class="forms-full-button clear-filters"
    >
      <mat-icon [icIcon]="icroundDelete">Borrar</mat-icon><span>Limpiar Filtros</span>
    </button>
  </div>
  </div>
  <div class="filter-box">

        <mat-form-field appearance="outline">
        <mat-label>Departamento</mat-label>
        <mat-select
          disableRipple
          [formControl]="controlDepartment"
          [(value)]="selectedDepartment"
          (selectionChange)="searchDeparment( $event.value.idDepartamento)"
        >
          <mat-option
            *ngFor="let departamento of departamentos"
            [value]="departamento"
            >{{ departamento.descripcion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Área</mat-label>
        <mat-select
          disableRipple
          [formControl]="controlArea"
          [(value)]="selectedArea"
          (selectionChange)="searchArea($event.value.idArea)"
        >
          <mat-option
            *ngFor="let area of selectArea"
            [value]="area"
            >{{ area.descripcion }}
            </mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo de Tarea</mat-label>
        <mat-select
          disableRipple
          [formControl]="controlTypeTask"
          (selectionChange)="  searchTaskType($event.value.idTipoTarea)"
        >
          <mat-option
            *ngFor="let task of selecttaskType"
            [value]="task"
            >{{ task.descripcion }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" >
          <mat-label>Prioridad</mat-label>
          <mat-select
            disableRipple
            [formControl]="controlPriority"
            (selectionChange)=" searchPriority( $event.value.valor)"
          >
            <mat-option
              *ngFor="let prioridad of prioridades"
              [value]="prioridad"
              >{{ prioridad.descripcion }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rango de Fecha</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker" (keyup.enter)="searchRangeDate(null,null)">
            <input matStartDate placeholder="Inicio" formControlName="start">
            <input matEndDate placeholder="Fin" formControlName="end">
          </mat-date-range-input>
          <mat-hint>MM-DD-YYYY – MM-DD-YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker disabled="false">
            <mat-datepicker-actions>
              <button mat-raised-button
              (click)="searchRangeDate(null,null)"
             matDatepickerCancel>Borrar</button>
              <button
                mat-raised-button
                color="primary"
                (click)="searchRangeDate(range.value.start, range.value.end)"
                matDatepickerApply
              >
                Aplicar
              </button>
            </mat-datepicker-actions>
          </mat-date-range-picker>
        </mat-form-field> 
    </div>
    
</ng-template>