<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando Aportes...</p>
</ngx-spinner>
 
<vex-page-layout>

    <vex-page-layout-header class="page-head">
        <!-- cabecera -->
        <div @fadeInRight class="head-icon">
            <mat-icon [icIcon]="icroundUploadFile"></mat-icon>
            <h3 class="head-icon-title text-center"> Aportes</h3>
        </div>
    </vex-page-layout-header>

    <div @stagger>
         <div class="text-center  header">
            <div class="container">

                <div class="card">
                    <div class="mat-selects">

                        <mat-form-field  class="mat-select">
                            <mat-label class="labelForm">Fecha</mat-label>
                            <input
                                id="fecha"
                                required="required"
                                [matDatepicker]="datepickerfecha"
                                [formControl]="date" 
                                type='datetime'
                                max="{{today | date:'yyyy-MM-dd'}}"
                                (ngModelChange)="setMonthAndYear($event)"
                                matInput >
                                <mat-datepicker-toggle
                                        [for]="datepickerfecha"
                                        class="block"
                                        matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #datepickerfecha></mat-datepicker>
                                <mat-error *ngIf="date.invalid">No existen registros para esa fecha</mat-error>
                        </mat-form-field>

                      <!--   <vex-mat-datepicker-month-year
                            class="mat-select"
                            (date_month_year_value)="setMonthAndYear($event)"></vex-mat-datepicker-month-year> -->


                    </div>

                    <p><b>CARGAR EXCEL DE APORTES</b></p>
                    <div >
                        <vex-files-upload [extensions]="['xls','xlsx']"></vex-files-upload>
                    </div>
                    <br>
                        <button
                            mat-raised-button="mat-raised-button"
                            [disabled]="!mes || !anio"
                            color="primary"
                            type="button"
                            id="excel"
                            class="forms-full-button button-download"
                            (click)="generar()">
                            <mat-icon style="height: 18px" [icIcon]="icroundFileUpload"></mat-icon>
                            <span style="margin-left: 4px">Cargar Aportes</span>
                        </button>
                    </div> 
                </div>
            </div>
        </div>
        <vex-page-layout-content
            [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="-mt-6">
             <vex-aportes *ngIf="aportes.length !== 0"
                [habilitarGuardar]="habilitarGuardar"
                [dataFondoSource]="aportes"
                [isLoading]="isLoading"
                [title]="'Aportes Mensuales'"
                [footerdata]="totales"
                (guardar)="solicitarCargaAportes($event)"></vex-aportes> 
                
        <div *ngIf="showNoDataAportes">
            <vex-info-message
                [message]='infoMessage'
                [icon]='icroundRequestPage'
                [typeicon]="'icIcon'"></vex-info-message>
        </div>
        </vex-page-layout-content> 
    </vex-page-layout>
    
