<vex-page-layout>
    <vex-page-layout-header class="page-head">
        <!-- cabecera -->
        <div class="head-icon">
            <h2 class="headline text-primary-contrast m-0 flex items-center w-full max-w-xxxs mr-6">
                <mat-icon [icIcon]="icroundAttachFile" class="icon"></mat-icon>
                <span @fadeInRight class="ml-4 block">Datos del Partícipe</span>
            </h2>
        </div>
    </vex-page-layout-header>

    <div @stagger class="p-gutter" vexContainer>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Cargando...</p>
        </ngx-spinner>

        <div @fadeInUp class="card overflow-hidden">

            <vex-page-layout-content class="vex-tabs p-0" vexContainer>
                <div class="p-6">
                    <form [formGroup]="accountFormGroup">
                        <ng-template matStepLabel>Datos</ng-template>


                        <div class="subheading-1" style="font-weight: bold;">Datos Personales</div>
                        <div class="mt-4" fxLayout="column" fxLayoutGap="8px" *ngIf="participe">
                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Nombres</mat-label>
                                    <input readonly formControlName="nombre" matInput [(ngModel)]="participe.nombres">
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Apellidos</mat-label>
                                    <input readonly formControlName="name" matInput [(ngModel)]="participe.apellidos">
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label>Estado civil</mat-label>
                                    <input readonly formControlName="estadoCivil" matInput
                                        [(ngModel)]="participe.estadoCivil">
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                                <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Cédula</mat-label>
                                        <input readonly formControlName="cedula" matInput
                                            [(ngModel)]="participe.identificacion">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Nacionalidad</mat-label>
                                        <input readonly formControlName="nacionalidad" matInput
                                            [(ngModel)]="participe.nacionalidad">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto" *ngIf="direccion">
                                        <mat-label>Provincia</mat-label>
                                        <mat-select readonly [(value)]="direccion.idProvincia">
                                            <mat-option disabled *ngFor="let nivel of provincias"
                                                [value]="nivel.idProvincia">{{nivel.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto" *ngIf="direccion">
                                        <mat-label>Ciudad</mat-label>
                                        <mat-select readonly [(value)]="direccion.idCanton">
                                            <mat-option disabled *ngFor="let nivel of ciudades"
                                                [value]="nivel.idCiudad">{{nivel.descripcion}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>

                            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                                <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Género</mat-label>
                                        <input readonly formControlName="genero" matInput
                                            [(ngModel)]="participe.genero">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Fecha de nacimiento</mat-label>
                                        <input readonly formControlName="fechanacimiento" matInput
                                            [ngModel]="participe.fechaNacimiento | date:'dd-MM-yyyy'">
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label>Fecha de expedición cédula</mat-label>
                                        <input readonly formControlName="expedicioncedula" matInput
                                            [ngModel]="participe.fechaExpedicionCedula | date:'dd-MM-yyyy'">
                                    </mat-form-field>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <mat-tab-group (selectedTabChange)="selectedTabValue($event)">
                    <mat-tab [label]="firtTab">
                        <div class="p-6">
                            <form [formGroup]="accountFormGroup">

                                <div class="subheading-1" style="font-weight: bold;">Datos de Contacto</div>

                                <div class="mt-4" fxLayout="column" fxLayoutGap="8px" *ngIf="participe">

                                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px"
                                        fxLayoutGap.gt-xs="24px">

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Dirección</mat-label>
                                            <input *ngIf="participe.direcciones[0]" readonly
                                                formControlName="calleprincipal" matInput
                                                [(ngModel)]="participe.direcciones[0].callePrincipal">
                                            <input *ngIf="!participe.direcciones[0]" readonly
                                                formControlName="calleprincipal" matInput [(ngModel)]="sinInformacion">
                                        </mat-form-field>

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Referencia</mat-label>
                                            <input *ngIf="participe.direcciones[0]" readonly
                                                formControlName="referencia" matInput
                                                [(ngModel)]="participe.direcciones[0].referencia">
                                            <input *ngIf="!participe.direcciones[0]" readonly
                                                formControlName="referencia" matInput [(ngModel)]="sinInformacion">

                                        </mat-form-field>

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Celular</mat-label>
                                            <input readonly formControlName="phone" matInput
                                                [(ngModel)]="participe.celular">
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px"
                                        fxLayoutGap.gt-xs="24px" *ngIf="participe">

                                        <mat-form-field fxFlex="auto">
                                            <mat-label>Correo 1</mat-label>
                                            <input readonly formControlName="email1" matInput
                                                [(ngModel)]="participe.correo1">
                                        </mat-form-field>

                                        <mat-form-field fxFlex="auto">
                                            <mat-label>Correo 2</mat-label>
                                            <input readonly formControlName="email2" matInput
                                                [(ngModel)]="participe.correo2">
                                        </mat-form-field>


                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Teléfono 1</mat-label>
                                            <input readonly formControlName="telefono1" matInput
                                                [(ngModel)]="participe.telefono1">
                                        </mat-form-field>

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Teléfono 2</mat-label>
                                            <input readonly formControlName="telefono2" matInput
                                                [(ngModel)]="participe.telefono2">
                                        </mat-form-field>

                                    </div>

                                </div>

                                <div class="subheading-1" style="font-weight: bold;">Información del Partícipe
                                </div>

                                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">

                                    <div fxFlex="auto" fxLayout="row" fxLayoutGap="8px">

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Grado</mat-label>
                                            <input readonly formControlName="grado" matInput
                                                [(ngModel)]="participe.grado">
                                        </mat-form-field>

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Nivel de ingreso</mat-label>
                                            <input readonly formControlName="nivelingreso" matInput
                                                [(ngModel)]="participe.nivelIngresos">
                                        </mat-form-field>

                                        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                            <mat-label>Nivel estudio</mat-label>
                                            <input readonly formControlName="nivelEstudios" matInput
                                                [(ngModel)]="participe.nivelEstudios">
                                        </mat-form-field>

                                    </div>

                                </div>

                                <div class="subheading-1" style="font-weight: bold;">Referencia Bancaria



                                </div>

                                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">

                                    <div *ngIf="showAgregarCuenta == true" class="card">
                                        <div class="card-body">

                                        </div>
                                    </div>



                                    <table *ngIf="!isLoading" id="mytable"
                                        class="table table-striped table-bordered table-sm row-border hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre del banco</th>
                                                <th scope="col">Tipo de cuenta</th>
                                                <th scope="col">Número de cuenta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of referenciaBancaria; index as i">
                                                <td>{{ data.nombreEntidadFinanciera }}</td>
                                                <td>{{ data.nombreTipoCuenta }}</td>
                                                <td>{{ data.numeroCuenta }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div *ngIf="referenciaBancaria?.length == 0">
                                        <h6>Sin información bancaria</h6>
                                    </div>

                                    <div *ngIf="isLoading"
                                        style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                                        <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                                        </mat-progress-spinner>
                                    </div>

                                </div>



                            </form>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="secondTab" *ngIf="estado != 'cesado'">
                        <div class="p-6">
                            <form [formGroup]="passwordFormGroup">
                                <ng-template matStepLabel>Firma y Cédula</ng-template>

                                <div class="flex-auto">
                                    <div class="row">
                                        <div class="col-4">
                                            <div *ngIf="!banderaFirma"
                                                style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                                                <mat-progress-spinner diameter="60" color="primary"
                                                    mode="indeterminate">
                                                </mat-progress-spinner>
                                            </div>

                                            <button *ngIf="banderaFirma" (click)="downloadImage(firma)"
                                                class="btn btn-primary">Ver firma</button>








                                        </div>
                                        <div class="col-4">
                                            <div *ngIf="!banderaCedulaPosterior"
                                                style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                                                <mat-progress-spinner diameter="60" color="primary"
                                                    mode="indeterminate">
                                                </mat-progress-spinner>
                                            </div>

                                            <button *ngIf="banderaCedulaPosterior"
                                                (click)="downloadImage(cedulaPosterior)" class="btn btn-primary">Ver
                                                cédula posterior</button>


                                        </div>
                                        <div class="col-4 ">
                                            <div *ngIf="!banderaCedulaFrontal"
                                                style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                                                <mat-progress-spinner diameter="60" color="primary"
                                                    mode="indeterminate">
                                                </mat-progress-spinner>
                                            </div>

                                            <button *ngIf="banderaCedulaFrontal" (click)="downloadImage(cedulaFrontal)"
                                                class="btn btn-primary">Ver cédula frontal</button>

                                        </div>
                                    </div>
                                </div>


                            </form>





                            <div *ngIf="url">
                                <ng-container *ngIf="isPdf; else image">
                                    <!-- mostrar PDF -->
                                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px"
                                            fxLayoutGap.gt-xs="44px">

                                            <div *ngIf="innerHtml" style="width: 100%; height: 400px;"
                                                [innerHTML]="innerHtml">
                                            </div>




                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #image>
                                    <!-- mostrar imagen -->
                                    <img [src]="url" style="height: 400px;" />
                                </ng-template>
                            </div>



                        </div>
                    </mat-tab>
                    <mat-tab [label]="thirdTab" *ngIf="estado != 'cesado'">
                        <div class="p-6">
                            <form [formGroup]="confirmFormGroup" *ngIf="confirmFormGroup">
                                <ng-template matStepLabel>Video</ng-template>
                                <div *ngIf="mostrarTextoVideo && !video">
                                    <vex-info-message [message]='infoMessage' [icon]='icroundSmsFailed'
                                        [typeicon]="'icIcon'"></vex-info-message>
                                </div>

                                <div *ngIf="!isVideo"
                                    style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                                    <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                                    </mat-progress-spinner>
                                </div>
                                <video *ngIf="video" controls="true" style="height: 300px; width: 100%;">
                                    <source [src]="video" type="video/mp4">
                                </video>
                                <br>
                                <a type="button" (click)="downloadVideo(video)">
                                    <button color="primary" mat-button type="button"><mat-icon color="primary"
                                            fontIcon="fa-download" class="icon" fontSet="fa"></mat-icon> DESCARGAR
                                        VIDEO</button>
                                </a>
                                <mat-divider class="-mx-6 text-border"></mat-divider>

                                <mat-form-field class="flex-auto" style="margin-top: 4%; width: 100%;">
                                    <mat-label>Nota: </mat-label>
                                    <textarea formControlName="notes" matInput [(ngModel)]="nota"></textarea>
                                </mat-form-field>


                            </form>

                        </div>
                    </mat-tab>
                </mat-tab-group>
            </vex-page-layout-content>
        </div>
        <br />
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button color="primary" mat-raised-button *ngIf="estado == 'cesado'"
                (click)="goTicket(participe.identificacion)">Ver Ticket</button>
            <button *ngIf="estado == 'pendiente'" (click)="rechazar()" mat-button type="button"
                class="bg-danger text-light">RECHAZAR</button>
            <button *ngIf="estado == 'pendiente'" (click)="aprobar()" color="primary" mat-raised-button
                type="button">APROBAR</button>
        </div>
    </div>
</vex-page-layout>