::ng-deep .my-class .modal-dialog {
    max-width: 80%;
    width: 100%;
}

#file {
    opacity: 0;
    position: absolute;
}



.mat-step-header {
    pointer-events: none !important;
}

.ng-autocomplete {
    width: 30%;
}

::ng-deep .mat-vertical-stepper-header {
    pointer-events: none !important;
}

.mat-column-fechaActualizacion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 28% !important;
    overflow-wrap: break-word;
   
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.mat-column-institucion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 28% !important;
    overflow-wrap: break-word;
   
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.mat-column-tipocuenta {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 28% !important;
    overflow-wrap: break-word;
   
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.mat-column-numerocuenta {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 13% !important;
    width: 28% !important;
    overflow-wrap: break-word;
   
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.mat-column-adjunto {
    word-wrap: break-word !important;
    white-space: unset !important;

    overflow-wrap: break-word;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.mat-column-accion {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 28% !important;
    overflow-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .filter-form{
    padding: 5px 10px 5px 10px !important;
}


.linkbutton {
  padding: 0 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0;
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.linkbutton:hover {
  color: var(--COLOR-PRIMARY-CONTRAST) !important;
  background-color: var(--COLOR-PRIMARY) !important;
  .linkiconbutton {
      color: var(--COLOR-PRIMARY-CONTRAST) !important;
  }
}
.linkiconbutton {
  color: var(--COLOR-PRIMARY) !important;
  margin-right: 10px !important;
}


.mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child {
    padding-left: 16px !important;
}


.btnAdjunto {

    width: 190px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btnAdjunto mat-icon {
  margin-right: 4px;
}