
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
> 
<p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>
<vex-page-layout-header class="page-head"  >
   
  <div *ngIf="ShowInformation" @fadeInRight class="head-icon">
      <mat-icon   [icIcon]="icroundPlagiarism"  ></mat-icon>
      <h3 class="head-icon-title" style="z-index: 1;
      position: relative;"> Contratos</h3>
  </div>   
  <div *ngIf="!ShowInformation" style="display: flex; justify-content: center;  width: inherit;  width: 100%;margin-right: 0%;">  
      <h1 class=" head-title " style=" color: var(--COLOR-PRIMARY-CONTRAST);">
     DOCUMENTACIÓN DE CONTRATOS
      </h1>
  </div>

  <div *ngIf="ShowInformation"  class="head-app-bar-search" style="display:flex" >

    <div class="head-options" style="margin-top:3%; width: max-content">
        <div class="search-bar">
            <input
                [formControl]="searchCtrl"
                [(ngModel)]="buscar"
                class="px-4 py-3 border-0 outline-none w-full bg-transparent input-text"
                placeholder= "Identificación o código de uniformado"
                type="search"
                (keyup.enter)="buscarParticipe(buscar)">
                <button
                (click)="buscarParticipe(buscar)"
                class="head-button"
                mat-button="mat-button"
                matTooltip="Buscar">
                <mat-icon [icIcon]="icroundSearch"></mat-icon>
                Consultar
            </button>
              </div>
                
        </div>
    </div>
 

</vex-page-layout-header> 



<vex-page-layout-content   @stagger [class.container]="layoutCtrl.value === 'fullwidth'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
  <div *ngIf="!ShowInformation" class="text-center  headerSearch">
      <div class="container">

          <div style=" margin-top: -3% !important;
          overflow: auto;">

              <div class=" img-container ">

                  <div class="head-app-bar-search">

                      <div class="head-options" style="margin-top:5%">
                          <div class="search-bar">
                              <input
                                  [formControl]="searchCtrl"
                                  [(ngModel)]="buscar"
                                  class="px-4 py-3 border-0 outline-none w-full bg-transparent input-text"
                                  placeholder="Identificación o código de uniformado"
                                  type="search"
                                  (keyup.enter)="buscarParticipe(buscar)">
                                  <button
                                      (click)="buscarParticipe(buscar)"
                                      class="head-button"
                                      mat-button="mat-button"
                                      matTooltip="Buscar">
                                      <mat-icon [icIcon]="icroundSearch"></mat-icon>
                                      Consultar
                                  </button>
                              </div>

                          </div>
                      </div>

                  </div>
              </div>
          </div>
 

    <div class="text-center   mx-10" @stagger style="margin-top:5%">

        <div class="mx-auto flex flex-col sm:flex-row gap-4 sm:gap-6 grid grid-cols-2 sm:grid-cols-3 ">
            <div  class="head-icon  flex flex-col items-center justify-center rounded-lg ">
                <div  class="p-3 head-icon cards-icons flex flex-col items-center justify-center bg-foreground rounded-full ">
                    <mat-icon class="mat-icon text-primary" [icIcon]="icroundAssignmentInd" class="icon-tab"></mat-icon>
                </div>
                <h3 class="head-title color-primary mb-0 mt-4" style="font-size: x-large;">Cédula</h3>
            </div>
    

           <div  class="head-icon  flex flex-col items-center justify-center rounded-lg ">
                <div  class="p-3 head-icon cards-icons flex flex-col items-center justify-center bg-foreground rounded-full">
                    <mat-icon class="mat-icon text-primary" [icIcon]="icroundAssignment" class="icon-tab"></mat-icon>
                </div>
                <h3 class="head-title color-primary mb-0 mt-4" style="font-size: x-large;">Contrato</h3>
            </div>

           <div  class="head-icon  flex flex-col items-center justify-center rounded-lg ">
                <div  class="p-3 head-icon cards-icons flex flex-col items-center justify-center bg-foreground rounded-full  ">
                    <mat-icon class="mat-icon text-primary" [icIcon]="icroundVideoCameraFront" class="icon-tab"></mat-icon>
                </div>
                <h3 class="head-title color-primary  mb-0 mt-4" style="font-size: x-large;">Video</h3>
            </div>
      
        </div>
    </div>  
</div>




 <div *ngIf="ShowInformation" class="">

        <div  class="card Resum-description">
        <div class="head mt-3" fxLayoutGap="1px">
        <div class="head-form mt-3">

          <table style="width: -webkit-fill-available;">
              <caption></caption>
              <thead>
                  <tr>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr >
                      <td class="label">Nombre:</td>
                      <td class="value">{{participe.razonSocial}}</td>
                  </tr>
                  <tr >
                      <td class="label">Identificación:</td>
                      <td class="value">{{participe.identificacion}}</td>
                  </tr>
                  <tr >
                      <td class="label">Código uniformado:</td>
                      <td class="value">{{participe.codigoUniformado}}</td>
                  </tr>
              </tbody>
          </table>

      </div>


      <div class="Resum-cards">
        <mat-card class="money-card value-card center">
            <mat-card-header>
                <div class="avatar-card center" [ngClass]="estadoContrato(participe.estado).classStyle" mat-card-avatar="mat-card-avatar"></div>
                <mat-card-title > {{estadoContrato(participe.estado).descripcion}}</mat-card-title>
                <mat-card-subtitle class="content-resum-card">Estado Contrato
                 </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
  
    </div>
    </div>
  </div>
  <bR>

        <mat-tab-group class="card tab-detalle" (selectedTabChange)="onTabClick($event)">
          <mat-tab label="identificacion">
              <ng-template  mat-tab-label="mat-tab-label">
                  <mat-icon [icIcon]="icroundAssignmentInd" class="icon-tab"></mat-icon>
                 Cédula
              </ng-template>

             
            <br>
            <!-- <div>
                <mat-spinner *ngIf="!cedulaFrontal && showCedulaFrontal" ></mat-spinner>
            </div> -->
              <h6 *ngIf="cedulaFrontal == ''">El partícipe no tiene cédula o está en estado de pendiente</h6>
              <div class="row"style="margin: 2rem;">
                <h6 *ngIf="innerHtmlCedulaFrontal">Cédula Frontal</h6>
                <div class="col-6" *ngIf="innerHtmlCedulaFrontal" style="width: 100%; height: 400px;"
                  [innerHTML]="innerHtmlCedulaFrontal">Frontal
                </div>
                <div *ngIf="cedulaFrontal" class="col-6">
                  <img style="width:100%;" *ngIf="cedulaFrontal" [src]="cedulaFrontal">
                </div>
                <div *ngIf="cedulaPosterior" class="col-6">
                  <img style="width:100%;" *ngIf="cedulaPosterior" [src]="cedulaPosterior">
                </div>
                <h6 *ngIf="innerHtmlCedulaPosterior ">Cédula Posterior</h6>
                <div *ngIf="innerHtmlCedulaPosterior" class="col-6"  style="width: 100%; height: 400px;"
                  [innerHTML]="innerHtmlCedulaPosterior">
                </div>
              </div>

              <div *ngIf="cedulaFrontal" class="mt-4" style="display: flex;
              justify-content: space-around;" >  
              <button  (click)="descargarAdjunto(cedulaFrontalDownload)"color="primary" mat-button type="button"><mat-icon color="primary" fontIcon="fa-download" class="icon" fontSet="fa"></mat-icon> DESCARGAR CÉDULA FRONTAL</button> 
              <button (click)="descargarAdjunto(cedulaPosteriorDownload)"  color="primary" mat-button type="button"><mat-icon color="primary" fontIcon="fa-download" class="icon" fontSet="fa"></mat-icon> DESCARGAR CÉDULA POSTERIOR</button>                     
            </div>
            <br/>
             
          


          </mat-tab>

          <mat-tab  label="contrato" >
              <ng-template mat-tab-label="mat-tab-label">
                  <mat-icon [icIcon]="icroundAssignment" class="icon-tab"></mat-icon>
                  Contrato electrónico
              </ng-template>

              <h6 *ngIf="contrato == ''">El partícipe no tiene contrato o está en estado de pendiente</h6>
              <div *ngIf="innerHtmlContrato && contrato != ''" style="width: 100%; height: 400px;"
                    [innerHTML]="innerHtmlContrato">
              </div>

              
          </mat-tab>

          <mat-tab label="video">
              <ng-template mat-tab-label="mat-tab-label">
                  <mat-icon [icIcon]="icroundVideoCameraFront" class="icon-tab"></mat-icon>
                 Video
              </ng-template>

              <h6 *ngIf="video == ''">El partícipe no tiene video o está en estado de pendiente</h6>
                <div *ngIf="video">
                  <video *ngIf="video" controls style="height: 300px; width: 100%; padding: 2rem;">
                    <source [src]="video">
                  </video>
      
                  <div style="text-align: center;margin:1rem">
                    <button (click)="descargarAdjunto(videoDownload)" color="primary" mat-button type="button"><mat-icon color="primary" fontIcon="fa-download" class="icon" fontSet="fa"></mat-icon> DESCARGAR VIDEO</button>
                  </div>
          
                </div>

          </mat-tab>

      </mat-tab-group>

    </div> 



      </vex-page-layout-content>

</vex-page-layout>
