
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.head-icon{
    margin-left: 2%;
    .mat-icon{
        font-size: 80px;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 80px;
        width: 80px; 
    }
}


.loading{
    height: 400px;
}

.card {
    margin-top: -3% !important;
    overflow: auto;
}

  //small
@media screen and (max-width: 40em) {
    .head-app-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 160px;
        .search-bar{
            min-width: 180px;
        }
    }
    .head-title {
        margin-bottom: 10px;
        text-align: center;
    }
    .loading{
        height: 200px;
    }
}

//medium
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .head-app-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .search-bar{
            min-width: 300px;
        }
    }
}

//large
@media screen and (min-width: 64em) {
    .head-app-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
}


.head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.value-card {
    width: fit-content;
    margin: 10px;
}
.avatar-card {
    background-size: cover;
}

.center {
    display: flex;
    align-items: center;
}

.content-resum-card {
    font-size: medium;
}

.Resum-description {
    margin: 1rem 2rem 0;
}

.pendienteStatus{
    background-color: rgb(255, 123, 0);;
}


.neutroStatus{
    background-color: rgb(105, 105, 105);
}


.aprobadoStatus{
    background-color: rgb(13, 142, 6);;
}


.rechazadoStatus{
    background-color: red;
}

.Resum-cards {
    display: flex;
    height: min-content;
    text-align: center;
    justify-content: center;
    grid-column-end: 4;
    grid-column-start: 2;
    justify-self: end;
    overflow: auto;
}

.Resum-description {
    margin: 2rem 0rem;
    padding: 1rem;
}

.label {
    font-weight: bolder;
}

::ng-deep .tab-detalle .mat-tab-labels {
    justify-content: center !important;
}


::ng-deep .mat-tab-header {
    align-self: center;
}

::ng-deep .tab-detalle .mat-tab-labels {
    justify-content: center !important;
}

::ng-deep .mat-tab-label{
    margin: 0rem 1rem !important;
}

.headerSearch {
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e6e6e6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23e6e6e6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}


.head-app-bar-search {
  /*   display: grid; */
    position: relative;
    align-items: center;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: end;
}


.input-text{
    color:var(--COLOR-BLACK)
}
.search-bar{
    min-width: 300px;
    margin: 0.5rem!important;
    border: 1px solid var(--COLOR-NEUTRAL-LIGHT-GRAY) ;

}
.head-title-card {
    color: var(--COLOR-PRIMARY-CONTRAST) !important;
    line-height: 30px;
    font-weight: bold;
}
.head-title {
    line-height: 30px;
    font-weight: bold;
}
.head-button{
    width: 15rem;
    min-width: 40px !important;
    min-height: 40px !important;
    margin: 0 10px 0px 10px !important;
    border-radius: 20px !important;
    color: var(--COLOR-PRIMARY-CONTRAST) !important;
    background-color: var(--COLOR-PRIMARY) !important; 
}

.head-option{
    display: grid !important;
    border-radius: 0.5rem;
    margin: 2rem!important;
     .search-bar {
        display: inline-flex;
        align-items: center;
        min-width: 400px;
        padding: 0px;
        border-radius: 2rem;
        background: var(--COLOR-WHITE);
        flex: 1 auto;
    }
}

.img-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.cards-icons{
    background-color: var(--COLOR-PRIMARY) !important;
}
.header {
    width: 100%;
    background-color: var(--COLOR-PRIMARY) !important;
    height: 100% !important;
}
