

   <div class="contentdatosvalor">
        <div class="FormData">
            <div class="head-divider">         
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Ingresos</h4>
            </div>          

            <form [formGroup]="perfilEconomicoForm">
            <div class="titulovalor" style="margin-top: 0%">

                <mat-form-field  >
                    <mat-label>Valor Nominal</mat-label>
                    <input (change)="calcularTotalIngresos()"
                    id="salarioFijo"
                    matInput="matInput"
                    formControlName="salarioFijo"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('salarioFijo').errors">{{getErrorMessage(perfilEconomicoForm.get('salarioFijo'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Salario variable</mat-label>
                    <input (change)="calcularTotalIngresos()"
                    id="salarioVariable"
                    matInput="matInput"
                    formControlName="salarioVariable"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('salarioVariable').errors">{{getErrorMessage(perfilEconomicoForm.get('salarioVariable'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Otros ingresos</mat-label>
                    <input (change)="calcularTotalIngresos()"
                    id="otrosIngresos"
                    matInput="matInput"
                    formControlName="otrosIngresos"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('otrosIngresos').errors">{{getErrorMessage(perfilEconomicoForm.get('otrosIngresos'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="flex-100">
                    <mat-label>Total ingresos</mat-label>
                    <input
                    id="totalIngresos"
                    matInput="matInput"
                    formControlName="totalIngresos"
                    class="right-align"
                    readonly="readonly"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    
                </mat-form-field>

            </div>



        
            <div class="head-divider">
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Egresos</h4>
            </div>          

            
            <div class="titulovalor" style="margin-top: 0%">


                <mat-form-field  class="flex-100">
                    <mat-label>Descuentos mensuales rol de pago</mat-label>
                    <input (change)="calcularSalarioNeto()"
                    id="gastosMensuales"
                    matInput="matInput"
                    formControlName="gastosMensuales"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('gastosMensuales').errors">{{getErrorMessage(perfilEconomicoForm.get('gastosMensuales'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="flex-100">
                    <mat-label>Salario neto</mat-label>
                    <input
                    id="salarioNeto"
                    matInput="matInput"
                    formControlName="salarioNeto"
                    class="right-align"
                    readonly="readonly"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    
                </mat-form-field>


            </div>


            <div class="head-divider">
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Activos</h4>
            </div>          

            
            <div class="titulovalor" style="margin-top: 0%">

                <mat-form-field  >
                    <mat-label>Total de Bienes</mat-label>
                    <input (change)="calcularTotalActivos()"
                    id="totalBienes"
                    matInput="matInput"
                    formControlName="totalBienes"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('totalBienes').errors">{{getErrorMessage(perfilEconomicoForm.get('totalBienes'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Total de vehículos</mat-label>
                    <input (change)="calcularTotalActivos()"
                    id="totalVehiculos"
                    matInput="matInput"
                    formControlName="totalVehiculos"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('totalVehiculos').errors">{{getErrorMessage(perfilEconomicoForm.get('totalVehiculos'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Total de otros activos</mat-label>
                    <input (change)="calcularTotalActivos()"
                    id="totalOtrosActivos"
                    matInput="matInput"
                    formControlName="totalOtrosActivos"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('totalOtrosActivos').errors">{{getErrorMessage(perfilEconomicoForm.get('totalOtrosActivos'),"Campo Inválido")}}</mat-error>  
                </mat-form-field>

                <mat-form-field  class="">
                    <mat-label>Total activos</mat-label>
                    <input
                    id="totalActivos"
                    matInput="matInput"
                    formControlName="totalActivos"
                    class="right-align"
                    readonly="readonly"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    
                </mat-form-field>


            </div>

            <div class="head-divider">      
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Pasivos</h4>
            </div>          

            
            <div class="titulovalor" style="margin-top: 0%">

                <mat-form-field  class="flex-100" fxFlex="auto">
                    <mat-label>Total de deudas</mat-label>
                    <input
                    (change)="calcularPatrimonioNeto()"
                    id="totalDeudas"
                    matInput="matInput"
                    formControlName="totalDeudas"
                    class="right-align"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    <mat-error  *ngIf="perfilEconomicoForm.get('totalDeudas').errors">{{getErrorMessage(perfilEconomicoForm.get('totalDeudas'),"Campo Inválido")}}</mat-error>        
                </mat-form-field>

                <mat-form-field  class="flex-100" fxFlex="auto">
                    <mat-label>Patrimonio neto</mat-label>
                    <input
                    id="patrimonioNeto"
                    matInput="matInput"
                    formControlName="patrimonioNeto"
                    class="right-align"
                    readonly="readonly"
                    [inputMask]="DecimalInputMask"/>
                    <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                    
                </mat-form-field>

            </div>



            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
            style="margin-top: 2%;">
            <button color="primary"  mat-raised-button (click)="clickActualizar()">ACTUALIZAR</button>
            </div>
        </form>  
    </div>
    </div>