
<div class="head-modal" fxLayoutAlign="start center">
    <h2 text-center="text-center" class="head-title">Crédito Válido</h2>
</div>


<mat-dialog-content>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of validaciones">
            <div class="padre" *ngIf="item">
                <div class="col-2" style="width:60px;">
                    <img src="https://img.icons8.com/officel/40/000000/ok.png" height="45"  style="max-width: 45px;height:45px;" *ngIf="item.valido == true" />
                    <img src="https://img.icons8.com/officel/40/000000/cancel.png" height="45"  style="max-width: 45px;height:45px;" *ngIf="item.valido == false" />
                </div>
                <div class="col-10" style="margin-left: 5%;">
                    <h5>{{item.descripcion}}</h5>
                    <p style="color: gray;">{{item.observaciones}}</p> 
                    <!-- AGREGAR GARANTE --> 
                    <span *ngIf="agregarGarante(item)">
                        <span>
                            Necesitas agregar un garante
                        </span>
                    </span>
                </div>
            </div>
        </li>
    </ul> 
    
</mat-dialog-content>


<div fxLayoutAlign="end center" class="actions" fxLayout="row" mat-dialog-actions>
    <button color="primary" [mat-dialog-close]="true" mat-raised-button (click)="validar()">Confirmar</button>
</div>
 