 <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando Ingresos/Egresos...</p>
</ngx-spinner>
 

<div class="card">
    <div class="head-options">
        <div class="search-bar">


        <button
        (click)="changeController.emit('carga')"
            class="head-buttons"
            mat-button="mat-button">
            <mat-icon [icIcon]="icroundSearch"></mat-icon>
        </button>  
        </div>
        </div> 
    <br>
    <p><b>CARGAR EXCEL DE INGRESOS/EGRESOS</b></p>
    <div >
        <vex-files-upload [extensions]="['xls','xlsx']"></vex-files-upload>
    </div>
    <br>
        <button
            mat-raised-button="mat-raised-button"
            [disabled]="!mes || !anio"
            color="primary"
            type="button"
            id="excel"
            class="forms-full-button button-download"
            (click)="generar()">
            <mat-icon style="height: 18px" [icIcon]="icroundFileUpload"></mat-icon>
            <span style="margin-left: 4px">Cargar Ingresos/Egresos</span>
        </button>
</div> 


<vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6">
    <vex-ingresos-egresos *ngIf="ingresos_egresos.length !== 0"
        [habilitarGuardar]="habilitarGuardar"
        [dataFondoSource]="ingresos_egresos"
        [isLoading]="isLoading"
        [title]="'Ingresos/Egresos Mensuales'"
        [footerdata]="totales"
        (guardar)="guardarAportes($event)"></vex-ingresos-egresos> 
        
<div *ngIf="showNoDataAportes">
    <vex-info-message
        [message]='infoMessage'
        [icon]='icroundRequestPage'
        [typeicon]="'icIcon'"></vex-info-message>
</div>
</vex-page-layout-content> 
