<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>


<div style="padding: 0px 10%;" class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
        <div class="flex justify-between">

            <div [ngStyle]="{'opacity': flagAsignar ? '1.0' : '0.4'}" class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-1 hover:bg-primary-light trans-ease-out" matRipple target="_blank">
                <div @scaleIn class="p-2 bg-primary-light text-primary rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icPerson" class="block"></mat-icon>
                </div>
                <p *ngIf="flagAsignar" @fadeInRight class="font-medium text-primary" (click)="openModal()">
                    Asignar a un miembro
                </p>
                <p *ngIf="!flagAsignar" @fadeInRight class="font-medium text-primary">
                    Asignar a un miembro
                </p>
            </div>

            <div (click)="crearSubTarea()"  class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-green-light trans-ease-out" matRipple>
                <div @scaleIn class="p-2 bg-green-light text-green rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icTicket" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-green">Crear sub tarea</p>
            </div>

            <div class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-cyan-light trans-ease-out" matRipple
            (click)="cambiarEstado()" [ngStyle]="{'opacity': flagEditar ? '1.0' : '1.0'}">
                <div class="p-2 bg-cyan-light text-cyan rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icEdit" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-cyan">Cambiar Estado</p>
            </div>

            <div class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-cyan-light trans-ease-out" matRipple
            (click)="editarTicket()" [ngStyle]="{'opacity': flagEditar ? '1.0' : '1.0'}">
                <div class="p-2 bg-cyan-light text-cyan rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icEdit" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-cyan">Editar Ticket</p>
            </div>
        </div>
        <div class="flex justify-between">
            <div *ngIf="dataTicket.fechaAprobacion == null && dataTicket.requiereAprobacion && dataTicket.fechaAprobacion == null && dataTicket.fechaRechazo == null" 
            class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-amber-light trans-ease-out" matRipple
            (click)="aprobarTicket(true)" [ngStyle]="{'opacity' : '1.0'}">
                <div class="p-2 bg-amber-light text-amber rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icCheck" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-amber">Aprobar</p>
            </div>
            <div *ngIf="dataTicket.fechaAprobacion == null && dataTicket.requiereAprobacion && dataTicket.fechaAprobacion == null && dataTicket.fechaRechazo == null" 
            class="relative flex items-center cursor-pointer select-none rounded-full px-4 py-2 hover:bg-deep-orange-light trans-ease-out" matRipple
            (click)="aprobarTicket(false)" [ngStyle]="{'opacity' : '1.0'}">
                <div class="p-2 bg-amber-light text-deep-orange rounded-full ltr:mr-4 rtl:ml-4">
                    <mat-icon [icIcon]="icCross" class="block"></mat-icon>
                </div>
                <p @fadeInRight class="font-medium text-deep-orange">Rechazar</p>
            </div>
        </div>

        <div class="card" style="margin-top: 2%;">
            <div class="px-gutter py-4 border-b" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
                <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="title m-0">Información del Ticket</h2>
                </div>

            </div>

            <div class="px-gutter py-4" gdColumns="1fr" gdColumns.xs="1fr" gdGap="16px">

                <div class="row" style="height: 100%" *ngIf="dataTarea">
                    <div class="col" style="padding: 1% 5% 4% 6%;">
                        <div class="row" style="margin-top: 2%; overflow: hidden">
                            <div class="col-12">
                                <!-- Asunto -->
                                <!-- <strong>Asunto</strong>
                                <br/> -->
                                <h4>{{dataTarea.titulo}}</h4>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="margin-top: 2%; overflow: hidden">
                            <!-- <strong style="margin-bottom: 2%;">Descripción</strong> -->
                            <div class="col-12">
                                <div @fadeInRight [innerHTML]="dataTarea.descripcion"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-gutter flex flex-row cursor-pointer select-none items-center text-primary ltr:rounded-bl rtl:rounded-br relative hover:bg-primary-light trans-ease-out"
            matRipple style="position: absolute; right: 10px; bottom: 10px;">
                <div style="margin: auto; display: flex;" (click)="comentar()">
                    <ic-icon [icon]="icComment" [inline]="true" size="20px"></ic-icon>
                    <p class="ltr:ml-2 rtl:mr-2">Comentar</p>
                </div>
            </div>
        </div>

        <!--TODO: COMENTARIOS DEL TICKET -->
        <br>
        <vex-comentarios *ngIf="comentarios.length != 0" [comentarios]="comentarios" (emitirComentario)="getComentario($event)"></vex-comentarios>
    </div>

    <div class="flex-none max-w-unset md:max-w-xs w-full md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
        <!-- Requerimientos Padre -->
        <!-- Requerimientos Hijos -->
        <!--TODO: SUB TAREAS DEL TICKET -->
        <vex-subtareas [subTareas]="subTareas" [ticket]="dataTicket"></vex-subtareas>

        <br>

        <!-- TODO: DOCUMENTOS DEL TICKET -->
        <vex-documentos *ngIf="dataTicket.idTicket" [idTicket]="dataTicket.idTicket" [adjuntos]="adjuntos" (emitirDocumento)="getDocumento($event)"></vex-documentos>
    </div>
</div>



