

<mat-tab-group animationDuration="1000ms">
    <mat-tab label="Datos">
   <div class="contentdatosvalor">
        <div class="FormData">
            <div class="head-divider">
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Datos Personales</h4>
            </div>          

            <form [formGroup]="datosFormGroup">
            <div class="titulovalor" style="margin-top: 0%">
                <mat-form-field  >
                    <mat-label>Nombres</mat-label>
                    <input
                    id="nombres"
                    matInput="matInput"
                    formControlName="nombres"
                    required
                    />
                    <mat-error  *ngIf="datosFormGroup.get('nombres').errors">{{getErrorMessage(datosFormGroup.get('nombres'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Apellidos</mat-label>
                    <input
                    id="apellidos"
                    matInput="matInput"
                    formControlName="apellidos"
                    required
                    [(ngModel)]="datosFormGroup.value.apellidos"
                />
                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input
                        id="fechaNacimiento"
                        formControlName="fechaNacimiento"
                        [(ngModel)]="datosFormGroup.value.fechaNacimiento"
                        [matDatepicker]="datepickerReffechaNacimiento"
                        type='datetime'
                        matInput
                        required >
                        <mat-datepicker-toggle
                                [for]="datepickerReffechaNacimiento"
                                class="block"
                                matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerReffechaNacimiento></mat-datepicker>
                </mat-form-field>


                <mat-form-field  >
                    <mat-label>Fecha de Expedición Cédula</mat-label>
                    <input
                        id="fechaExpedicionCedula"
                        formControlName="fechaExpedicionCedula"
                        [(ngModel)]="datosFormGroup.value.fechaExpedicionCedula"
                        [matDatepicker]="datepickerReffechaExpedicionCedula"
                        type='datetime'
                        matInput 
                        required>
                        <mat-datepicker-toggle
                                [for]="datepickerReffechaExpedicionCedula"
                                class="block"
                                matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerReffechaExpedicionCedula></mat-datepicker>
                </mat-form-field>
               
                
                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Género</mat-label>
                    <mat-select id="idGenero"
                                formControlName="idGenero"
                                required>
                        <mat-option
                            *ngFor="let genero of generos"
                            [value]="genero.idGenero">
                            {{ genero.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Estado civil</mat-label>
                    <mat-select id="idEstadoCivil"
                                formControlName="idEstadoCivil"
                                required>
                        <mat-option
                            *ngFor="let estado of estadosCivil"
                            [value]="estado.idEstadoCivil">
                            {{ estado.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            
 
                <mat-form-field >
                    <mat-label>Correo 1</mat-label>
                    <input required formControlName="correo1" (blur)="verifyEmailsErrors()"
                        matInput>
                    <mat-error
                        *ngIf="datosFormGroup.get('correo1').errors">{{getErrorMessage(datosFormGroup.get('correo1'),"Correo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Correo 2</mat-label>
                    <input formControlName="correo2" matInput>
                    <mat-error
                        *ngIf="datosFormGroup.get('correo2').errors">{{getErrorMessage(datosFormGroup.get('correo2'),"Correo Inválido")}}</mat-error>
                </mat-form-field>

                
                <mat-form-field >
                    <mat-label>Teléfono 1</mat-label>
                    <input required  formControlName="telefono1"
                        matInput>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Teléfono 2</mat-label>
                    <input  formControlName="telefono2"
                        matInput>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Celular</mat-label>
                    <input required  formControlName="celular"
                        matInput>
                </mat-form-field>

            </div>
            </form>


        
            <div class="head-divider">
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Datos del Partícipe</h4>
            </div>          

            <form [formGroup]="datosFormGroup">
            <div class="titulovalor" style="margin-top: 0%">

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Código del Uniformado</mat-label>
                    <input required formControlName="codigoUniformado" matInput>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Grado</mat-label>
                    <mat-select id="idGrado"
                                formControlName="idGrado"
                                required>
                        <mat-option
                            *ngFor="let grado of grados"
                            [value]="grado.idGrado">
                            {{ grado.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field  >
                    <mat-label>Fecha de ingreso a la CTE</mat-label>
                    <input
                        id="fechaIngreso"
                        formControlName="fechaIngreso"
                        [(ngModel)]="datosFormGroup.value.fechaIngreso"
                        [matDatepicker]="datepickerReffechaIngreso"
                        type='datetime'
                        matInput 
                        required>
                        <mat-datepicker-toggle
                                [for]="datepickerReffechaIngreso"
                                class="block"
                                matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerReffechaIngreso></mat-datepicker>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Profesión</mat-label>
                    <mat-select id="idProfesion"
                                formControlName="idProfesion"
                                required>
                        <mat-option
                            *ngFor="let profesion of profesiones"
                            [value]="profesion.idProfesion">
                            {{ profesion.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>


                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Nivel de Estudios</mat-label>
                    <mat-select id="idNivelEstudios"
                                formControlName="idNivelEstudios"
                                required>
                        <mat-option
                            *ngFor="let niveles of nivelesEstudio"
                            [value]="niveles.idNivelEstudios">
                            {{ niveles.descripcion }}
                        </mat-option>
                    </mat-select>

                </mat-form-field>


                <mat-form-field *ngIf="datosFormGroup.value.idNivelEstudios > '3'" >
                    <mat-label>Título</mat-label>
                    <input
                    id="apellidos"
                    matInput="matInput"
                    formControlName="titulo"
                    required
                />p
                </mat-form-field>



            </div>
            </form>

            <div class="head-divider" *ngIf="tieneConyuge">
                <h4 class="head-icon-title labelseccion" style="width: 180px!important;">Información del cónyuge</h4>
            </div>          

            <form [formGroup]="datosFormGroup" *ngIf="tieneConyuge">
            <div class="titulovalor" style="margin-top: 0%">

                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Nombre completos del Cónyuge</mat-label>
                        <input  formControlName="conyuge" matInput>
                    </mat-form-field>

                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                        <mat-label>Identificación del Cónyuge</mat-label>
                        <input  formControlName="identificacionConyuge" matInput>
                    </mat-form-field>
          
            </div>
            </form>
            <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
            style="margin-top: 2%;">
            <button color="primary" mat-raised-button (click)="clickActualizar()">ACTUALIZAR</button>
            </div>
    </div>
    </div>
    </mat-tab>

    <mat-tab label="Direcciones">
        <vex-direcciones [idParticipe]="actualizarDatos.idParticipe"></vex-direcciones>
    </mat-tab>
    <mat-tab label="Contactos">
        <vex-contactos [idParticipe]="actualizarDatos.idParticipe"></vex-contactos>
    </mat-tab>

</mat-tab-group>