.contentdatosvalor {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    background: white;
}

::ng-deep .titulovalor .mat-form-field.mat-form-field {
    margin: 0 !important;
    padding: 0.25em 0 0 1.25rem !important;
    margin-top: 1rem!important;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

.titulovalor {
    display: grid !important;

}
//small
@media screen and (max-width: 40em) {
    .titulovalor {
        grid-template-columns: repeat(1, 1fr);
    }
}

//medium
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .titulovalor {
        grid-template-columns: repeat(2, 1fr);
    }
}

//large
@media screen and (min-width: 64em) {
    .titulovalor {
        grid-template-columns: repeat(3, 1fr);
    }
}
.right-align {
    text-align: right;
}

.labelseccion {
    display: grid;
    grid-template-columns: max-content;
    color: var(--COLOR-BLACK)
}