<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>
    <vex-page-layout-header class="page-head">
        <!-- cabecera -->
        <div class="head-icon">
            <mat-icon [icIcon]="icroundMonetizationOn"></mat-icon>
            <h3 class="head-icon-title">Detallle de Inversión</h3>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content
        [class.container]="layoutCtrl.value === 'fullwidth'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
        class="-mt-6">

        <div class="card"  *ngIf="detalleInversion != undefined">
            <div class="Resum-description">
                <div class=" overflow-hidden" style="border-radius: 15px; height: 100%">
                    <form [formGroup]="formGenerales">
                        <div class="head mt-3" fxLayoutGap="1px">
                            <div class="head-form mt-3">

                                <table style="width: -webkit-fill-available;">
                                    <caption></caption>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="formGenerales.value.tipoInversion">
                                            <td class="label">Tipo Inversión:</td>
                                            <td class="value">{{formGenerales.value.tipoInversion | lowercase }}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.tipoRentaTitle">
                                            <td class="label">Tipo renta:</td>
                                            <td class="value">{{formGenerales.value.tipoRentaTitle | lowercase }}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.numeroCertificado">
                                            <td class="label">No. Documento:</td>
                                            <td class="value">{{formGenerales.value.numeroCertificado | lowercase}}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.numeroCertificado">
                                            <td class="label">Serie Transacción:</td>
                                            <td class="value">{{formGenerales.value.serieTransaccion}}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.codigo">
                                            <td class="label">Cod. Vector:</td>
                                            <td class="value">{{formGenerales.value.codigo | lowercase}}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.emisor">
                                            <td class="label">Emisor:</td>
                                            <td class="value">{{formGenerales.value.emisor | lowercase}}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.fechaEmision">
                                            <td class="label">Fecha de Emisión</td>
                                            <td class="value">{{formGenerales.value.fechaEmision | date}}</td>
                                        </tr>
                                        <tr *ngIf="formGenerales.value.fechaVencimiento">
                                            <td class="label">Fecha de vencimiento</td>
                                            <td class="value">{{formGenerales.value.fechaVencimiento  | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="Resum-cards">
                                <mat-card class="money-card value-card center">
                                    <mat-card-header>
                                        <div class="avatar-card center" mat-card-avatar="mat-card-avatar">
                                            <mat-icon class="icon-card center" [icIcon]="icroundAttachMoney"></mat-icon>
                                        </div>
                                        <mat-card-title>Valor Nominal</mat-card-title>
                                        <mat-card-subtitle class="content-resum-card">
                                            <span>{{simboloMoneda}}&nbsp;</span>{{formGenerales.value.valorNominal | number:'.2-2'}}</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card *ngIf="formGenerales.value.tasa" class="porcent-card value-card center">
                                    <mat-card-header>
                                        <div class="avatar-card center" mat-card-avatar="mat-card-avatar">
                                            <mat-icon class="icon-card center" [icIcon]="icroundPercent"></mat-icon>
                                        </div>
                                        <mat-card-title>Tasa de interés nominal</mat-card-title>
                                        <mat-card-subtitle class="content-resum-card">{{formGenerales.value.tasa}}
                                            <span>
                                                %&nbsp;</span>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card *ngIf="formGenerales.value.totalPlazo"  class="number-card value-card center">
                                    <mat-card-header>
                                        <div class="avatar-card center" mat-card-avatar="mat-card-avatar">
                                            <mat-icon class="icon-card center" [icIcon]="icroundEvent"></mat-icon>
                                        </div>
                                        <mat-card-title>Días de Plazo</mat-card-title>
                                        <mat-card-subtitle class="content-resum-card">{{formGenerales.value.totalPlazo}}
                                            <span>
                                                Días</span>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card *ngIf="formGenerales.value.precioPorAccion" class="money-card value-card center">
                                    <mat-card-header>
                                        <div class="avatar-card center" mat-card-avatar="mat-card-avatar">
                                            <mat-icon class="icon-card center" [icIcon]="icroundAttachMoney"></mat-icon>
                                        </div>
                                        <mat-card-title>Precio Acción</mat-card-title>
                                        <mat-card-subtitle class="content-resum-card">
                                            <span>{{simboloMoneda}}&nbsp;</span>{{formGenerales.value.precioPorAccion | number:'.2-2'}}</mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                                <mat-card *ngIf="formGenerales.value.numeroAcciones" class="number-card value-card center">
                                    <mat-card-header>
                                        <div class="avatar-card center" mat-card-avatar="mat-card-avatar">
                                            <mat-icon class="icon-card center" [icIcon]="icroundNumbers"></mat-icon>
                                        </div>
                                        <mat-card-title>N° Acciones</mat-card-title>
                                        <mat-card-subtitle class="content-resum-card">{{formGenerales.value.numeroAcciones}}
                                            <span>
                                                Unidad</span>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                </mat-card>

                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <mat-tab-group class="tab-detalle" (selectedTabChange)="onTabClick($event)">
                <mat-tab label="datosInversion">
                    <ng-template  mat-tab-label="mat-tab-label">
                        <mat-icon [icIcon]="icroundFormatAlignJustify" class="icon-tab"></mat-icon>
                        Datos de Inversión
                    </ng-template>
                    <vex-data-inversion *ngIf="mostrarDetalle" [formGenerales]="formGenerales"></vex-data-inversion>
                </mat-tab>

                <mat-tab  label="tablaAmortizacion" *ngIf="idHasAmortization">
                    <ng-template mat-tab-label="mat-tab-label">
                        <mat-icon [icIcon]="icroundTableChart" class="icon-tab"></mat-icon>
                        Tabla de Amortización
                    </ng-template>

                    <vex-tabla-amortizacion
                        *ngIf="detalleInversion != undefined"
                        [detalleInversion]="detalleInversion.dividendo"
                        [totalesDetalleInversion]="totalesDetalleInversion"
                        [idInversion]="id"></vex-tabla-amortizacion>

                </mat-tab>

                <mat-tab label="documento">
                    <ng-template mat-tab-label="mat-tab-label">
                        <mat-icon [icIcon]="icroundAttachFile" class="icon-tab"></mat-icon>
                        Documento de Inversión
                    </ng-template>

                    <vex-adjuntos
                        *ngIf="detalleInversion != undefined"
                        [idInversion]="detalleInversion.idInversion"></vex-adjuntos>

                </mat-tab>

                <mat-tab label="historialPrecios">
                    <ng-template mat-tab-label="mat-tab-label">
                        <mat-icon [icIcon]="icroundPriceChange" class="icon-tab"></mat-icon>
                        Historial de Precios
                    </ng-template>

                    <vex-prices-history
                        [idVector]="detalleInversion.codigo"
                        [emisor]="detalleInversion.emisor"
                        [tipoRenta]="detalleInversion.tipoRenta"
                        [idBolsaValores]="detalleInversion.idBolsaValores"
                        [loadGraphic]="loadGraphic">
                    </vex-prices-history>
                </mat-tab>
            </mat-tab-group>

        </div>
    </vex-page-layout-content>
</vex-page-layout>