.font-body {
    cursor: default;
}

th.mat-header-cell {
    background-color: var(--COLOR-PRIMARY);
    color: var(--COLOR-PRIMARY-CONTRAST);
    text-align: center;
    align-items: center;
}

td.mat-cell {
    align-items: center;
    text-align: center;
}
::ng-deep .mat-sort-header-arrow.ng-trigger {
    color: var(--COLOR-PRIMARY-CONTRAST) !important;
   
}

::ng-deep .mat-sort-header-container {
    justify-content: center;
}
.time {
    height: 100%;
    position: absolute;
}

.bg-time {
    width: 90px;
    padding: 0.3rem 0.5rem;
    font-size: small;
    border-radius: 0.25rem;
    font-weight: bold;
}

.colortext {
    color: rgb(0,0,0,0.54);
}

.statusList {
    margin: 3px;
    width: 110px;
}

.linkbutton {
    padding: 0 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
    width: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.linkbutton:hover {
    color: var(--COLOR-PRIMARY-CONTRAST);
    background-color: var(--COLOR-PRIMARY);
    .linkiconbutton {
        color: var(--COLOR-PRIMARY-CONTRAST);
    }
}
.linkiconbutton {
    color: var(--COLOR-PRIMARY);
    margin-right: 10px;
}


.mat-column-width-30 {
    white-space: unset !important;
    width: 30% !important;
}

.mat-column-min-width-250px{
    min-width: 250px;
}

.mat-column-width-250px{
    max-width: 250px;
}

.mat-column-max-width-20 {
    white-space: unset !important;
    width: 20% !important;
}


/* ::ng-deep .scrollbar .simplebar-content-wrapper{  
    overflow: hidden !important;
} */

td.mat-footer-cell {
    padding-left: var(--padding-12);
    align-items: center;
    text-align: center;
}

.totals{
    font-weight: bolder;
}

.content{
    max-height:600px;
    overflow-y: auto;
}