<div class="modal-container">
    <div class="head-modal" fxLayoutAlign="start center">
        <h2 text-center="text-center" class="head-title">{{detalle.titulo}}</h2>
        <button
            class="simple-button"
            mat-dialog-close={{null}}
            mat-icon-button="mat-icon-button"
            type="button">
            <mat-icon [icIcon]="icroundClose"></mat-icon>
        </button>
    </div>


    <div class="icon-divider">
        <mat-divider class="-mx-6 text-border backgraund-color-neutral-light-gray"></mat-divider>
        <div class="modal-icon">
            <mat-icon class="icon" matPrefix>account_balance_wallet</mat-icon>
        </div>
    
        <mat-divider class="-mx-6 text-border backgraund-color-neutral-light-gray"></mat-divider>
    </div>



    <div class="body-modal">
        <form [formGroup]="filterform">

            <mat-dialog-content class="filter-form " fxLayout="column" >

                  <!---->
  <div  class="animate__animated animate__fade" fxFlex="auto" >
    <!--     <mat-label class="labelForm">Tipo de Asiento</mat-label> -->
        <ngx-dropdown-treeview-select class="select" [items]="cuentas" [title]="'Cuentas *'" [(value)]="value"
        (valueChange)="seleccionarCuenta($event)">
      </ngx-dropdown-treeview-select>
        <!-- <mat-error  *ngIf="formLibroDiario.get('idTipoAsiento').errors">{{getErrorMessage(formLibroDiario.get('idTipoAsiento'))}}</mat-error> -->
      </div>

      
          <!--       <mat-form-field  class="filter-form px-6 py-4 flex flex-col" fxFlex="auto">
                    <mat-label class="labelForm">Cuentas</mat-label>
                    <mat-select
                        id="idCuentaContable"
                        required="required"
                        ngDefaultControl="ngDefaultControl"
                        formControlName="idCuentaContable"
                        #singleSelect>
                        <mat-option >
                            <ngx-mat-select-search
                                placeholderLabel="Buscar Cuentas..."
                                noEntriesFoundLabel="'No se encuentra la cuenta'"
                                [formControl]="cuentasFilterCtrl">
                                <mat-icon ngxMatSelectSearchClear="ngxMatSelectSearchClear">x</mat-icon>
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            style="font-size: small;"
                            *ngFor="let item of filteredCuentas | async"
                            [value]="item.idCuentaContable"
                            (click)="seleccionarCuenta(item)">
                            <p style="font-size: small;">
                                <b>{{item.codigo}}</b>
                                   {{ item.descripcion }}
                            </p>
                        </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="filterform.get('idCuentaContable').errors">{{getErrorMessage(filterform.get('idCuentaContable'))}}</mat-error>
                </mat-form-field>
 -->
    

                    <!--referencia-->
                    <mat-form-field  class="filter-form px-6 py-4 flex flex-col" fxFlex="auto">
                        <mat-label class="labelForm">Referencia</mat-label>
                        <mat-select
                            id="referencia"
                            required="required"
                            ngDefaultControl="ngDefaultControl"
                            formControlName="referencia"
                            #singleSelect>
                            <mat-option >
                                <ngx-mat-select-search
                                    placeholderLabel="Buscar Referencia..."
                                    noEntriesFoundLabel="'No se encuentra la referencia'"
                                    [formControl]="referenciaFilterCtrl">
                                    <mat-icon ngxMatSelectSearchClear="ngxMatSelectSearchClear">x</mat-icon>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option
                                style="font-size: small;"
                                *ngFor="let item of filteredReferencia | async"
                                [value]="item.descripcion"
                                (click)="seleccionarReferencia(item)">
                                <p style="font-size: small;">
                                    <b>{{item.codigo}}</b>
                                       {{ item.descripcion }}
                                </p>
                            </mat-option>
                        </mat-select>
                        <mat-error  *ngIf="filterform.get('referencia').errors">{{getErrorMessage(filterform.get('referencia'))}}</mat-error>
                    </mat-form-field>

      

                <div class="filter-form px-6 py-4 flex flex-col" >
                    <!--tipo asiento-->
                    <mat-form-field   class="animate__animated animate__fade" fxFlex="auto" >
                        <mat-label class="labelForm">Tipo de Asiento</mat-label>
                        <mat-select id="tipoAsiento"
                                    required="required" 
                                    formControlName="tipoAsiento"  (ngModelChange)="setValueTipoAsiento()">
                                <mat-option *ngFor="let tipoAsiento of tipoAsientos" [value]="tipoAsiento.id" >
                                        {{ tipoAsiento.nombre }}
                                </mat-option>
                        </mat-select>
                        <mat-error  *ngIf="filterform.get('tipoAsiento').errors">{{getErrorMessage(filterform.get('tipoAsiento'))}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="filter-form px-6 py-4 flex flex-col" >
                    <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                        <mat-label class="labelForm">Valor</mat-label>
                        <input
                    
                            id="valor"
                            required="required"
                            placeholder="0.00"
                            [min]="0"
                            formControlName="valor"
                            (change)="changeValue()"
                            [inputMask]="DecimalInputMask"
                            [ngModel]="this.filterform.value.valor"
                            class="right-align"
                            matInput 
                            appTwoDigitDecimaNumber/>
                        <span matPrefix>{{simboloMoneda}}&nbsp;</span>
                        <mat-error  *ngIf="filterform.get('valor').errors">{{getErrorMessage(filterform.get('valor'))}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="filter-form px-6 py-4 flex flex-col" >
                    <!--Concepto -->
                       <mat-form-field style="flex: 100% !important;"  class=" animate__animated animate__fade" fxFlex="auto">
                         <mat-label>Concepto</mat-label>
                         <textarea matInput="matInput" rows="5" formControlName="detalle"></textarea>
                     </mat-form-field>
                  </div>

        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button *ngIf="detalle.edit" [disabled]="filterform.invalid" class="forms-full-button" mat-button="mat-button" type="submit" (click)="save(true)">EDITAR</button>
            <button *ngIf="!detalle.edit" [disabled]="filterform.invalid" class="forms-full-button" mat-button="mat-button" type="submit" (click)="save(false)" >GUARDAR</button>
        </mat-dialog-actions>
        

        </form>
        
    </div>
</div>