<vex-page-layout>
    <div style="margin-top: 80px;">
        <vex-page-layout-content
            [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="-mt-6">

            <div class="overflow-auto -mt-16"  style="display: flex;flex-direction: column;" *ngIf="detalleInversion?.length != 0">

                <table
                    [dataSource]="detalleInversion"
                    mat-table="mat-table"
                    matSort="matSort">
                    <caption></caption>

                    <ng-container class="mat-column-numCuota" matColumnDef="numCuota">
                        <th
                            mat-header-cell="mat-header-cell"
                            class="center-align"
                            *matHeaderCellDef>No. de Cuota</th>
                        <td
                            mat-cell="mat-cell"
                            class="center-align"
                            *matCellDef="let inversion; index as i">{{ i + 1 }}</td>
                        <td
                            mat-footer-cell="mat-footer-cell"
                            class="center-align"
                            *matFooterCellDef>
                            <strong>Totales</strong>
                        </td>
                    </ng-container>

                    <ng-container
                        class="mat-column-fechaVencimiento"
                        matColumnDef="fechaVencimiento">
                        <th
                            mat-header-cell="mat-header-cell"
                            class="center-align"
                            *matHeaderCellDef>Fecha .Vcto. Interés</th>
                        <td mat-cell="mat-cell" class="center-align" *matCellDef="let item">
                            {{item.fechaVencimiento | date: "dd/MM/yyyy"}}</td>
                        <td
                            mat-footer-cell="mat-footer-cell"
                            class="center-align"
                            *matFooterCellDef>
                            <strong></strong>
                        </td>
                    </ng-container>

                    <ng-container class="mat-column-dias" matColumnDef="tiempoDias">
                        <th
                            mat-header-cell="mat-header-cell"
                            class="center-align"
                            *matHeaderCellDef>Tiempo (Días)</th>
                        <td mat-cell="mat-cell" class="center-align" *matCellDef="let item; index as i">
                            {{item.dias}}
                        </td>
                        <td
                            mat-footer-cell="mat-footer-cell"
                            class="center-align"
                            *matFooterCellDef><strong>{{totalesDetalleInversion.diasPlazo}}</strong></td>
                    </ng-container>

                    <ng-container class="mat-column-interes" matColumnDef="interes">
                        <th
                            mat-header-cell="mat-header-cell"
                            class="center-align"
                            *matHeaderCellDef>Interés</th>
                        <td mat-cell="mat-cell" class="center-align" *matCellDef="let inversion">
                            ${{inversion.interes | number:'.2-2'}}
                        </td>
                        <td
                            mat-footer-cell="mat-footer-cell"
                            class="center-align"
                            *matFooterCellDef>
                            <strong>${{totalesDetalleInversion.totalInteres | number: ".2-2"}}</strong>
                        </td>
                    </ng-container>

                    <ng-container class="mat-column-capital" matColumnDef="capital">
                        <th
                            mat-header-cell="mat-header-cell"
                            class="center-align"
                            *matHeaderCellDef>Capital</th>
                        <td mat-cell="mat-cell" class="center-align" *matCellDef="let inversion">
                            ${{ inversion.capital | number:'.2-2'}}
                        </td>
                        <td
                            mat-footer-cell="mat-footer-cell"
                            class="center-align"
                            *matFooterCellDef>
                            <strong>${{totalesDetalleInversion.totalCapital | number: ".2-2"}}</strong>
                        </td>
                    </ng-container>

                    <ng-container class="mat-column-total" matColumnDef="total">
                        <th
                            mat-header-cell="mat-header-cell"
                            class="center-align"
                            *matHeaderCellDef>Total Capital + Intereses</th>
                        <td mat-cell="mat-cell" class="center-align" *matCellDef="let inversion">
                            ${{ inversion.cobrar | number:'.2-2'}}
                        </td>
                        <td
                            mat-footer-cell="mat-footer-cell"
                            class="center-align"
                            *matFooterCellDef>
                            <strong>${{totalesDetalleInversion.totalCobrar | number: ".2-2"}}</strong>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row="mat-header-row"
                        *matHeaderRowDef="amortizacionColumns; sticky: true"></tr>
                    <tr
                        mat-footer-row="mat-footer-row"
                        *matFooterRowDef="amortizacionColumns; sticky: true"></tr>
                    <tr mat-row="mat-row" *matRowDef="let row; columns: amortizacionColumns"></tr>

                </table>
            </div>
        </vex-page-layout-content>
    </div>

</vex-page-layout>