  <div class="row">
    <div class="col-6">
      <h4 style="font-weight: bold">Asignar a un miembro</h4>
    </div>
    <div class="col-6">
      <div align="right">
        <button>
          <mat-icon (click)="cerrar()" [icIcon]="icClose"></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <br>
  <form [formGroup]="formGenerales">
    <mat-form-field >
      <mat-label>Lista de empleados</mat-label>
      <mat-select name="idEmpleado" ngDefaultControl required formControlName="idEmpleado"
        #singleSelect>
        <mat-option>
          <ngx-mat-select-search placeholderLabel="Buscar lista de miembros..."
            noEntriesFoundLabel="'No se encuentra el miembro'" [formControl]="miembroFilterCtrl">
            <mat-icon ngxMatSelectSearchClear>x</mat-icon>
          </ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let item of filteredMiembros | async"
          [value]="item"
          (click)="cerrarModal(item)"
        >
          {{ item.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form> 
