<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="container py-gutter">
  <div class="card">
    <div class="h-64 relative bg-image">
      <div
        class="absolute opacity-100 top-0 right-0 bottom-0 left-0 w-full h-full z-0"
      >
        <div
          style="margin-left: 5%; margin-top: 2%"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <div
            class="bg-card rounded-full border px-4"
            fxFlex="400px"
            fxFlex.lt-md="auto"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <input
              [formControl]="searchCtrl"
              style="color: black"
              [(ngModel)]="buscar"
              class="px-4 py-3 border-0 outline-none w-full"
              placeholder="Buscar..."
              type="Buscar..."
              (keyup.enter)="buscarCesante()"
            />
            <button (click)="buscarCesante()" mat-mini-fab color="primary">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="z-10 relative -mt-16 px-gutter flex items-center">
      <img
        @scaleIn
        *ngIf="!fotoPerfil"
        class="avatar h-24 w-24 flex-none align-start hidden sm:block border-3 border-white"
        src="../../../../assets/img/sinPerfil.jpg"
      />

      <img
        @scaleIn
        *ngIf="fotoPerfil"
        class="avatar h-24 w-24 flex-none align-start hidden sm:block border-3 border-white"
        [src]="fotoPerfil"
      />

      <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
        <div class="h-16 flex items-center">
          <h1
            *ngIf="participe"
            @fadeInRight
            class="headline text-contrast-white m-0"
            style="font-weight: bold"
          >
            {{ participe.razonSocial }}
          </h1>
          <h1
            *ngIf="!participe"
            @fadeInRight
            class="headline text-contrast-white m-0"
          >
            Nombre del Cesante
          </h1>
        </div>
      </div>
    </div>
  </div>

  <vex-info-cesante *ngIf="existeCesante == true" [participe]="participe">
  </vex-info-cesante>

  <vex-liquidar
    *ngIf="existeCesante == true"
    [simulacionCesantia]="simulacionCesantia"
    [idCesantia]="idCesantia"
  >
  </vex-liquidar>
</div>
