<div class="p-gutter" vexContainer>
  <div class="row">
    <div class="col-9 col-sm-12 col-xs-12" *ngIf="prestamo">
      <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
        <span class="
            w-10
            h-10
            rounded-full
            text-primary
            mr-3
            flex
            items-center
            justify-center
            bg-primary-light">
          <ic-icon [icon]="icDescription" height="20px" width="20px"> </ic-icon>
        </span>
        <span class="block">Detalles de solicitud de crédito ({{prestamo.tipoPrestamo}})
          <br>
          <p style="color: red;">{{prestamo.producto}}</p>
        </span>
      </h2>
    </div>
    <div class="col-3" *ngIf="canAprobar">
      <button *ngIf="estado == 'pendiente'" class="bg-danger text-light" mat-raised-button (click)="rechazar()">
        RECHAZAR
      </button>
      <button *ngIf="estado == 'pendiente'" color="primary" style="margin-left: 1%" mat-raised-button
        (click)="aprobar()">
        APROBAR
      </button>
    </div>
  </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>

  <div *ngIf="participe" class="card overflow-hidden" style="border-radius: 15px; height: 100%">
    <div class="row" style="height: 100%">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="
          margin: auto;
          border-right: 0px solid rgb(196, 196, 196);
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;">
        <img @scaleIn class="
            avatar
            h-24
            w-24
            flex-none
            align-start
            hidden
            sm:block
            border-3 border-white
          " src="assets/img/sinPerfil.jpg" style="margin: auto; margin-top: 1%" />
      </div>
      <div class="col" style="padding: 1% 0% 2.5% 0%;">
        <div class="row" style="margin-top: 2%; overflow: hidden" *ngIf="prestamo">
          <div class="col-md-3 col-6 b-r">
            <strong>Nombres</strong>
            <br />
            <p class="text-muted">{{ participe.nombres }} {{ participe.apellidos }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Identificación</strong>
            <br />
            <p class="text-muted">{{ participe.identificacion }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Código Uniformado</strong>
            <br />
            <p class="text-muted">{{ participe.codigoUniformado }}</p>
          </div>
          <div class="col-md-3 col-6 b-r" *ngIf="prestamo.calificacion != null">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip style="height: 100%; background-color: #071a41;">
                <h5 style="font-weight: bold;">
                  <strong style="color: white;">Calificación</strong>
                  <div style="text-align: center;">
                    <strong [ngStyle]="{'color': colorCalificacionPrestamo(prestamo.calificacion)}">{{
                      prestamo.calificacion }}</strong>
                  </div>
                </h5>
              </mat-chip>
            </mat-chip-list>
          </div>

        </div>
        <!-- Fila 1 -->
        <div class="row" style="margin-top: 2%; overflow: hidden" *ngIf="prestamo">
          <div class="col-md-3 col-6 b-r">
            <strong>Tipo Préstamo</strong>
            <br />
            <p class="text-muted">{{ pagos?.tipoPrestamo }}</p>
            <p class="text-muted"><strong>N° Préstamo: </strong>{{ pagos?.idPrestamo }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Monto solicitado</strong>
            <br />
            <p class="text-muted">${{ pagos?.montoSolicitado | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Tasa nominal</strong>
            <br />
            <p class="text-muted">{{ pagos?.tasaNominal }}%</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Tasa efectiva</strong>
            <br />
            <p class="text-muted">{{ pagos?.tasaEfectiva }}%</p>
          </div>
        </div>
        <!-- Fila 2 -->
        <div class="row" style="margin-top: 1%; overflow: hidden" *ngIf="prestamo">
          <div class="col-md-3 col-6">
            <strong>Fecha solicitud</strong>
            <br />
            <p class="text-muted">{{ pagos?.fecha | date: "dd/MM/yyyy" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Plazo</strong>
            <br />
            <p class="text-muted">{{ pagos?.plazo == 1 ? pagos?.plazo + " mes" : pagos?.plazo + " meses" }}
            </p>

          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Tipo de amortización</strong>
            <br />
            <p class="text-muted">{{ pagos?.tipoAmortizacion }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Valor de cuota</strong>
            <br />
            <p class="text-muted">${{ pagos?.valorCuota | number: ".2-2" }}</p>
          </div>
        </div>
        <!-- Fila 3 -->
        <div class="row" style="margin-top: 1%; overflow: hidden" *ngIf="pagos">
          <div class="col-md-3 col-6">
            <strong>Total interés</strong>
            <br />
            <p class="text-muted">${{ pagos?.totalInteres | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Total degravamen</strong>
            <br />
            <p class="text-muted">${{ pagos?.totalDesgravamen | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Total del préstamo</strong>
            <br />
            <p class="text-muted">${{ pagos?.totalPrestamo | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Saldo</strong>
            <br />
            <p class="text-muted">${{ prestamo?.saldoTotal | number: ".2-2" }}</p>
          </div>
          <hr *ngIf="reestructurado" style="margin-top: 10px; margin-bottom: 10px;">
          <div *ngIf="reestructurado" class="col-md-12 col-12 b-r">
            <strong>Interés Reprogramado</strong>
          </div>

          <div *ngIf="reestructurado" class="col-md-3 col-6 b-r">
            <span>Base</span>
            <br />
            <p class="text-muted">${{ prestamo.moraAnterior | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r" *ngIf="reestructurado">
            <span>Descuento ({{ prestamo.descuentoMora }}%)</span>
            <br />
            <p class="text-muted">${{ valorDescontado | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r" *ngIf="reestructurado">
            <span>Total interés reprogramado</span>
            <br />
            <p class="text-muted">${{ prestamo.valorDiferido | number: ".2-2" }}</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-3" style="margin: auto">
        <span
          ><strong>Nombres: </strong> {{ participe.nombres }}
          {{ participe.apellidos }}</span
        >
      </div>
      <div class="col-3" style="margin: auto">
        <span
          ><strong>Identificación: </strong>
          {{ participe.identificacion }}</span
        >
      </div>
      <div class="col-3" style="margin: auto">
        <span
          ><strong>Código Uniformado: </strong>
          {{ participe.codigoUniformado }}</span
        >
      </div> -->
    </div>
  </div>

  <div @fadeInUp class="card overflow-hidden" style="
      margin-top: 1%;
      border-radius: 15px;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 2%;">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)">
      <!-- Datos del crédito -->
      <mat-tab label="Datos del crédito" style="overflow: hidden; font-weight: bold">
        <vex-info-credito [prestamo]="prestamo" [validaciones]="validaciones" [garantes]="garantes"
          [idPrestamo]="idPrestamo"></vex-info-credito>
      </mat-tab>

      <!-- Tabla de amortización -->
      <mat-tab label="Tabla de amortización" style="font-weight: bold">
        <!-- <div class="row" style="overflow: hidden; text-align: end; padding: 1%;" *ngIf="prestamo">
          <div style="padding: 1%; float: right">
            <button
              mat-stroked-button
              style="background-color: #171d29; color: #ffffff"
              (click)="descargarTablaComparativa()">
              <mat-icon
                color="white"
                fontIcon="fa-download"
                fontSet="fa"
              ></mat-icon>Histórico
            </button>
          </div>
        </div> -->
        <div class="row" style="overflow: hidden; padding: 4%;" *ngIf="prestamo">
          <!-- Revisar codigo totales pedido por ronald -->
          <!-- <div class="col-md-3 col-6 b-r">
            <strong>Total capital</strong>
            <br/>
            <p class="text-muted">${{ totales.capital | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Total interes</strong>
            <br/>
            <p class="text-muted">${{ totales.interes | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong *ngIf="reestructurado">Total Interes reprogramado</strong>
            <br/>
            <p *ngIf="reestructurado" class="text-muted">${{ totales.mora | number: ".2-2" }}</p>
          </div> -->
          <div class="col-md-2 col-6 b-r" style="text-align: start">
            <button mat-stroked-button style="background-color: #171d29; color: #ffffff"
              (click)="descargarTablaComparativa()">
              <mat-icon color="white" fontIcon="fa-download" fontSet="fa"></mat-icon> Descargar
            </button>
          </div>
          <div *ngIf="tablaAmortizacion.length != 0 && estadoPrestamo!='Pendiente'" fxFlex="auto" fxLayout="row" fxLayoutGap="8px"
            style="margin-top:10px">

            <div class="card" style="width: inherit;">
              <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Saldo</h2>
                <p class="m-0 caption text-hint">Totales de saldo</p>
              </div>

              <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr">
                <div class="py-3" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of totalsSaldo">
                  <div @scaleIn
                    class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                    <ic-icon [icon]="icbaselineAttachMoney" size="20px"></ic-icon>
                  </div>

                  <div @fadeInRight>
                    <p class="m-0 body-1">{{cabecera[item.saldo] | number:'.2-2'}}</p>
                    <p class="m-0 caption text-hint">{{item.label}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" style="width: 320px;">
              <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Interés</h2>
                <p class="m-0 caption text-hint">Totales de interés</p>
              </div>

              <div class="px-gutter py-4">
                <div class="py-3" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of totalsInteres">
                  <div @scaleIn
                    class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                    <ic-icon [icon]="icbaselineAttachMoney" size="20px"></ic-icon>
                  </div>

                  <div @fadeInRight>
                    <p class="m-0 body-1">{{cabecera[item.saldo] | number:'.2-2'}}</p>
                    <p class="m-0 caption text-hint">{{item.label}}</p>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- <div class="col-md-3 col-6 b-r">
            <strong>Total Degravamen</strong>
            <br/>
            <p class="text-muted">${{ totales.desgravamen | number: ".2-2" }}</p>
          </div>
          <div class="col-md-3 col-6 b-r">
            <strong>Total a pagar</strong>
            <br/>
            <p class="text-muted">${{ totales.total | number: ".2-2" }}</p>
          </div> -->
        </div>
        <!-- <div class="row" style="margin-top: 2%; overflow: hidden" *ngIf="prestamo">
          
        </div> -->
        <vex-tabla-amortizacion *ngIf="tablaAmortizacion.length>0" [dataTabla]="tablaAmortizacion" [dataTablaSimulacion]="tablaAmortizacionSimulacion"
          [totales]="totales" [reestructurado]="reestructurado"></vex-tabla-amortizacion>
      </mat-tab>

      <!-- Pagos -->
      <mat-tab *ngIf="tablaPagos" label="Pagos" style="font-weight: bold">
        <vex-pagos [pagos]="pagos"></vex-pagos>
      </mat-tab>

      <!-- Adjuntos del credito -->
      <mat-tab label="Adjuntos del credito" style="font-weight: bold" *ngIf="prestamo">
        <vex-adjuntos [idPrestamo]="idPrestamo" [idProducto]="prestamo.idProducto" [reestructurado]="reestructurado"
          [refinanciado]="refinanciado" [estado]="estado" [prestamo]="prestamo" [idEntidad]="id">

        </vex-adjuntos>
      </mat-tab>

      <!-- Actividad del credito -->
      <mat-tab label="Actividad del credito" style="font-weight: bold">
        <vex-actividad-credito *ngIf="prestamo" [prestamo]="prestamo" [actividadPrestamo]="actividadPrestamo"></vex-actividad-credito>
      </mat-tab>

      <!-- Datos del participe -->
      <mat-tab label="Datos del participe" style="font-weight: bold">
        <vex-info-participe *ngIf="cabecera" [idPrestamo]="idPrestamo" [rolPago]="rolPago"
          [fechaRol]="cabecera.fechaRol" [participe]="participe" [idParticipe]="id"></vex-info-participe>
      </mat-tab>

      <!-- Adjuntos del participe -->
      <mat-tab label="Adjuntos del participe" style="font-weight: bold">
        <vex-adjuntos-participe [prestamo]="prestamo" [participe]="participe" [referenciaBancaria]="referenciaBancaria"
          [cedulaFrontal]="cedulaFrontal" [cedulaPosterior]="cedulaPosterior"></vex-adjuntos-participe>
      </mat-tab>

      <!-- Acreditacion -->
      <mat-tab *ngIf="estado == 'firmado' && !creditoExpress" label="Acreditacion" style="font-weight: bold">
        <vex-acreditacion [prestamo]="prestamo" [estado]="estado" [referenciasBancarias]="referenciasBancarias"
          [cuentasBancarias]="cuentasBancarias"></vex-acreditacion>
      </mat-tab>

      <!-- Acreditacion crédito uniformado -->
      <mat-tab *ngIf="estado == 'firmado' && creditoExpress" label="Acreditacion" style="font-weight: bold">
        <br />
        <vex-acreditacion-uniformado [prestamo]="prestamo" [estado]="estado"></vex-acreditacion-uniformado>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>