<div mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Referencia bancaria</h4>
    </div>

    <mat-vertical-stepper orientation="vertical" linear="true" #stepper>
        <mat-step [stepControl]="fomReferenciaBancaria">
            <form [formGroup]="fomReferenciaBancaria">
                <ng-template matStepLabel>Datos</ng-template>

                <mat-form-field class="example-full-width">
                    <mat-label>Nombre del banco</mat-label>
                    <mat-select required formControlName="idEntidadFinanciera">
                        <mat-option [disabled]="data.visualizationMode" *ngFor="let banco of nombresBanco"
                            [value]="banco.idEntidadFinanciera">
                            {{banco.descripcion}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fomReferenciaBancaria.get('idEntidadFinanciera').hasError('required')">
                        El nombre del banco es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de cuenta bancaria</mat-label>
                    <mat-select required formControlName="idTipoCuenta">
                        <mat-option [disabled]="data.visualizationMode" *ngFor="let banco of tipoCuentaBancaria"
                            [value]="banco.idTipoCuenta">
                            {{banco.descripcion}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fomReferenciaBancaria.get('idTipoCuenta').hasError('required')">
                        El tipo de cuenta bancaria es requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Número de cuenta</mat-label>
                    <input [readonly]="data.visualizationMode" matInput formControlName="numeroCuenta" maxlength="20"
                        required>
                    <mat-error *ngIf="fomReferenciaBancaria.get('numeroCuenta').hasError('required')">
                        El número de cuenta es requerido
                    </mat-error>



                </mat-form-field>

                <div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">

                    <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button
                        (click)="onNoClick()">Cancelar</button>



                    <button color="primary" mat-raised-button [disabled]="!fomReferenciaBancaria.valid" cdkFocusInitial
                        (click)="guardarReferenciaBancaria()">
                        {{data.visualizationMode ? 'Siguiente' : 'Guardar'}}
                    </button>

                </div>

            </form>

        </mat-step>
        <mat-step>
            <br>
            <ng-template matStepLabel>Adjunto</ng-template>
            <div class="loading" *ngIf="loading">
                <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
            </div>


            <div *ngIf="adjuntosColaborador?.length > 0  && !loading">
                <vex-archivos-colaborador [visualizationMode]="data.visualizationMode" [idColaborador]="idEntidad"
                    (callCargarAdjuntos)="getAdjunto(idColaborador, tipoColaborador)"
                    [idReferenciaBancaria]="idReferenciaBancaria" [adjuntosColaborador]="adjuntosColaborador"
                    controlView="todos">
                </vex-archivos-colaborador>
            </div>

            <div>


                <div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">

                    <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button
                        matStepperPrevious>Anterior</button>
                    <button color="primary" mat-raised-button [disabled]="!fomReferenciaBancaria.valid"
                        [mat-dialog-close]="fomReferenciaBancaria.value" cdkFocusInitial>
                        {{data.visualizationMode ? 'Cerrar' : 'Guardar'}}
                    </button>

                </div>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>