<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<h1 mat-dialog-title>Comentar</h1>
<div mat-dialog-content style="height: 70%;">
  <div style="display: grid;">
    <div>
    </div>
    <div>
      <h6>Mencionados</h6>
    </div>
    <div>
      <mat-chip-list aria-label="Dog selection" *ngIf="mencionados.length > 0">
        <mat-chip *ngFor="let items of mencionados">
          {{items.nombre}}
          <button matChipRemove (click)="eliminarMencionado(items.idEntidad)">
            <mat-icon style="font-size: large;">cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <br>
    </div>
    <div>
      <mat-spinner style="margin: auto;" *ngIf="items.length == 0"></mat-spinner>

      <mat-form-field *ngIf="items.length != 0" class="example-full-width" appearance="fill" style="width: 100%;">
        <mat-label>Ingrese el comentario</mat-label>
        <textarea style="z-index: 3;" (itemSelected)="closed($event)" contenteditable="true" allowSpace="true"
          [mentionConfig]="{items:items, labelKey:'nombre', maxItems:4}" [mentionListTemplate]="mentionListTemplate"
          matInput [(ngModel)]="comentario">
          </textarea>
      </mat-form-field>
    </div>
  </div>

  <ng-template #mentionListTemplate let-item="item">
    <span>{{item.nombre}}</span>
  </ng-template>


  <br>

  <!-- <div style="margin-top: 2%;" *ngIf="mostrarAdjuntos">
        <span *ngFor="let adjunto of adjuntos" style="display: flex;">
          <mat-icon [icIcon]="icDriveFile"></mat-icon>
          {{adjunto.nombre}}
          <mat-icon (click)="removeAdjunto(adjunto.nombre)" style="color: red; cursor: pointer;" [icIcon]="icRemoveCircle"></mat-icon>
        </span>
      </div> -->

  <div style="margin-top: 1%" *ngIf="mostrarAdjuntos">
    <div
      class="vex-mail-compose-attachment mt-4 mb-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
      matRipple *ngFor="let adjunto of adjuntos; let i = index">
      <ic-icon [icon]="icDriveFile" class="flex-none text-primary" size="18px"></ic-icon>
      <p class="flex-auto ml-4 text-sm">{{ adjunto.name }}</p>

      <p class="text-sm text-secondary mr-2 flex-none">
        {{ adjunto.size }}kb
      </p>
      <button class="flex-none w-8 h-8 leading-none" mat-icon-button type="button" (click)="removeAdjunto(i)">
        <mat-icon [icIcon]="icClose" size="18px"></mat-icon>
      </button>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">

  <input type="file" class="file-input" (change)="handleFileInput($event.target.files, $event)" #fileUpload>
  <button mat-button matTooltip="Attach File" type="button" (click)="fileUpload.click()" tourAnchor="adjunto">
    Adjuntar
    <mat-icon [icIcon]="icAttachFile" size="24px"></mat-icon>
  </button>

  <span class="flex-1"></span>

  <button mat-button (click)="cerrar()" style="color: red;">Cerrar</button>
  <button mat-button style="background-color: #003B78; color: white;" (click)="crearComentario()">Enviar</button>
</div>