
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>

<div class="px-gutter py-4 flex items-center">
    <img *ngIf="!dataActividad2.photo" src="/assets/img/sinPerfil.jpg" [alt]="dataActividad.funcionario" style="font-size:x-small" class="flex-none avatar ltr:mr-4 rtl:ml-4"/>
    <img *ngIf="dataActividad2.photo" [src]="dataActividad2.photo" [alt]="dataActividad.funcionario" style="font-size:x-small" class="flex-none avatar ltr:mr-4 rtl:ml-4"/>
    <div class="flex-auto">
        <p class="font-small" style="font-size:small">{{dataActividad.funcionario}}</p>
        <p class="font-small" *ngIf="!dataActividad.funcionario" style="font-size:small">SYSTEM</p>
        <p class="text-secondary font-medium text-xs" style="font-size:x-small">{{dataActividad.fechaRegistro | date: 'dd/MM/yyyy'}}</p>
    </div>
    <div class="flex-auto">
        <p class="font-medium" style="text-align: end; font-weight: 500;">{{dataActividad.actividad1}}</p>
        <!-- <mat-chip-list style="text-align: end;" aria-label="Fish selection">
            <mat-chip>{{dataActividad.origen}}</mat-chip>
        </mat-chip-list> -->
        <p class="text-secondary font-medium text-xs" style="text-align: end;">
            <mat-chip-list style="text-align: end; float: right;" aria-label="Fish selection">
                <mat-chip style="float: right;">{{dataActividad.origen}}</mat-chip>
            </mat-chip-list>
        </p>
    </div>
</div>
    
<ng-content></ng-content>

<!-- <div>
<img src="assets/img/sinPerfil.png" />
</div> -->
<mat-divider></mat-divider>
<p *ngIf="dataActividad.observaciones" class="px-gutter pt-1 pb-4" style="margin-top: 1%">{{dataActividad.observaciones}}</p>
<p *ngIf="!dataActividad.observaciones" class="px-gutter pt-1 pb-4" style="margin-top: 1%">SIN OBSERVACION</p>

<div class="flex justify-between">
    <!-- <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-pink ltr:rounded-bl rtl:rounded-br relative hover:bg-pink-light trans-ease-out"
            matRipple>
        <ic-icon [icon]="icFavorite" [inline]="true" size="20px"></ic-icon>
        <p class="font-medium ltr:ml-2 rtl:mr-2">Likes</p>
    </div> -->
    <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-pink ltr:rounded-bl rtl:rounded-br relative hover:bg-pink-light trans-ease-out"
            matRipple>
        <!-- <ic-icon [icon]="icFavorite" [inline]="true" size="20px"></ic-icon>
        <p class="font-medium ltr:ml-2 rtl:mr-2">Likes</p> -->
    </div>
    
    <div class="px-gutter py-2 flex flex-row select-none items-center text-primary ltr:rounded-bl rtl:rounded-br trans-ease-out">
        <!-- <ic-icon [icon]="icComment" [inline]="true" size="20px"></ic-icon> -->
        <p class="ltr:ml-2 rtl:mr-2 cursor-pointer" style="color: gray; font-size:x-small" (click)="comentar('responder', dataActividad)">{{dataActividad.comentarios}} comentarios</p>
    </div>
</div>
<div class="flex justify-between">
    <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-pink ltr:rounded-bl rtl:rounded-br relative hover:bg-pink-light trans-ease-out"
            matRipple style="width:50%" (click)="comentar('historial', dataActividad)">
        <div style="margin: auto; display: flex;">
            <ic-icon [icon]="icDescription" [inline]="true" size="20px"></ic-icon>
            <!-- <p class="ltr:ml-2 rtl:mr-2">Historial</p> -->
            <p class="ltr:ml-2 rtl:mr-2">Historial</p>
        </div>
    </div>
    <div class="px-gutter py-2 flex flex-row cursor-pointer select-none items-center text-primary ltr:rounded-bl rtl:rounded-br relative hover:bg-primary-light trans-ease-out"
    matRipple style="width:50%" (click)="comentar('responder', dataActividad)">
        <div style="margin: auto; display: flex;">
            <ic-icon [icon]="icComment" [inline]="true" size="20px"></ic-icon>
            <p class="ltr:ml-2 rtl:mr-2">Comentar</p>
        </div>
    </div>
</div>