<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>
    <vex-page-layout-header class="page-head">
        <!-- cabecera -->
        <div class="head-icon">
            <h2 class="headline text-primary-contrast m-0 flex items-center">
                <mat-icon [routerLink]="['/inversiones/catalogos']" [icIcon]="icroundBookmark" class="icon" matTooltip="Cátalogo"></mat-icon>
                <mat-icon [icIcon]="icroundChevronRight" class="icon" ></mat-icon>
                <span @fadeInRight class=" block">{{titleSection}}</span>
            </h2>
        </div>
    </vex-page-layout-header>

    <div @stagger class="p-gutter" vexContainer="vexContainer">

        <div @fadeInUp class="card overflow-hidden">
            <vex-page-layout-content
                [class.container]="layoutCtrl.value === 'boxed'"
                [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
                class="-mt-6">
                <form  [formGroup]="formCalificadora">

                    <div class="contentdatosvalor">
                        <div class="FormData">
                                    <div class="subheading-1" style="font-weight: bold; margin-top: 1%">
                                        Información General
                                    </div>
                                <br/>
                                <div class="secctionform">
                             
                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label class="labelForm">Tipo Identificación</mat-label>
                                        <mat-select (selectionChange)="verifyID()" required formControlName="tipoIdentificacion">
                                            <mat-option required *ngFor="let identificacion of tiposIdentificaciones" [value]="identificacion">
                                                {{identificacion.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error  *ngIf="formCalificadora.get('tipoIdentificacion').errors">{{getErrorMessage(formCalificadora.get('tipoIdentificacion'))}}</mat-error>
                                    </mat-form-field>
                               
                                    <mat-form-field   class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label class="labelForm">Identificación</mat-label>
                                        <input  required   matInput="matInput"  type="text"  formControlName="identificacion" (change)="verifyID()"/>
                                        <mat-error *ngIf="formCalificadora.get('identificacion').errors">{{getErrorMessage(formCalificadora.get('identificacion'))}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label class="labelForm">Razón Social</mat-label>
                                        <input  required  matInput="matInput"  type="text"  formControlName="razonSocial"/>
                                        <mat-error *ngIf="formCalificadora.get('razonSocial').errors">{{getErrorMessage(formCalificadora.get('razonSocial'))}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                        <mat-label class="labelForm">Código</mat-label>
                                        <input  required  matInput="matInput" type="text" formControlName="codigoSbs"/>
                                        <mat-error *ngIf="formCalificadora.get('codigoSbs').errors">{{getErrorMessage(formCalificadora.get('codigoSbs'))}}</mat-error>
                                    </mat-form-field>

                                </div>
                            </div>

                            <div class="subheading-1" style="font-weight: bold; margin-top: 1%">
                                Ubicación
                             </div>
                             <br/>
                            <div class="secctionform">

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">País</mat-label>
                                    <mat-select required  formControlName="idPais"   (selectionChange)="loadProvincias()">
                                        <mat-option *ngFor="let pais of paises" [value]="pais.idPais">{{ pais.descripcion }}</mat-option >
                                    </mat-select>
                                    <mat-error *ngIf="formCalificadora.get('idPais').errors">{{getErrorMessage(formCalificadora.get('idPais'))}}</mat-error>
                                </mat-form-field>

                                <mat-form-field *ngIf="esNacional" class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Provincia</mat-label>
                                    <mat-select formControlName="idProvincia" required  (selectionChange)="loadCiudades()">
                                        <mat-option
                                            *ngFor="let provincia of provincias"
                                            [value]="provincia.idProvincia">{{ provincia.descripcion }}</mat-option >
                                    </mat-select>
                                    <mat-error *ngIf="formCalificadora.get('idProvincia').errors">{{getErrorMessage(formCalificadora.get('idProvincia'))}}</mat-error>
                                </mat-form-field>

                                <mat-form-field  *ngIf="esNacional" class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Ciudad</mat-label>
                                    <mat-select required formControlName="idCiudad" (selectionChange)="loadParroquia()">
                                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">{{ ciudad.descripcion}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formCalificadora.get('idCiudad').errors">{{getErrorMessage(formCalificadora.get('idCiudad'))}}</mat-error>
                                </mat-form-field>
                   
                                <mat-form-field   *ngIf="esNacional" class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Parroquia</mat-label>
                                    <mat-select  formControlName="idParroquia">
                                        <mat-option *ngFor="let parroquia of parroquias" [value]="parroquia.idParroquia">
                                            {{parroquia.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error  *ngIf="formCalificadora.get('idParroquia').errors">{{getErrorMessage(formCalificadora.get('idParroquia'))}}</mat-error>
                                </mat-form-field>
                       

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Calle Principal</mat-label>
                                    <input  required  matInput="matInput" type="text" formControlName="callePrincipal"/>
                                    <mat-error *ngIf="formCalificadora.get('callePrincipal').errors">{{getErrorMessage(formCalificadora.get('callePrincipal'))}}</mat-error>
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Calle Secuandaria</mat-label>
                                    <input  required  matInput="matInput" type="text" formControlName="calleSecundaria"/>
                                    <mat-error *ngIf="formCalificadora.get('calleSecundaria').errors">{{getErrorMessage(formCalificadora.get('calleSecundaria'))}}</mat-error>
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Referencia</mat-label>
                                    <input  required  matInput="matInput" type="text" formControlName="referencia"/>
                                </mat-form-field>
                      
                          </div>
                        <div class="subheading-1" style="font-weight: bold; margin-top: 1%">
                            Contacto
                        </div>
                        <br/>
                        <div class="secctionform">

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label class="labelForm">Celular</mat-label>
                                <input  
                                    matInput="matInput"
                                    required
                                    formControlName="celular"/>
                                    <mat-error  *ngIf="formCalificadora.get('celular').errors">{{getErrorMessage(formCalificadora.get('celular'),"Campo Inválido")}}</mat-error>
                            </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Teléfono Principal</mat-label>
                                    <input 
                                        required
                                        matInput="matInput"
                                        formControlName="telefono1"/>
                                        <mat-error  *ngIf="formCalificadora.get('telefono1').errors">{{getErrorMessage(formCalificadora.get('telefono1'),"Campo Inválido")}}</mat-error>
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Teléfono Secundario</mat-label>
                                    <input 
                                        matInput="matInput"
                                        formControlName="telefono2"/>
                                        <mat-error  *ngIf="formCalificadora.get('telefono2').errors">{{getErrorMessage(formCalificadora.get('telefono2'),"Campo Inválido")}}</mat-error>
                                </mat-form-field>


                          
                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Correo Pricipal</mat-label>
                                    <input
                                        required
                                        matInput="matInput"
                                        type="email"
                                        formControlName="correo1"/>
                                    <mat-error *ngIf="formCalificadora.get('correo1').errors">{{getErrorMessage(formCalificadora.get('correo1'))}}</mat-error>
                                </mat-form-field>

                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Correo Secundario</mat-label>
                                    <input
                                        matInput="matInput"
                                        type="email"
                                        formControlName="correo2"/>
                                    <mat-error *ngIf="formCalificadora.get('correo2').errors">{{getErrorMessage(formCalificadora.get('correo2'))}}</mat-error>
                                </mat-form-field>
              
                    
                                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                    <mat-label class="labelForm">Página web</mat-label>
                                    <input
                                        matInput="matInput"
                                        type="text"
                                        formControlName="web"/>
                                    <mat-error *ngIf="formCalificadora.get('web').errors">{{getErrorMessage(formCalificadora.get('web'))}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
    
                </form>
                <div style="display: flex;justify-content: flex-end;">
                    <button
                        mat-raised-button="mat-raised-button"
                        color="primary"
                        (click)="enviarCalificadora()">
                        Confirmar
                    </button>
                </div>
            </vex-page-layout-content>
        </div>
    </div>