.head-app-bar-search {
    position: relative;
    align-items: center;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: end;
  }



  .head-icon{
    margin-left: 2%;
    /* text-align: center;
    width: 200px; */
    .mat-icon{
        font-size: 80px;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 80px;
        width: 80px; 
    }
  }
  
  
  .loading{
    height: 400px;
  }
  
  .card {
    overflow: auto;
  }


  
//small
@media screen and (max-width: 40em) {
  .head-app-bar {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      height: 160px;
      .search-bar{
          min-width: 180px;
      }
  }
  .head-title {
      margin-bottom: 10px;
      text-align: center;
  }
  .loading{
      height: 200px;
  }
}

//medium
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .head-app-bar {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .search-bar{
          min-width: 300px;
      }
  }
}

//large
@media screen and (min-width: 64em) {
  .head-app-bar {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
     
  }
}




.label {
  font-weight: bolder;
}



.input-text{
  color:var(--COLOR-BLACK)
}
.search-bar{
  min-width: 300px;
  margin: 0.5rem!important;
  border: 1px solid var(--COLOR-NEUTRAL-LIGHT-GRAY) ;

}

.head-title-card {
  color: var(--COLOR-PRIMARY-CONTRAST) !important;
  line-height: 30px;
  font-weight: bold;
}
.head-title {
  line-height: 30px;
  font-weight: bold;
}
.head-button{
  width: 15rem;
  min-width: 40px !important;
  min-height: 40px !important;
  margin: 0 10px 0px 10px !important;
  border-radius: 20px !important;
  color: var(--COLOR-PRIMARY-CONTRAST) !important;
  background-color: var(--COLOR-PRIMARY) !important; 
}

.head-option{
  display: grid !important;
  border-radius: 0.5rem;
  margin: 2rem!important;
   .search-bar {
      display: inline-flex;
      align-items: center;
      min-width: 400px;
      padding: 0px;
      border-radius: 2rem;
      background: var(--COLOR-WHITE);
      flex: 1 auto;
  }
}


  .head-icon {
    margin-left: 2%;
    .mat-icon {
        font-size: 80px;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 80px;
        width: 80px;
    }
}

.value-card {
/*     background-color: #f1f0f1; */
    margin:1.5rem;
}


.content-resum-card {
    font-size: medium;
}

.Resum-description {
    margin: 1rem 2rem 0;
}
/* .head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

} */

.avatar-card {
    background-size: cover;
    background-color: var(--COLOR-PRIMARY);
}
.icon-card {
    display: flex;
    color: var(--COLOR-PRIMARY-CONTRAST);
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    align-items: center;
}



.icon-tab {
    padding-right: 35px !important;
}

.label {
    font-weight: bolder;
}
td {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.value {
    padding-left: 15px;
}
