<div class="modal-container">
    <div class="head-modal" fxLayoutAlign="start center">
        <h2 text-center="text-center" class="head-title">{{report.titulo}}</h2>
        <button class="simple-button" mat-dialog-close={{null}} mat-icon-button="mat-icon-button" type="button">
            <mat-icon [icIcon]="icroundClose"></mat-icon>
        </button>
    </div>


    <div class="icon-divider">
        <mat-divider class="-mx-6 text-border backgraund-color-neutral-light-gray"></mat-divider>
        <div *ngIf="isReporte" class="modal-icon">
            <mat-icon [fontIcon]="iconModal" class="icon" fontSet="fa"></mat-icon>
        </div>
        <div *ngIf="isEstructura" class="modal-code">
            <span class="text-code">{{report.codigo}}</span>
        </div>
        <mat-divider class="-mx-6 text-border backgraund-color-neutral-light-gray"></mat-divider>
    </div>



    <div class="body-modal">
        <form (ngSubmit)="save()" [formGroup]="filterform">

            <div mat-dialog-content="mat-dialog-content" class="description-card" cols="2">
                <p class="font-body">{{report.descripcion}}</p>
            </div>

            <mat-dialog-content class="filter-form" fxLayout="column">
                <div *ngIf="parameters.length!==0">
                    <div class="filter-form px-6 py-4 border-b flex items-center">
                        <span class="title">Filtros</span>
                    </div>

                    <div class="filter-form px-6 py-4 flex flex-col" *ngFor="let parameter of parameters">
                        <mat-form-field *ngIf="transformDataType(parameter.tipo)==='text'">
                            <mat-label>{{parameter.descripcion}}</mat-label>
                            <input cdkFocusInitial="cdkFocusInitial" formControlName={{parameter.nombre}}
                                required={{parameter.requerido}} type='text' matInput>

                        </mat-form-field>

                        <mat-form-field *ngIf="transformDataType(parameter.tipo)==='number'">
                            <mat-label>{{parameter.descripcion}}</mat-label>
                            <input cdkFocusInitial="cdkFocusInitial" formControlName={{parameter.nombre}}
                                required={{parameter.requerido}} type='number' min="0" matInput>

                        </mat-form-field>

                        <mat-form-field *ngIf="transformDataType(parameter.tipo)==='date'">
                            <mat-label>{{parameter.descripcion}}</mat-label>
                            <input [matDatepicker]="datepickerRef" formControlName={{parameter.nombre}}
                                required={{parameter.requerido}} type='datetime' matInput>
                            <mat-datepicker-toggle [for]="datepickerRef" class="block"
                                matPrefix="matPrefix"></mat-datepicker-toggle>
                            <mat-datepicker #datepickerRef></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="filter-form px-6 py-4 border-b flex items-center" *ngIf="isEstructura">
                    <span *ngIf="report.periodicidad==='M' || report.periodicidad==='E' || report.periodicidad==='S'"
                        class="title">Periodicidad Mensual</span>
                    <span *ngIf="report.periodicidad==='A'" class="title">Periodicidad Anual</span>
                </div>
                <div class="filter-form px-6 py-4 flex flex-col" *ngIf="isEstructura">
                    <vex-mat-datepicker-month-year
                        *ngIf="report.periodicidad==='M'|| report.periodicidad==='E' || report.periodicidad==='S'"
                        (date_month_year_value)="setMonthAndYear($event)"></vex-mat-datepicker-month-year>
                    <vex-mat-datepicker-year *ngIf="report.periodicidad==='A'"
                        (date_year_value)="setYear($event)"></vex-mat-datepicker-year>
                </div>

                <div class="formato">
                    <div class="filter-form  px-6 py-4 border-b flex items-center">
                        <span class="title">Selecciona el formato</span>
                    </div>

                    <div class="filter-form  px-6 py-4 flex flex-col">
                        <mat-form-field class="flex-none">

                            <mat-label>Formato</mat-label>
                            <mat-select *ngIf="isReporte" [formControl]="formatControl" required>
                                <mat-option *ngFor="let format of formatOptions_reporte" [value]="format.value">
                                    {{format.opcion}}
                                </mat-option>
                            </mat-select>
                            <mat-select *ngIf="isEstructura" [formControl]="formatControl" required>
                                <mat-option *ngFor="let format of formatOptions_estructura" [value]="format.value">
                                    {{format.opcion}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                </div>
            </mat-dialog-content>

            <mat-dialog-actions align="end">
                <button *ngIf="isReporte" [disabled]="filterform.invalid || formatControl.invalid"
                    class="forms-full-button" mat-button="mat-button" type="submit">GENERAR</button>
                <button *ngIf="isEstructura" [disabled]="invalidfilterformdate || formatControl.invalid"
                    class="forms-full-button" mat-button="mat-button" type="submit">GENERAR</button>
            </mat-dialog-actions>


        </form>

    </div>
</div>