
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
> 
<p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>
<vex-page-layout-header class="page-head">
   
  <div style="display: flex; justify-content: center;  width: inherit;  width: 100%;margin-right: 0%;">  
      <h1 class=" head-title " style=" color: var(--COLOR-PRIMARY-CONTRAST);">
            Simulación de Créditos
      </h1>
  </div> 

  <div class="headerSearch">
    <div class="head-app-bar-search" style="display:flex">
          <div class="head-options" >
              <div class="search-bar">
                  <input [formControl]="searchCtrl" [(ngModel)]="buscar"
                  class="px-4 py-3 border-0 outline-none w-full bg-transparent input-text"
                  placeholder="Identificación o código de uniformado" type="search" (keyup.enter)="consultarParticipe(buscar)">
                  <button (click)="consultarParticipe(buscar)" class="head-button" mat-button="mat-button" matTooltip="Buscar">
                  <mat-icon [icIcon]="icroundSearch"></mat-icon>
                  Consultar
                  </button>
              </div>
              </div>

  </div>
</div>
</vex-page-layout-header> 



<vex-page-layout-content   @stagger [class.container]="layoutCtrl.value === 'fullwidth'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
    <div  class="text-center mt-4 ">



      <mat-card *ngIf="participe.idParticipe" class="card value-card center">
        <div style="display: flex; grid-template-columns: repeat(4, 1fr);">
            <div class="avatar-card center" style="grid-column-end: 1;grid-column-start: 1;" mat-card-avatar="mat-card-avatar">
                <mat-icon class="icon-card center" [icIcon]="icroundPerson"></mat-icon>
            </div>
            <div style="grid-column-end: 2;grid-column-start: 4; margin-left: 10px;" *ngIf="participe">
              <mat-card-title>{{participe.nombres}} {{participe.apellidos}}</mat-card-title>
              <mat-card-subtitle *ngIf="participe.codigoUniformado" class="content-resum-card" style="display: flex; justify-content: center;">
                Cod. Uniformado #{{participe.codigoUniformado}}</mat-card-subtitle> 
                <div style="display: flex; justify-content: center;">
                  <p class="badge badge-success" *ngIf="isAdherido" style="width: 130px;">Adherido
                </p>
                <p class="badge badge-danger" *ngIf="!isAdherido" style="width: 130px;">No Adherido
                </p>
              </div>
            </div>
            
        </div>
    </mat-card>

            <div class="form card">

            
                <form [formGroup]="simulacionFormGroup">
                    <div class="mt-4" fxLayout="row warp" fxLayoutGap="10px">

                        <mat-form-field class="flex-45"  fxFlex="auto">
                            <mat-label>Tipo de Préstamo</mat-label>
                            <mat-select  formControlName="tipoPrestamo"  required (selectionChange)="selectedTipoPrestamo($event.value)">
                              <mat-option *ngFor="let tipoCredito of tipoCreditos" [value]="tipoCredito.value">
                                {{ tipoCredito.label }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field class="flex-45"  fxFlex="auto">
                            <mat-label>Producto Financiero</mat-label>
                            <mat-select  formControlName="idProducto" required (selectionChange)="selectedTipoProducto($event.value)">
                              <mat-option *ngFor="let producto of filteredTipoProducto | async" [value]="producto.idProducto">
                                {{ producto.descripcion }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                          <vex-calculadora class="container-calculadora" [isSimulacion]="isSimulacion"></vex-calculadora>

                    </div>
                </form>

               
                </div>
         </div>


</vex-page-layout-content>

</vex-page-layout>
