<div class="subheading-1" style="font-weight: bold; margin-top: 1%">
  Comentarios internos
</div>

<mat-form-field class="flex-auto" style="width: 100%">
  <mat-label>Comentario: </mat-label>
  <input matInput [(ngModel)]="observaciones" />
</mat-form-field>
<div style="float: left">
  <button
    mat-raised-button
    style="background-color: rgb(11, 223, 0); color: white; font-weight: bold"
    (click)="comentar()"
  >
    Comentar
  </button>
</div>

<div class="container" style="margin-top: 6%" *ngIf="actividadPrestamo">
  <div
    class="row justify-content-center"
    *ngFor="let item of actividadPrestamo"
  >
    <div class="col-xl-10 col-12">

      <div *ngIf="item.observaciones" class="col-xl-10 col-12">
        <div class="timeline timeline-line-solid">
          <span class="timeline-label">
            <span class="label"
              >{{ item.fecha | date: "MM/yyyy" }}
              <span class="badge label" style="font-size: small">{{
                item.estado
              }}</span>
            </span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point"></div>
            <div class="timeline-event">
              <div class="widget has-shadow">
                <div class="widget-header d-flex align-items-center">
                  <div class="user-image">
                    <img
                      class="rounded-circle"
                      src="/assets/img/sinPerfil.jpg"
                      alt="{{ item.funcionario }}"
                    />
                  </div>
                  <div class="d-flex flex-column mr-auto">
                    <div class="title">
                      <span class="username">{{ item.funcionario }}</span>
                    </div>
                  </div>
                </div>
                <div class="widget-body">
                  <p>
                    {{ item.observaciones }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="item.motivo" class="col-xl-10 col-12">
        <div class="timeline timeline-line-solid">
          <span class="timeline-label">
            <span class="label"
              >{{ item.fecha | date: "MM/yyyy" }}
              <span class="badge label" style="font-size: small">{{
                item.estado
              }}</span>
            </span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point"></div>
            <div class="timeline-event">
              <div class="widget has-shadow">
                <div class="widget-header d-flex align-items-center">
                  <div class="user-image">
                    <img
                      class="rounded-circle"
                      src="/assets/img/sinPerfil.jpg"
                      alt="{{ item.funcionario }}"
                    />
                  </div>
                  <div class="d-flex flex-column mr-auto">
                    <div class="title">
                      <span class="username">{{ item.funcionario }}</span>
                    </div>
                  </div>
                </div>
                <div class="widget-body">
                  <p>
                    Motivo: {{ item.motivo }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div *ngIf="item.observacion" class="col-xl-10 col-12">
        <div class="timeline timeline-line-solid">
          <span class="timeline-label">
            <span class="label"
              >{{ item.fecha | date: "MM/yyyy" }}
              <span class="badge label" style="font-size: small">{{
                item.estado
              }}</span>
            </span>
          </span>
          <div class="timeline-item">
            <div class="timeline-point timeline-point"></div>
            <div class="timeline-event">
              <div class="widget has-shadow">
                <div class="widget-header d-flex align-items-center">
                  <div class="user-image">
                    <img
                      class="rounded-circle"
                      src="/assets/img/sinPerfil.jpg"
                      alt="{{ item.funcionario }}"
                    />
                  </div>
                  <div class="d-flex flex-column mr-auto">
                    <div class="title">
                      <span class="username">{{ item.funcionario }}</span>
                    </div>
                  </div>
                </div>
                <div class="widget-body">
                  <p>
                    Observación: {{ item.observacion }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      
   
  </div>
</div>
