<div   fxFlex="auto" fxLayout="row" fxLayoutGap="8px" style="margin-top:10px">
    <div  style="width: 100%;">
    <div *ngIf="simulacionData.length>0" > 
        <app-icon-data [items]="simulacionData"></app-icon-data>
    </div>
    <div style="display: flex; justify-content: start;margin-left:25px">
     <button color="primary" style="margin-bottom:30px" mat-raised-button (click)="tablaAmortizacionEmit.emit()">TABLA DE AMORTIZACIÓN</button>
    </div>
    <div  #canvasContainer style="display: flex; justify-content: center; align-items: center;">
        <canvas id="myCanvas" width="200" height="400">
        </canvas>
    </div>
    </div>
</div>