<vex-page-layout>
    <vex-page-layout-header class="page-head">
        <vex-header [tituloHeader]="tituloHeader" [controlScreen]="controlScreen" [icono]="icono"></vex-header>
    </vex-page-layout-header>
    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
        [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <div @fadeInUp class="card">



            <router-outlet></router-outlet>

        </div>
    </vex-page-layout-content>
</vex-page-layout>