<div mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Dirección</h4>
    </div>

    <form [formGroup]="formDireccion">

        <mat-form-field class="example-full-width">
            <mat-label>Seleccione un tipo de dirección</mat-label>
            <mat-select required formControlName="idTipoDireccion">
                <mat-option [disabled]="data.visualizationMode" required *ngFor="let tipo of tiposDireccion"
                    [value]="tipo.idTipoDireccion">
                    {{tipo.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formDireccion.get('idTipoDireccion').hasError('required')">
                El campo es requerido
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Escoge una provincia</mat-label>
            <mat-select required (selectionChange)="seleccionarProvincia($event.value)" formControlName="idProvincia">
                <mat-option [disabled]="data.visualizationMode" required *ngFor="let nivel of provincias"
                    [value]="nivel.idProvincia">{{nivel.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formDireccion.get('idProvincia').hasError('required')">
                El campo es requerido
            </mat-error>

        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Escoge una ciudad</mat-label>
            <mat-select required (selectionChange)="seleccionarCuidad($event.value)" formControlName="idCanton">
                <mat-option [disabled]="data.visualizationMode" *ngFor="let nivel of ciudades"
                    [value]="nivel.idCiudad">{{nivel.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formDireccion.get('idCanton').hasError('required')">
                El campo es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Parroquia</mat-label>
            <mat-select required formControlName="idParroquia">
                <mat-option [disabled]="data.visualizationMode" *ngFor="let parroquia of parroquias"
                    [value]="parroquia.idParroquia">
                    {{parroquia.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formDireccion.get('idParroquia').hasError('required')">
                El campo es requerido
            </mat-error>
        </mat-form-field>




        <mat-form-field class="example-full-width">
            <mat-label>Sector</mat-label>
            <input [readonly]="data.visualizationMode" matInput formControlName="sector" [matAutocomplete]="auto">
            <mat-error *ngIf="formDireccion.get('sector').hasError('required')">
                La sector es requerida
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <mat-label>Calle principal</mat-label>
            <input [readonly]="data.visualizationMode" matInput required formControlName="callePrincipal">
            <mat-error *ngIf="formDireccion.get('callePrincipal').hasError('required')">
                El campo es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Calle secundaria</mat-label>
            <input [readonly]="data.visualizationMode" matInput formControlName="calleSecundaria">

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Referencia</mat-label>
            <input [readonly]="data.visualizationMode" matInput formControlName="referencia">

        </mat-form-field>

    </form>


</div>


<div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">
    <button *ngIf="!data.visualizationMode" style="color: #fff; background-color: #EF2E2E;" mat-raised-button
        (click)="onNoClick()">Cancelar</button>
    <button color="primary" mat-raised-button [disabled]="!formDireccion.valid"
        (click)="enviarFormulario(formDireccion.value)" cdkFocusInitial>{{data.visualizationMode ? 'Cerrar' :
        'Guardar'}}</button>
</div>