<div mat-dialog-content>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Contacto</h4>
    </div>

    <form [formGroup]="formContacto">



        <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input [readonly]="data.visualizationMode" (keydown)="utils.validacionSoloLetras($event)" matInput required
                formControlName="nombre">
            <mat-error *ngIf="formContacto.get('nombre').hasError('required')">
                El nombre es requerido
            </mat-error>
            <mat-error *ngIf="formContacto.get('nombre').hasError('pattern')">
                El nombre solo debe contener letras
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Celular</mat-label>
            <input [readonly]="data.visualizationMode" matInput required formControlName="celular" maxlength="13">
            <mat-error *ngIf="formContacto.get('celular').hasError('required')">
                El celular es requerido
            </mat-error>

            <mat-error *ngIf="formContacto.get('celular').hasError('pattern')">
                El celular solo debe contener numeros
            </mat-error>
            <mat-error *ngIf="formContacto.get('celular').hasError('minlength') || formContacto.get('celular').hasError('maxlength') ">
                El campo debe tener 10 caracteres
            </mat-error>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input [readonly]="data.visualizationMode" maxlength="13" matInput formControlName="telefono">

            <mat-error *ngIf="formContacto.get('telefono').hasError('pattern')">
                El telefono solo puede contener números
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input [readonly]="data.visualizationMode" matInput formControlName="correo">

            <mat-error *ngIf="formContacto.get('correo').hasError('email')">
                El correo no es valido
            </mat-error>
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <mat-label>Parentesco</mat-label>
            <mat-select required formControlName="idParentesco">
                <mat-option [disabled]="data.visualizationMode" *ngFor="let tipo of tiposParentesco"
                    [value]="tipo.idParentesco">{{tipo.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formContacto.get('idParentesco').hasError('required')">
                El parentesco es requerido
            </mat-error>
        </mat-form-field>


    </form>

</div>



<div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">
    <button *ngIf="!data.visualizationMode" style="color: #fff; background-color: #EF2E2E;" mat-raised-button
        (click)="onNoClick()">Cancelar</button>
    <button color="primary" mat-raised-button [disabled]="!formContacto.valid"
        (click)="enviarFormulario(formContacto.value)" cdkFocusInitial>
        {{data.visualizationMode ? 'Cerrar' :
        'Guardar'}}
    </button>
</div>