<!--  <div [formGroup]="documentosIngreso">
  <vex-archivos-colaborador [idColaborador]="idColaborador" [tipoColaborador]="tipoColaborador"
    controlView="INFORMACION LABORAL" [adjuntosColaborador]="adjuntosColaborador">
  </vex-archivos-colaborador>
</div>  -->
 <div *ngIf="adjuntosDocumentosIngreso.length>0">

<div *ngFor="let adjuntosColaborador of adjuntosDocumentosIngreso">
  <vex-archivos-colaborador  [adjuntosColaborador]="adjuntosColaborador"  [idColaborador]="idColaborador" [tipoColaborador]="tipoColaborador"
    controlView="DOCUMENTOS DE INGRESO"  [visualizationMode]="false" (callCargarAdjuntos)="getAdjunto($event,idColaborador, tipoColaborador)" >
  </vex-archivos-colaborador>
</div>
  
</div> 