.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .example-section {
    display: flex;
    //align-content: center;
    //align-items: center;
    margin-top: 40px;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .input-file {
    background-color: #3F51B5;
    margin-bottom: 30px;
    color: #ffff;
    margin: 20px 0;
  }

  .archivoRemove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  .head-table-formacion {
    padding: 0.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--COLOR-NEUTRAL-LIGHT-GRAY);
}