<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<div>
    <div class="head-modal" fxLayoutAlign="start center">
        <h2 text-center="text-center" class="head-title">Agregar Contacto</h2>
        <button class="simple-button" mat-dialog-close={{null}} mat-icon-button="mat-icon-button" type="button">
            <mat-icon [icIcon]="icroundClose"></mat-icon>
        </button>
    </div>
    <form [formGroup]="datosContacto">
        
          
              <div class="titulovalor" style="margin-top: 0%">
        
                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Nombre</mat-label>
                    <input  formControlName="nombre"
                        matInput>
                    <mat-error *ngIf="datosContacto.get('nombre').errors">{{getErrorMessage(datosContacto.get('nombre'))}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Emergencia</mat-label>
                    <mat-select 
                                formControlName="emergencia"
                                required>
                        <mat-option
                                *ngFor="let tipo of emergencia"
                                [value]="tipo.valor"
                                >
                                {{ tipo.label }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Parentesco</mat-label>
                    <mat-select 
                                formControlName="idParentesco"
                                required>
                        <mat-option
                                *ngFor="let tipo of parentescos"
                                [value]="tipo.idParentesco"
                                >
                                {{ tipo.descripcion }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label >Teléfono</mat-label>
                    <input 
                        matInput
                        formControlName="telefono"/>
                        <mat-error  *ngIf="datosContacto.get('telefono').errors">{{getErrorMessage(datosContacto.get('telefono'),"Campo Inválido")}}</mat-error>
                </mat-form-field>


                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label >Celular</mat-label>
                    <input 
                        matInput
                        formControlName="celular"/>
                        <mat-error  *ngIf="datosContacto.get('celular').errors">{{getErrorMessage(datosContacto.get('celular'),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Correo</mat-label>
                    <input
                        required
                        matInput="matInput"
                        type="email"
                        formControlName="correo"/>
                    <mat-error *ngIf="datosContacto.get('correo').errors">{{getErrorMessage(datosContacto.get('correo'))}}</mat-error>
                </mat-form-field>

            
            </div>   
    </form>
    <mat-dialog-actions align="end">
        <button [disabled]="datosContacto.invalid"
            class="forms-full-button" mat-button="mat-button" (click)="saveContacto()">GUARDAR</button>
    </mat-dialog-actions>
</div>