<div>
                   
    <div style="display: flex;
    justify-content: end;"><button 
       (click)="openDialog()"
        matTooltip="Agregar Contacto"
        class="head-buttons"
        mat-button="mat-button">
        <mat-icon  [icIcon]="icroundAdd"  ></mat-icon>
    </button>
    </div>
    
    <div *ngIf="contactos.length==0">
        No hay contactos
    </div>
    <form [formGroup]="datosContacto">
        
        
        <mat-accordion class="example-headers-align" *ngIf="contactos.length!=0">
       
          <div *ngFor="let item of contactos; let i=index">

            <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Contactos {{i+1}} <div  *ngIf="item.emergencia"> (Emergencia)</div> </mat-panel-title>
                <mat-panel-description style="display:flex; justify-content: end;">
                    &nbsp;
                    &nbsp; 
                        <mat-icon  (click)="eliminarContacto(item)"
                        matTooltip="Eliminar Contacto" [icIcon]="icroundDelete"  >
                        </mat-icon>
           
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <div class="titulovalor" style="margin-top: 0%">

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label>Nombre</mat-label>
                    <input  formControlName="nombre"
                         required
                        [id]="'nombre'+i"
                        [formControlName]="'nombre'+i"
                        matInput>
                    <mat-error *ngIf="datosContacto.get('nombre'+i).errors">{{getErrorMessage(datosContacto.get('nombre'+i))}}</mat-error>
                </mat-form-field>

                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Emergencia</mat-label>
                    <mat-select  [id]="'emergencia'+i"
                                [formControlName]="'emergencia'+i"
                                required>
                        <mat-option
                                *ngFor="let tipo of emergencia"
                                [value]="tipo.valor"
                                >
                                {{ tipo.label }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field  class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Parentesco</mat-label>
                    <mat-select [id]="'idParentesco'+i"
                                [formControlName]="'idParentesco'+i"
                                required>
                        <mat-option
                                *ngFor="let tipo of parentescos"
                                [value]="tipo.idParentesco"
                                >
                                {{ tipo.descripcion }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label >Teléfono</mat-label>
                    <input 
                        matInput
                        [id]="'telefono'+i"
                        [formControlName]="'telefono'+i"
                       />
                        <mat-error  *ngIf="datosContacto.get('telefono'+i).errors">{{getErrorMessage(datosContacto.get('telefono'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>


                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label >Celular</mat-label>
                    <input 
                        matInput
                        [id]="'celular'+i"
                        [formControlName]="'celular'+i"
                    />
                        <mat-error  *ngIf="datosContacto.get('celular'+i).errors">{{getErrorMessage(datosContacto.get('celular'+i),"Campo Inválido")}}</mat-error>
                </mat-form-field>

                <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                    <mat-label class="labelForm">Correo</mat-label>
                    <input
                        matInput
                        type="email"
                        [id]="'correo'+i"
                        [formControlName]="'correo'+i"
                        />
                    <mat-error *ngIf="datosContacto.get('correo'+i).errors">{{getErrorMessage(datosContacto.get('correo'+i))}}</mat-error>
                </mat-form-field>

             
            </div>
          
              <mat-action-row >
                <button color="primary" mat-raised-button (click)="actualizarContactos(i)"  >ACTUALIZAR</button>
                <button mat-raised-button mat-button  *ngIf="step!=0" (click)="prevStep()">Anterior</button>
                <button color="primary" mat-raised-button *ngIf="step!=contactos.length-1" (click)="nextStep()">Siguiente</button>
              </mat-action-row>
              
            </mat-expansion-panel>
          
          </div>
           
          
          </mat-accordion>

       
    </form>
</div>