<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
  
  <div class="container py-gutter">
    <div class="mt-6 flex flex-col md:flex-row md:items-start">
        <div class="flex-auto">
  
          <div class="bg-app-bar flex">
            <span class="flex-1"> Informacion del Ticket </span>
            <!-- <button *ngIf="tipo == 1" class="text-secondary uppercase font-medium bg-primary text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="atender()">
                <span style="color: white;">
                  ATENDER TURNO
                </span>
            </button>
            <button *ngIf="tipo == 2" class="text-secondary uppercase font-medium bg-primary text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="finalizar()">
                <span style="color: white;">
                  FINALIZAR TURNO
                </span>
            </button> -->
          </div>
          <div class="px-gutter py-4 border-b">
            <div class="row">
              <div class="col-12">
                <h2 class="title m-0" style="text-align: center;"> {{ asunto }} </h2>
              </div>
            </div>
          </div>
          <!-- <div class="card" style="margin-top: 2%;"> -->
            <div class="row">
              <div class="col-6" fxLayoutAlign="center">
                  <div @fadeInRight>
                    <p class="m-0 caption text-hint">Solicitante</p>
                    <p class="m-0 body-1">{{ solicitante }}</p>
                  </div>
                </div>
                <div class="col-6" fxLayoutAlign="center">
                  <div @fadeInRight>
                    <p class="m-0 caption text-hint">Hora Emisión</p>
                    <p class="m-0 body-1"> {{ emision | date: 'h:mm a' }} </p>
                  </div>
                </div>
            </div>
            <div style="margin-top: 5%;">
              <div class="col-12" fxLayoutAlign="start center">
                <div @fadeInRight>
                  <p class="m-0 caption text-hint">Descripción de Solicitud</p>
                  <p class="m-0 body-1">{{ descripcion }}</p>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <div class="row" style="margin-top: 2%;">
            <div class="col-4">
              <button *ngIf="!clickAsignar" class="text-secondary uppercase font-medium bg-danger btn-block text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="anular()">
                <span style="color: white;">
                  ANULAR TICKET
                </span>
              </button>
            </div>
            <div class="col-4">
              <button *ngIf="!clickAsignar" class="text-secondary uppercase font-medium bg-warning btn-block text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button">
                <span style="color: white;">
                  ASIGNAR TICKET
                </span>
              </button>
            </div>
            <div class="col-4">
              <button *ngIf="!clickAsignar" class="text-secondary uppercase font-medium bg-success btn-block text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="atender()">
                <span style="color: white;">
                  ATENDER TICKET
                </span>
              </button>
            </div>
          </div>
          <div *ngIf="clickAsignar" class="row" style="margin-top: 2%;">
            <form [formGroup]="datosTicket" class="example-form">
              <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                  <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                      <mat-label>Empleado:</mat-label>
                      <mat-select formControlName="idEmpleado" (selectionChange)="setEmpleado($event)">
                          <mat-option *ngFor="let empleado of empleados" [value]="empleado">{{ empleado.nombre }}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
            </form>
            <div class="col-6">
              <button class="text-secondary uppercase font-medium bg-danger btn-block text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="cancelar()">
                <span style="color: white;">
                  CANCELAR
                </span>
              </button>
            </div>
            <div class="col-6">
              <button class="text-secondary uppercase font-medium bg-primary btn-block text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="asignar()">
                <span style="color: white;">
                  ASIGNAR
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>