  
  <form [formGroup]="garenteForm">
  <div  fxLayout="row warp" fxLayoutGap="10px">

    <mat-form-field class="flex-30"  fxFlex="auto" >
      <mat-label>Identificación</mat-label>
      <input
      id="identificacion"
      matInput="matInput"
      formControlName="identificacion"
      placeholder="Ingresa la identificación del garante" 
      required >
    </mat-form-field>

    <mat-form-field class="flex-30"  fxFlex="auto" >
      <mat-label>Monto Solicitado</mat-label>
      <input
      id="montoGarantia"
      matInput="matInput"
      formControlName="montoGarantia"
      required 
      [(ngModel)]="garenteForm.value.montoGarantia"
      (change)="setTwoNumberDecimal('montoGarantia')"
      [min]="0"
      [inputMask]="DecimalInputMask"/>
      <span matPrefix>{{simboloMoneda}}&nbsp;</span>
      <mat-error  *ngIf="garenteForm.get('montoGarantia').errors">{{getErrorMessage(garenteForm.get('montoGarantia'))}}</mat-error>
    </mat-form-field>

    <div class="content-consultar" >
    <button (click)="buscarGarante()" class="head-button" mat-button="mat-button" matTooltip="Buscar" >
      <mat-icon [icIcon]="icroundSearch"></mat-icon>
      Consultar
      </button>
    </div>

    <mat-form-field class="flex-100"  fxFlex="auto" >
      <mat-label>Razón social</mat-label>
      <input
      id="razonSocial"
      matInput="matInput"
      formControlName="razonSocial"
      readonly="readonly">
    </mat-form-field>

<br>
    <!--   documentos garante -->
  <vex-files-garante class="flex-100"  [participe]="participe" ></vex-files-garante>

    <mat-form-field class="flex-100"  fxFlex="auto">
      <mat-label>Observación</mat-label>
      <textarea formControlName="observaciones" matInput ></textarea>
    </mat-form-field>

</div>
     
</form>

<div style="display: flex;gap: 10px;">
    <button 
      mat-raised-button="mat-raised-button"
      [disabled]="!garenteForm.valid || !filesGaranteComponent?.adjuntoGarante.valid || !garenteForm.value.idPersona"
      color="primary"
      type="button"
      class="forms-full-button button-download"
      (click)="agregarGarante()">
      <span style="margin-left: 4px">AGREGAR</span>
    </button> 
</div>
     
<br>

     <vex-tabla-garantes (GaranteEmit)="getGarante($event)"></vex-tabla-garantes>