<div [formGroup]="datosHistorialLaboral">


    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">




        <!-- 
        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Jefe innmediato</mat-label>
            <mat-select required formControlName="idJefeInmediato">
                <mat-option [disabled]="visualizationMode" *ngFor="let area of listadoJefes"
                    [value]="area.idJefeInmediato">
                    {{area.nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="datosHistorialLaboral.get('idJefeInmediato').hasError('required')">
                El jefe inmediato es requerido
            </mat-error>

        </mat-form-field>
        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Supervisor directo</mat-label>
            <mat-select required formControlName="idSupervisor">
                <mat-option [disabled]="visualizationMode" *ngFor="let area of listadoSupervisor"
                    [value]="area.idSupervisorInmediato">
                    {{area.nombre}}</mat-option>
            </mat-select>
            <mat-error *ngIf="datosHistorialLaboral.get('idSupervisor').hasError('required')">
                El supervisor directo es requerido
            </mat-error>

        </mat-form-field>
 -->




        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Codigo biométrico</mat-label>
            <input [readonly]="visualizationMode" matInput formControlName="codigoBiometrico">

        </mat-form-field>

        <!--   <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>{{ tipoColaborador == 1 || tipoColaborador == 3 ? 'Cargo' : 'Producto/Servicio' }}</mat-label>
            <mat-select required formControlName="idCargo">
                <mat-option [disabled]="visualizationMode" *ngFor="let area of listadoCargos" [value]="area.idCargo">
                    {{area.descripcion}}</mat-option>
            </mat-select>
            <mat-error *ngIf="datosHistorialLaboral.get('idCargo').hasError('required')">
                El cargo es requerido
            </mat-error>

        </mat-form-field> -->

        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>{{ tipoColaborador == 1 || tipoColaborador == 3 ? 'Cargo' : 'Producto/Servicio' }}</mat-label>
            <mat-select required formControlName="idCargo">

                <mat-option [disabled]="visualizationMode">
                    <ngx-mat-select-search placeholderLabel="Buscar cargos..."
                        noEntriesFoundLabel="No se encuentra el tipo de cargo" [formControl]="bankFilterCtrl">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option [disabled]="visualizationMode" *ngFor="let area of listadoTemporal" [value]="area.idCargo">
                    {{area.descripcion}}</mat-option>

            </mat-select>
        </mat-form-field>


    </div>




    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">


        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Teléfono laboral</mat-label>
            <input [readonly]="visualizationMode" maxlength="13" matInput formControlName="telefono">

            <mat-error *ngIf="datosHistorialLaboral.get('telefono').hasError('pattern')">
                El campo solo debe contener numeros
            </mat-error>

        </mat-form-field>


        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Extensión telefónica</mat-label>
            <input [readonly]="visualizationMode" maxlength="4" matInput formControlName="extension">
            <mat-error *ngIf="datosHistorialLaboral.get('extension').hasError('pattern')">
                El campo solo debe contener numeros
            </mat-error>
        </mat-form-field>

        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Correo institucional</mat-label>
            <input [readonly]="visualizationMode" matInput formControlName="correoEmpresa">

        </mat-form-field>


    </div>



    <mat-divider style="margin-bottom: 20px;"></mat-divider>





</div>