.head-icon {
    margin-left: 2%;

    .mat-icon {
        font-size: 80px;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 80px;
        width: 80px;
    }
}

.loading {
    height: 400px;
}

.card {
    margin-top: -3%;
    overflow: auto;
}


//small
@media screen and (max-width: 40em) {
    .head-app-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 160px;
        .search-bar {
            min-width: 180px;
        }
    }
    .head-title {
        margin-bottom: 10px;
        text-align: center;
    }
    .loading {
        height: 200px;
    }
}

//medium
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .head-app-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .search-bar {
            min-width: 300px;
        }
    }
}

//large
@media screen and (min-width: 64em) {
    .head-app-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .card {
        margin-left: 5%;
        margin-right: 5%;
    }
}


  .mat-column-acciones {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 15% !important;
  }
  
  .mat-column-debe {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 10% !important;
  }
  
  .mat-column-haber {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 10% !important;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  .right-align {
    text-align: right!important;
  }
  .center-align {
    text-align: center;
  }
  input.right-align {
    -moz-appearance: textfield;
  }
  

  
  .table th {
    background-color: var(--COLOR-PRIMARY) !important;
    color: var(--COLOR-PRIMARY-CONTRAST) !important;
    padding: 0.75rem 0.75rem !important;
  }

::ng-deep .p-datatable table {
    table-layout: auto!important;
   
}

.Resum-description, .table-scrollbar{
    margin: 1rem 2rem 0;
}

.Resum-cards {
    display: flex;
    height: min-content;
    text-align: center;
    justify-content: center;
    grid-column-end: 4;
    grid-column-start: 2;
    justify-self: end;
    overflow: auto;
}
.head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.value-card {
  width: fit-content;
  background-color: #f1f0f1;
  margin: 10px;
}

.avatar-card {
  background-size: cover;
/*   background-color: var(--COLOR-PRIMARY); */
}
.icon-card {
  display: flex;
  color: var(--COLOR-PRIMARY-CONTRAST);
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  align-items: center;
}

.label {
  font-weight: bolder;
}