<div (mouseenter)="showButton = true"
    (mouseleave)="showButton = false"  
    class="card p-6 relative hover:shadow-16 trans-shadow" style="cursor: pointer;height: 220px; text-align: center;" fxLayout="column" fxLayoutAlign="start center">
  <div [ngClass]="iconClass" class="avatar-card rounded-full w-16 h-16 flex items-center justify-center" color="primary" >
    <mat-icon class="icon-card center" [icIcon]="icon" ></mat-icon>
  </div>

  <!-- Valores -->
  <div >
    <h2 *ngIf="value" class="display-2 font-bold mt-4 mb-2">${{ value }}</h2>
    <div *ngIf="spinner && !value" style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
      <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <h3 class="subheading-3  font-normal font-semibold m-0"  ><br>{{ label }}</h3>
  </div>


  <h4 [class.text-green]="change > 0"
    [class.text-red]="change <= 0" *ngIf="detalles" class="subheading-1 font-medium mt-4 mb-0">
    <!-- <mat-icon [icIcon]="icHelp" height="20px" width="20px" [inline]="true"></mat-icon> -->

    <ic-icon *ngIf="change > 0"
             [icon]="faCaretUp"
             [inline]="true"
             height="20px"
             width="20px"></ic-icon>
    <ic-icon *ngIf="change <= 0"
             [icon]="faCaretDown"
             [inline]="true"
             height="20px"
             width="20px"></ic-icon>
             
    <span>{{detalles.length}}</span>
  </h4>
</div>