<div class="modal-container">
    <div class="head-modal" fxLayoutAlign="start center">
        <h2 text-center="text-center" class="head-title">{{data.titulo}}</h2>
        <button
            class="simple-button"
            mat-dialog-close={{null}}
            mat-icon-button="mat-icon-button"
            type="button">
            <mat-icon [icIcon]="icroundClose"></mat-icon>
        </button>
    </div>


    <div class="icon-divider">
        <mat-divider class="-mx-6 text-border backgraund-color-neutral-light-gray"></mat-divider>
        <div class="modal-icon">
            <mat-icon class="icon" [icIcon]="icroundAccountBalance"></mat-icon>
        </div>
    
        <mat-divider class="-mx-6 text-border backgraund-color-neutral-light-gray"></mat-divider>
    </div>



    <div class="body-modal">
        <form [formGroup]="formModal">

            <mat-dialog-content class="filter-form" fxLayout="column" >

                 <div  class="animate__animated animate__fade position-form" >
                    
                    <!--Codigo -->
                    <mat-form-field 
                    class="filter-form px-6 py-4 " >
                    <mat-label class="labelForm">Código</mat-label>
                    <input
                        id="codigo"
                        required="required"
                        matInput="matInput"
                        formControlName="codigo"
                        readonly="readonly"/>
                      
                </mat-form-field>

                     <!--tipo cuenta contable-->

                     <mat-form-field  class="filter-form px-6 py-4 " >
                        <mat-label class="labelForm">Tipo Cuenta</mat-label>
                        <mat-select
                            id="idTipoCuentaContable"
                            required="required"
                            ngDefaultControl="ngDefaultControl"
                            formControlName="idTipoCuentaContable"
                            #singleSelect>
                            <mat-option >
                                <ngx-mat-select-search
                                    placeholderLabel="Buscar Tipo Cuenta..."
                                    noEntriesFoundLabel="'No se encuentra el Tipo Cuenta'"
                                    [formControl]="tipoCuentaFilterCtrl">
                                    <mat-icon ngxMatSelectSearchClear="ngxMatSelectSearchClear">x</mat-icon>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option
                                style="font-size: small;"
                                *ngFor="let item of tipoCuenta"
                                [value]="item.idTipoCuentaContable"
                                (click)="seleccionarTipoCuentaContable(item)">
                                <p style="font-size: small;">
                                       {{ item.descripcion }}
                                </p>
                            </mat-option>
                        </mat-select>
                        <mat-error  *ngIf="formModal.get('idTipoCuentaContable').errors">{{getErrorMessage(formModal.get('idTipoCuentaContable'))}}</mat-error>
                    </mat-form-field>


                    <!--descripcion-->
                    <mat-form-field 
                    class="filter-form px-6 py-4  "
                >
                    <mat-label class="labelForm">Descripción</mat-label>
                    <input
                        id="descripcion"
                        required="required"
                        matInput="matInput"
                        formControlName="descripcion"/>
                      <mat-error  *ngIf="formModal.get('descripcion').errors">{{getErrorMessage(formModal.get('descripcion'))}}</mat-error>
                </mat-form-field>


                    <!--RegimenTributario -->
                    <mat-form-field  class="filter-form px-6 py-4 " >
                        <mat-label class="labelForm">Regimen Tributario</mat-label>
                        <mat-select
                            id="idRegimenTributario"
                            required="required"
                            ngDefaultControl="ngDefaultControl"
                            formControlName="idRegimenTributario"
                            #singleSelect>
                            <mat-option >
                                <ngx-mat-select-search
                                    placeholderLabel="Buscar Regimen Tributario..."
                                    noEntriesFoundLabel="'No se encuentra el regimen Tributario'"
                                    [formControl]="regimenTributarioFilterCtrl">
                                    <mat-icon ngxMatSelectSearchClear="ngxMatSelectSearchClear">x</mat-icon>
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option
                                style="font-size: small;"
                                *ngFor="let item of regimenTributario"
                                [value]="item.idRegimenTributario"
                                (click)="seleccionarRegimenTributario(item)">
                                <p style="font-size: small;">
                                       {{ item.descripcion }}
                                </p>
                            </mat-option>
                        </mat-select>
                        <mat-error  *ngIf="formModal.get('idRegimenTributario').errors">{{getErrorMessage(formModal.get('idRegimenTributario'))}}</mat-error>
                    </mat-form-field>


                
                <!--Naturaleza-->
                <mat-form-field   class="filter-form px-6 py-4  " >
                    <mat-label class="labelForm">Naturaleza</mat-label>
                    <mat-select id="naturaleza"
                                required="required" 
                                formControlName="naturaleza"  >
                            <mat-option *ngFor="let tipoAsiento of tipoAsientos" [value]="tipoAsiento.id" >
                                    {{ tipoAsiento.nombre }}
                            </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="formModal.get('naturaleza').errors">{{getErrorMessage(formModal.get('naturaleza'))}}</mat-error>
                </mat-form-field>

                 <!--CodigoSbs -->
                    <mat-form-field 
                    class="filter-form px-6 py-4 " >
                    <mat-label class="labelForm">CodigoSbs</mat-label>
                    <input
                        id="codigoSbs"
                        required="required"
                        matInput="matInput"
                        formControlName="codigoSbs"/>
                      <mat-error  *ngIf="formModal.get('codigoSbs').errors">{{getErrorMessage(formModal.get('codigoSbs'))}}</mat-error>
                </mat-form-field>

                <!--CodigoFlujo -->
                <mat-form-field 
                class="filter-form px-6 py-4 " >
                <mat-label class="labelForm">Codigo Flujo</mat-label>
                <input
                    id="codigoFlujo"
                    required="required"
                    matInput="matInput"
                    formControlName="codigoFlujo"/>
                  <mat-error  *ngIf="formModal.get('codigoFlujo').errors">{{getErrorMessage(formModal.get('codigoFlujo'))}}</mat-error>
               </mat-form-field>

                <!--CodigoPresupuesto-->
                <mat-form-field 
                class="filter-form px-6 py-4 " >
                <mat-label class="labelForm">Codigo Presupuesto</mat-label>
                <input
                    id="codigoPresupuesto"
                    required="required"
                    matInput="matInput"
                    formControlName="codigoPresupuesto"/>
                  <mat-error  *ngIf="formModal.get('codigoPresupuesto').errors">{{getErrorMessage(formModal.get('codigoPresupuesto'))}}</mat-error>
               </mat-form-field>

                </div>

            
           </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button *ngIf="data.edit" [disabled]="formModal.invalid" class="forms-full-button" mat-button="mat-button" type="submit" (click)="save(true)">EDITAR</button>
            <button *ngIf="!data.edit" [disabled]="formModal.invalid" class="forms-full-button" mat-button="mat-button" type="submit" (click)="save(false)" >GUARDAR</button>
        </mat-dialog-actions>
        

        </form>
        
    </div>
</div>