<vex-page-layout-content
    [class.container]="layoutCtrl.value === 'fullwidth'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6">
    <div @stagger class="p-gutter" vexContainer="vexContainer" style="overflow-x: scroll;">

        <div class="mt-3" fxLayout="column" fxLayoutGap="8px" *ngIf="tablaAmortizacionForm?.length > 0 else messageAmortizacion">
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th>Resumen de registro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Documento:</td>
                        <td>{{dataRegistratForm.tipoInversion}}</td>
                    </tr>
                    <tr>
                        <td>No.de Documento:</td>
                        <td>{{dataRegistratForm.numeroCertificado}}</td>
                    </tr>
                    <tr>
                        <td>Emisor:</td>
                        <td>{{dataRegistratForm.razonsocialEmisor}}</td>
                    </tr>
                    <tr>
                        <td>Tasa:</td>
                        <td>{{dataRegistratForm.tasa}} %</td>
                    </tr>
                    <tr>
                        <td>Valor Nominal:</td>
                        <td>${{dataRegistratForm.valorNominal | number:'.2-2'}}</td>
                    </tr>
                    <tr>
                        <td>Fecha de Emisión:</td>
                        <td>{{dataRegistratForm.fechaEmision | date:"yyyy-MM-dd"}}</td>
                    </tr>
                    <tr>
                        <td>Fecha de Vencimiento:</td>
                        <td>{{dataRegistratForm.fechaVencimiento | date:"yyyy-MM-dd"}}</td>
                    </tr>
                    <tr>
                        <td>Días:</td>
                        <td>{{dataRegistratForm.totalPlazo}}</td>
                    </tr>
                </tbody>
            </table>

            <form #formtablaAmort [formGroup]="formtablaAmortizacion">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px" style="justify-content:center">
                    <table
                        @stagger
                        [dataSource]="tablaAmortizacionForm"
                        mat-table="mat-table"
                        matSort="matSort">
                        <caption>Tabla de Amortización</caption>

                        <ng-container class="mat-column-numCuota" matColumnDef="numCuota">
                            <th mat-header-cell class="center-align" *matHeaderCellDef>No. de Cuota</th>
                            <td mat-cell class="center-align" *matCellDef="let item">{{ item.numCuota }}</td>
                            <td  mat-footer-cell class="center-align" *matFooterCellDef>
                                <strong>Totales</strong>
                            </td>
                        </ng-container>

                        <ng-container
                            class="mat-column-fechaVencimiento"
                            matColumnDef="fechaVencimiento">
                            <th mat-header-cell class="center-align" *matHeaderCellDef>Fecha .Vcto. Interés</th>
                            <td mat-cell class="center-align"  *matCellDef="let item; index as i">
                                <mat-form-field class="formTablefecha"  appearance="outline">
                                    <input
                                        [id]="'fechaVencimiento'+item.numCuota"
                                        required="required"
                                        [matDatepicker]="datepickerReffechaVencimiento"
                                        [formControlName]="'fechaVencimiento'+item.numCuota"
                                        type='datetime'
                                        [(ngModel)]="item.fechaVencimiento"
                                        matInput >
                                        <mat-datepicker-toggle
                                                [for]="datepickerReffechaVencimiento"
                                                class="block"
                                                matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #datepickerReffechaVencimiento></mat-datepicker>
                                    
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell class="center-align" *matFooterCellDef>
                                <strong></strong>
                            </td>
                        </ng-container>

                        

                        <ng-container class="mat-column-dias" matColumnDef="tiempoDias">
                            <th mat-header-cell  class="center-align" *matHeaderCellDef>Tiempo (Días)</th>
                            <td mat-cell class="center-align" *matCellDef="let item; index as i">
                                {{item.dias}}
                            </td>
                            <td mat-footer-cell class="center-align"
                                *matFooterCellDef></td>
                        </ng-container>

                        <ng-container  class="mat-column-interes" matColumnDef="interes">
                            <th mat-header-cell class="center-align"
                                *matHeaderCellDef>Interés</th>
                            <td mat-cell *matCellDef="let item; index as i">
                                <mat-form-field class="formTable" appearance="outline">
                                    <input
                                        [id]="'interes'+item.numCuota"
                                        [formControlName]="'interes'+item.numCuota"
                                        required="required"
                                        placeholder="0,00"
                                        [min]="0"
                                        [(ngModel)]="item.interes"
                                        [inputMask]="DecimalInputMask"
                                        (ngModelChange)="recalculartotal(i, $event, 'interes','interes'+item.numCuota)"
                                        class="right-align"
                                        [matTooltip]="getErrorMessage(formtablaAmortizacion.get('interes'+item.numCuota))"
                                        matInput="matInput"
                                        appTwoDigitDecimaNumber="appTwoDigitDecimaNumber"/>
                                    <span matPrefix="matPrefix">$&nbsp;</span>
                                </mat-form-field>

                            </td>
                            <td mat-footer-cell class="center-align" *matFooterCellDef>
                                <strong>${{tablaSimulacionForm.totalInteres | number: ".2-2"}}</strong>
                            </td>
                        </ng-container>

                        <ng-container class="mat-column-capital" matColumnDef="capital">
                            <th mat-header-cell class="center-align" *matHeaderCellDef>Capital</th>
                            <td mat-cell *matCellDef="let item; index as i">
                                <mat-form-field class="formTable"appearance="outline">
                                    <input
                                        [id]="'capital'+item.numCuota"
                                        [formControlName]="'capital'+item.numCuota"
                                        required="required"
                                        placeholder="0,00"
                                        [min]="0"
                                        [(ngModel)]="item.capital"
                                        [inputMask]="DecimalInputMask"
                                        (ngModelChange)="recalculartotal(i, $event, 'capital','capital'+item.numCuota)"
                                        class="right-align"
                                        [matTooltip]="getErrorMessage(formtablaAmortizacion.get('capital'+item.numCuota))"
                                        matInput="matInput"
                                        appTwoDigitDecimaNumber="appTwoDigitDecimaNumber"/>
                                    <span matPrefix="matPrefix">$&nbsp;</span>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell class="center-align" *matFooterCellDef>
                                <strong>${{tablaSimulacionForm.totalCapital | number: ".2-2" }}</strong>
                            </td>
                        </ng-container>

                        <ng-container class="mat-column-total" matColumnDef="total">
                            <th mat-header-cell class="center-align" *matHeaderCellDef>Total Capital + Intereses</th>
                            <td mat-cell class="center-align" *matCellDef="let item; index as i">
                                <div *ngIf="noNegative(item)">${{item.capital+item.interes | number: ".2-2"}}</div>
                            </td>
                            <td mat-footer-cell class="center-align" *matFooterCellDef>
                                <strong>${{tablaSimulacionForm.totalCobrar | number: ".2-2"}}</strong>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="amortizacionColumns; sticky: true"></tr>
                        <tr
                            mat-footer-row
                            *matFooterRowDef="amortizacionColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: amortizacionColumns"></tr>

                    </table>
                </div>
            </form>
        </div>
    </div>

  <ng-template #messageAmortizacion>
    <vex-info-message [message]='"No es posible calcular la tabla de Amortización."' [icon]='icroundTableChart' [typeicon]="'icIcon'"></vex-info-message>
  </ng-template>
    
</vex-page-layout-content>