
::ng-deep .mat-panel-title {
    width: 100% !important;
}

.header-expansion > .mat-expansion-indicator, .mat-expansion-indicator:after {
    color: red !important;
  }
  th.mat-header-cell {
      background-color: var(--COLOR-PRIMARY);
      color: var(--COLOR-PRIMARY-CONTRAST);
      font-weight: bold;

        text-transform: uppercase;
  }
  
  
  ::ng-deep .mat-sort-header-arrow.ng-trigger {
      color: var(--COLOR-PRIMARY-CONTRAST) !important;
  }