
    <vex-page-layout-content [class.container]="layoutCtrl.value === 'fullwidth'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">
        <br><br><br>
        <div class="card overflow-auto -mt-17">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
                    <span *ngIf="selection.isEmpty()">Tickets Internos </span>
                    <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                    Customer<span *ngIf="selection.selected.length > 1">s</span> selected</span>
                </h2>

                <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
                    <input [formControl]="searchCtrl" [(ngModel)]="filterValue" class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Buscar..." type="search" (keyup.enter)="buscarTermino(filterValue)">
                    <button (click)="buscarTermino(filterValue)"  mat-mini-fab color="primary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <button (click)="cargarTickets(currentPage, 10)" mat-mini-fab color="primary" style="margin-left: 10px">
                    <mat-icon [icIcon]="icDelete"></mat-icon>
                </button>

                <mat-checkbox style="margin-left: 20px" color="primary" (change)="cambiarAvanzado($event.checked)" class="example-margin" [checked]="busquedaAvanzada">
                    Avanzado
                </mat-checkbox>
                <div class="border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                    <mat-date-range-input style="width: 10%" disabled [formGroup]="range" [rangePicker]="picker">
                        <input style="width: 10%;" matStartDate formControlName="start">
                        <input style="width: 10%;" matEndDate formControlName="end">
                    </mat-date-range-input>                        
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker disabled="false">
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" (click)="filtro('Fecha', range.value.start, range.value.end)" matDatepickerApply>Aplicar</button>
                        </mat-datepicker-actions>
                    </mat-date-range-picker>
                </div>        
            </div>

            <div>
                <!-- Busqueda avanzada -->
                <p-treeTable #tt *ngIf="tickets.length > 0 && busquedaAvanzada" [value]="files" [columns]="cols" 
                    [loading]="loading" [resizableColumns]="true" [paginator]="true"   
                    [rows]="tickets.pageSize" [totalRecords]="tickets.length" [lazy]="true"
                    (onLazyLoad)="loadData($event)" [rowsPerPageOptions]="[10, 20,50]" [first]="currentRow" 
                    [autoLayout]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of cols" [ttSortableColumn]="col.field">
                                {{col.header}}
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of cols">
                                <mat-form-field *ngIf="col.field == 'prioridad'" appearance="outline">
                                    <mat-label>{{col.field}}</mat-label>
                                    <mat-select disableRipple (selectionChange)="buscarTermino($event.value, col.field)">
                                      <mat-option *ngFor="let prioridad of prioridades" [value]="prioridad">{{prioridad}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="col.field == 'estado'" appearance="outline">
                                    <mat-label>{{col.field}}</mat-label>
                                    <mat-select disableRipple (selectionChange)="buscarTermino($event.value, col.field)">
                                      <mat-option *ngFor="let estado of estados" [value]="estado.descripcion">{{estado.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field  *ngIf="col.field != 'prioridad' && col.field != 'estado' && col.field != 'acciones' && col.field != 'fecha'" appearance="outline">
                                    <mat-label>{{col.field}}</mat-label>
                                    <input matInput
                                    type="text" [formControl]="termino" (keyup.enter)="filtro(col.field)" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
                                </mat-form-field>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr [ngClass]="{'kb-row': rowData.prioridad.startsWith('Al')}">
                            <td *ngFor="let col of columns; let i = index">
                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                <span *ngIf="col.field != 'acciones' && col.field != 'prioridad'" style="font-size: smaller;">
                                    {{rowData[col.field]}} 
                                    <div *ngIf="col.field == 'asunto'" class="flex items-start" style="width: 150px">
                                        <p class="text-xs text-secondary leading-tight truncate mt-1" [innerHtml]="rowData.descripcion">
                                        </p>
                                    </div>
                                </span>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Ur')" label="Urgente" styleClass="mr-2 custom-chip-urgente"></p-chip>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Al')" label="Alta" styleClass="mr-2 custom-chip-alta"></p-chip>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Me')" label="Media" styleClass="mr-2 custom-chip-media"></p-chip>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Ba')" label="Baja" styleClass="mr-2 custom-chip-baja"></p-chip>
                                <span *ngIf="col.field == 'acciones'">
                                    <a class="navf" class="btn btn-primary btn-sm" type="button" title="Ver Ticket" [routerLink]="['/tickets/detalle-ticket/' + rowData[col.field]]">
                                        <ic-icon [icon]="icEye" height="20px" width="20px" style="color: white"></ic-icon>
                                    </a>
                                    <a style="margin-top: 5px" class="navf" class="btn btn-danger btn-sm" type="button" title="Anular Ticket" (click)="eliminarTicket(rowData)">
                                        <ic-icon [icon]="icDelete" height="20px" width="20px" style="color: white"></ic-icon>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>

                <!-- Busqueda normal -->
                <p-treeTable #tt *ngIf="tickets.length > 0 && !busquedaAvanzada" [value]="files" [columns]="cols" 
                    [loading]="loading" [resizableColumns]="true" [paginator]="true"   
                    [rows]="tickets.pageSize" [totalRecords]="tickets.length" [lazy]="true"
                    (onLazyLoad)="loadData($event)" [rowsPerPageOptions]="[10, 20,50]" [first]="currentRow" 
                    [autoLayout]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr [ngClass]="{'kb-row': rowData.prioridad.startsWith('Al')}">
                            <td *ngFor="let col of columns; let i = index">

                                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                                <span *ngIf="col.field != 'acciones' && col.field != 'prioridad'" style="font-size: smaller;">
                                    {{rowData[col.field]}} 
                                    <div *ngIf="col.field == 'asunto'" class="flex items-start" style="width: 150px">
                                        <p class="text-xs text-secondary leading-tight truncate mt-1" [innerHtml]="rowData.descripcion">

                                        </p>
                                    </div>
                                </span>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Ur')" label="Urgente" styleClass="mr-2 custom-chip-urgente"></p-chip>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Al')" label="Alta" styleClass="mr-2 custom-chip-alta"></p-chip>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Me')" label="Media" styleClass="mr-2 custom-chip-media"></p-chip>
                                <p-chip *ngIf="col.field === 'prioridad' && rowData.prioridad.startsWith('Ba')" label="Baja" styleClass="mr-2 custom-chip-baja"></p-chip>
                                <span *ngIf="col.field == 'acciones'">
                                    <a class="navf" class="btn btn-primary btn-sm" type="button" title="Ver Ticket" [routerLink]="['/tickets/detalle-ticket/' + rowData[col.field]]">
                                        <ic-icon [icon]="icEye" height="20px" width="20px" style="color: white"></ic-icon>
                                    </a>
                                    <a style="margin-left: 5px" class="navf" class="btn btn-danger btn-sm" type="button" title="Anular Ticket" (click)="eliminarTicket(rowData)">
                                        <ic-icon [icon]="icDelete" height="20px" width="20px" style="color: white"></ic-icon>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>

                <h6 style="color: gray; text-align: center; padding: 2%" *ngIf="files.length == 0">No hay tickets</h6>

            </div>
        </div>

    </vex-page-layout-content>
