<div *ngIf="dataFormacionAcademica.length > 0 && !loading">

    <section class="progress">
        <div class="progress-bar progress-bar-striped" style="width: 100%" aria-valuenow="100"></div>
    </section>



    <vex-view-table [actions]="menuOption" [menubutton]="true" [columns]="tableColumns" [data]="dataFormacionAcademica"
        (actionMenu)="actionMenu($event)">
    </vex-view-table>




</div>


<mat-divider></mat-divider>

<div [formGroup]="datosGuardarFormacionAcademica ">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Seleccione la última educación formal <span
                    style="font-weight: bold;">culminada</span></mat-label>
            <mat-select [required]="!visualizationMode" formControlName="titulo" [disabled]="visualizationMode">
                <mat-option *ngFor="let area of dataSelect" [value]="area">
                    TÍtulo:
                    {{area.titulo}} - Institución: {{area.institucionEducativa}} - Nivel de estudio:
                    {{area.nombreNivelEstudios}}



                </mat-option>
            </mat-select>
        </mat-form-field>


    </div>
</div>
<div [formGroup]="formacionAcademica ">



    <div class="loading" *ngIf="loading">
        <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
    </div>



</div>