<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Generando Vectores...</p>
</ngx-spinner>

<vex-page-layout>

    <vex-page-layout-header class="page-head">
        <!-- cabecera -->
        <div @fadeInRight class="head-icon">
            <mat-icon [icIcon]="icroundLineAxis"></mat-icon>
            <h3 class="head-icon-title">Vectores</h3>
        </div>
    </vex-page-layout-header>

    <div @stagger>
        <div class="text-center  header">
            <div class="container">

                <div class="card">
                    <div class="mat-selects">
                        <vex-mat-datepicker-month-year
                            class="mat-select"
                            (date_month_year_value)="setMonthAndYear($event)"></vex-mat-datepicker-month-year>

                        <mat-form-field class="mat-select">
                            <mat-label>Bolsa de Valores</mat-label>
                            <mat-select  (selectionChange)="selectBolsa()" [formControl]="seleccionarBolsa" required="required">
                                <mat-option
                                    *ngFor="let bolsa of selectBolsaValores"
                                    [value]="bolsa.entidadFinanciera.idEntidad">{{bolsa.razonSocial}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="seleccionarBolsa.invalid">Ingresa el campo solicitado</mat-error>
                        </mat-form-field>

                        <mat-form-field class="mat-select">
                            <mat-label>Tipo de Renta</mat-label>
                            <mat-select required="required" [formControl]="seleccionarTipoRenta">
                                <mat-option *ngFor="let tipoRenta of filteredTipoRenta | async" [value]="tipoRenta.id">
                                    {{ tipoRenta.nombre }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="seleccionarTipoRenta.invalid">Ingresa el campo solicitado</mat-error>
                        </mat-form-field>

                    </div>

                    <p><b>CARGAR EXCEL DE VECTORES</b></p>
                    <div >
                        <vex-files-upload [extensions]="['xls','xlsx']"></vex-files-upload>
                    </div>
                    <br>
                        <button
                            mat-raised-button="mat-raised-button"
                            [disabled]="!mes || !anio || seleccionarBolsa.invalid || seleccionarTipoRenta.invalid"
                            color="primary"
                            type="button"
                            id="excel"
                            class="forms-full-button button-download"
                            (click)="generar()">
                            <mat-icon style="height: 18px" [icIcon]="icroundAutoGraph"></mat-icon>
                            <span style="margin-left: 4px">Generar vectores</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <vex-page-layout-content
            [class.container]="layoutCtrl.value === 'boxed'"
            [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="-mt-6">
            <vex-vectores *ngIf="vectores.length !== 0"
                [habilitarGuardar]="habilitarGuardar"
                [dataFondoSource]="vectores"
                [isLoading]="isLoading"
                [tipoRenta]="seleccionarTipoRenta.value"></vex-vectores>
                
        <div *ngIf="showNoDataVector">
            <vex-info-message
                [message]='infoMessage'
                [icon]='icroundLineAxis'
                [typeicon]="'icIcon'"></vex-info-message>
        </div>
        </vex-page-layout-content>
    </vex-page-layout>