table {
    width: 100%;
    overflow-x: scroll;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-row,
  .mat-header-row {
    min-width: 800px;
  }
  
  td, th {
    font-size:16px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  .patterns {
    height: 100px;
  }
  
  
  
  svg text {
    letter-spacing: 3px;
    stroke: #2e2e2e;
    font-size: 32px;
    font-weight: 700;
    stroke-width: 2;
  
    animation: textAnimate 5s infinite alternate;
  
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(0, 0%, 96%)
  
    }
  
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: rgba(81, 197, 218, 0)
    }
  
  }

/*   .ticket {
    position: relative;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 0.7em 2em;
  }
  .ticket:before,
  .ticket:after{
    height:90px;
    width:45px;
    content: '';
    position: absolute;
    top: 0.9em;
    top: calc(0.9em - 1px);
    height: 1.2em;
    width: 0.6em;
    border: 2px solid white;
  }
  .ticket:before {
    left: -2px;
    border-radius: 0 1em 1em 0;
    border-left-color: #1266f1
  }
  .ticket:after {
    right: -2px;
    border-radius: 1em 0 0 1em;
    border-right-color: #1266f1
} */
  
.head-icon{
  margin-left: 2%;
  .mat-icon{
      font-size: 70px;
      background-repeat: no-repeat;
      display: inline-block;
      fill: currentColor;
      height: 70px;
      width: 70px; 
      transform: rotate(25deg);
      margin-bottom:10px;
  }
}
