.reports--grid {
    flex-direction: column;
    padding: 4rem;
    align-items: center;
}

//small
@media screen and (max-width: 40em) {
    .reports--grid {
        padding: 2rem;
    }
} 

//medium
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .reports--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

//large
@media screen and (min-width: 64em) {
    .reports--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 40px;
    }
}
