<div [formGroup]="referenciaPersonal ">


    <div *ngIf="dataRerenciasPersonales.length > 0  && !loading">
        <section class="progress">
            <div class="progress-bar progress-bar-striped" style="width: 100%" aria-valuenow="100"></div>
        </section>

        <vex-view-table [actions]="menuOption" [menubutton]="true" [columns]="tableColumns"
            [data]="dataRerenciasPersonales" (actionMenu)="actionMenu($event)">
        </vex-view-table>




    </div>

    <div class="loading" *ngIf="loading">
        <mat-progress-spinner diameter="60" mode="indeterminate"></mat-progress-spinner>
    </div>

    <mat-divider style="margin-bottom: 20px;"></mat-divider>

</div>