label {
  margin-bottom: 0;
  cursor: pointer;
}

.bi {
  cursor: pointer;
  margin-right: 0.3rem;
}

::ng-deep .dropdown {
  position: relative;
  padding-bottom: 1.34375em;
  padding: 5px 10px 5px 10px !important;
/*   color: gray; */
  font-weight: 400;
}

::ng-deep .dropdown button {
  background-color: rgb(245 245 245)!important;
  position: relative;
  height: 51px;
  border-top: 0rem;
  border-left: 0rem ;
  border-right: 0rem ;
  border-bottom: 0.12rem solid #b0a8ba;
  padding: 0.5rem 0.5rem 0.375rem
}

::ng-deep .btn-outline-secondary:hover {
  color: #000000;
  border-bottom: 0.16rem solid #4c484c;
  border-color: rgb(0, 0, 0);
}

::ng-deep .btn-outline-secondary:active {
  border-top: 0rem;
  border-left: 0rem ;
  border-right: 0rem ;
  color: #000;
  box-shadow: 0 0 0 0rem;
  border-bottom: 0.16rem solid var(--COLOR-PRIMARY);
}

::ng-deep .btn-outline-secondary {
   color: #000000; 
}    


::ng-deep .show>.btn-outline-secondary.dropdown-toggle {
  color: #000;
  background-color: #4c484c;
 border: 0 rem;
}

::ng-deep  .show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem;
  color: #000;
  border: 0 rem;
}

::ng-deep .dropdown-toggle:after {
  font-size: large;
  color: #707070;
}