.content {
    background-image: url('../../../assets/img/background_tickets.png');
    background-size: cover;
    background-position: center center;
    overflow-y: scroll;
    height: 100% !important;
    width: 100%;
}

.titulos {
    color: White !important;
    font-weight: bold;
}