<div *ngIf="dataAportes"
     class="p-gutter"
     gdColumns="1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
    
    
    <vex-valores
        (click)="cambiarSeccion('cuenta')"
        [change]="124.4"
        [icon]="icPerson"
        [segmento]="seccion"
        iconClass="text-primary bg-primary-light"
        gdColumn.lt-sm="1"
        label="CUENTA INDIVIDUAL"
        [value]="dataAportes.total | number : '.2-2'">
    </vex-valores>


    
    <vex-valores 
        matTooltip="Valor en Creditos"
        (click)="cambiarSeccion('creditos')"
        [change]="124.4"
        [icon]="icMoney"
        [segmento]="seccion"
        [detalles]="dataCreditos"
        iconClass="text-primary bg-primary-light"
        gdColumn.lt-sm="1"
        label="CRÉDITOS"

        [value]="saldoTotal | number : '.2-2'">
    </vex-valores>



    <vex-valores 
        (click)="cambiarSeccion('disponible')"
        [change]="5"
        [icon]="icEqu"
        [segmento]="seccion"
        [detalles]= "dataResumen"
        iconClass="text-primary bg-primary-light"
        gdColumn.lt-sm="1"
        label="DISPONIBLE"
        [value]="disponible | number : '.2-2'">
    </vex-valores>


</div>

<div *ngIf="dataAportes"
     class="p-gutter"
     gdColumns="1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     vexContainer>
    

    <vex-valores 
        (click)="cambiarSeccion('garantizados')"
        [change]="124.4"
        [icon]="icDescription"
        [segmento]="seccion"
        [detalles]= "dataPrestamosGarantizados"
        iconClass="text-primary bg-primary-light"
        gdColumn.lt-sm="1"
        label="CRÉDITOS GARANTIZADOS"
        [value]="totalCreditosGarantizados | number : '.2-2'">
    </vex-valores>

    <vex-valores 
        (click)="cambiarSeccion('riesgo')"
        [change]="5"
        [icon]="icRisk"
        [segmento]="seccion"
        [detalles]= "dataResumen"
        iconClass="text-primary bg-secondary-light"
        gdColumn.lt-sm="1"
        label="PÉRDIDA ESPERADA"
        [value]="perdidaEsperada | number : '.2-2'">
    </vex-valores>

    <vex-valores 
        (click)="cambiarSeccion('vencido')"
        [change]="5"
        [icon]="icRisk"
        [segmento]="seccion"
        iconClass="text-primary bg-secondary-light"
        gdColumn.lt-sm="1"
        label="Vencido"
        [value]="dataParticipe">
    </vex-valores>
    
</div>

<div class="flex flex-col md:flex-row md:items-start" style="margin-top: 2%;" *ngIf="seccion != ''">
    <div class="flex-auto">
        <div class="card">
            <div class="px-gutter py-4 border-b">
                <h2 class="title m-0">Detalles</h2>
            </div>
            <div class="px-gutter py-4 border-b">
                <!-- Cuenta Individual -->
                <div class="card" style="width: 100%;" *ngIf="seccion == 'cuenta'">
                    <div class="card-header" style="background-color:#EDEFF3; font-weight: bold;">
                        <div class="row">
                            <div class="col-6">
                                Aportes
                            </div>
                            <div class="col-6">
                                Detalles
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: auto;">
                        <div class="col-md-12">
                            <div class="card">
                                <div *ngFor="let item of dataAportes.resumen" class="card-body d-flex justify-content-between align-items-center">
                                    {{item.tipoAporte}}
                                    <span style="background-color: rgb(3, 25, 68, 0.9); font-size: small;" class="badge badge-primary">
                                        ${{item.total | number : '.2-2' }}
                                    </span>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="card-body d-flex justify-content-between align-items-center" style="background-color: #FFCB00;">
                                    <strong>CUENTA INDIVIDUAL</strong>
                                    <span style="background-color: rgb(3, 25, 68, 0.9); font-size: small;" class="badge badge-primary">
                                        ${{dataAportes.total | number : '.2-2'}}
                                    </span>
                                </div>
                            </div>
                            <div class="card" *ngIf="dataAportes.resumen.length == 0">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    No existe información de créditos
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 2rem;  margin-bottom: 3rem;">
                            <vex-chart [options]="options" [series]="series" ></vex-chart>
                        </div>
                        
                        <div  style="display: flex;flex-direction: column;">

                            <table
                                [dataSource]="dataAportes.detalles"
                                mat-table="mat-table"
                                matSort="matSort">
                                <caption></caption>
        
            
                                <ng-container
                                    class="mat-column-fecha"
                                    matColumnDef="fechaTransaccion">
                                    <th
                                        mat-header-cell="mat-header-cell"
                                        class="center-align"
                                        *matHeaderCellDef>Fecha</th>
                                    <td mat-cell="mat-cell" class="center-align" *matCellDef="let item">
                                        {{item.fechaTransaccion | date: "dd/MM/yyyy"}}</td>
                                    <td
                                        mat-footer-cell="mat-footer-cell"
                                        class="center-align"
                                        *matFooterCellDef>
                                        <strong></strong>
                                    </td>
                                </ng-container>

                                <ng-container
                                    class="mat-column-tipoAporte"
                                    matColumnDef="tipoAporte">
                                    <th
                                        mat-header-cell="mat-header-cell"
                                        class="center-align"
                                        *matHeaderCellDef>Tipo Aporte</th>
                                    <td mat-cell="mat-cell" class="center-align" *matCellDef="let item">
                                        {{ item.tipoAporte }}</td>
                                    <td
                                        mat-footer-cell="mat-footer-cell"
                                        class="center-align"
                                        *matFooterCellDef>
                                        <strong></strong>
                                    </td>
                                </ng-container>
        
            
                                <ng-container class="mat-column-total" matColumnDef="total">
                                    <th
                                        mat-header-cell="mat-header-cell"
                                        class="center-align"
                                        *matHeaderCellDef>Total</th>
                                    <td mat-cell="mat-cell" class="right-align"*matCellDef="let item" [ngClass]="item.total<0?['text-danger']:[]">
                                        <div  style="display:flex" >
                                            <span style="padding: 0rem 0.5rem;" matPrefix="matPrefix">$&nbsp;</span>
                                            <div style="width:100%; padding: 0rem 1.2rem;"> {{item.total | number:'.2-2'}}</div>
                                        </div>
                                       
                                    </td>
                                    <td
                                        mat-footer-cell="mat-footer-cell"
                                        class="right-align"
                                        style="padding-left: 12px; padding-right: 12px;"
                                        *matFooterCellDef>
                                        <div  style="display:flex" >
                                         <span style="padding: 0rem 0.5rem;" matPrefix="matPrefix">$&nbsp;</span>
                                            <div style="width:100%; padding: 0rem 1.2rem;"><b>{{getTotalsDetalles() | number: ".2-2"}}</b></div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container
                                    class="mat-column-tipo"
                                    matColumnDef="tipo">
                                    <th
                                        mat-header-cell="mat-header-cell"
                                        class="center-align"
                                        *matHeaderCellDef>Tipo</th>
                                    <td mat-cell="mat-cell" class="center-align" *matCellDef="let item">
                                        {{getTipoDetalle(item.tipo) }}</td>
                                    <td mat-footer-cell="mat-footer-cell"
                                        class="center-align"
                                        *matFooterCellDef>
                                        <strong></strong>
                                    </td>
                                </ng-container>

                                <ng-container
                                class="mat-column-periodo"
                                matColumnDef="periodo">
                                <th
                                    mat-header-cell="mat-header-cell"
                                    class="center-align"
                                    *matHeaderCellDef>Período</th>
                                <td mat-cell="mat-cell" class="center-align" *matCellDef="let item">
                                    {{ item.periodo }}</td>
                                <td
                                    mat-footer-cell="mat-footer-cell"
                                    class="center-align"
                                    *matFooterCellDef>
                                    <strong></strong>
                                </td>
                            </ng-container>
            
                                <tr
                                    mat-header-row="mat-header-row"
                                    *matHeaderRowDef="detallesColumns; sticky: true"></tr>
                                <tr
                                    mat-footer-row="mat-footer-row"
                                    *matFooterRowDef="detallesColumns; sticky: true"></tr>
                                <tr mat-row="mat-row" *matRowDef="let row; columns: detallesColumns"></tr>
            
                            </table>
                        </div>
                    </div>

                </div>
                <!-- Aportes no realizados (Revisar)-->
                <!-- <div class="card" style="margin-top: 2%;" *ngIf="seccion == 'cuenta'">
                    <div class="row" style="height: auto;">
                        <div class="px-gutter py-4 border-b" style="padding: 3%;">
                            <h2 class="title m-0">Aportes Pendientes</h2>
                        </div>
                        <div class="container">
                            <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Tipo de aporte</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->
                <!-- Creditos -->
                <div *ngIf="seccion == 'creditos'">
                    <table class="table table-striped table-bordered" @stagger [dataSource]="dataCreditos" mat-table matSort>
                        <caption></caption>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        
                        <mat-row *matRowDef="let row; columns: displayedColumns">{{row}}</mat-row>
                        
                        <ng-container matColumnDef="tipoPrestamo">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Tipo Préstamo</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                <p style="margin: 1px;"><span style="font-size: 15px;">
                                    {{item.tipoPrestamo}} 
                                    <br style="margin: -10px; content: ''; display: block;">
                                    <p class="badge bg-danger" *ngIf="item.restructurado == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Reestructuración</p>
                                    <p class="badge bg-warning" *ngIf="item.refinanciado == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Refinanciamiento</p>
                                    <p class="badge bg-warning" *ngIf="item.esNovacion == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Novacion</p>        
                                </span>
                                <span style="font-size: 15px;" class="badge bg-danger" style="color: white; width: -webkit-fill-available;">
                                    {{item.producto}}
                                </span>
                                </p>
                            </mat-cell>
                            
                        </ng-container>

                        <ng-container matColumnDef="fechaSolicitud">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Fecha Solicitud</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                {{item.fechaRegistro | date: 'dd/MM/yyyy'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="montoSolicitado">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Monto Solicitado</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                ${{item.montoSolicitado | number: '.2-2'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="plazo">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Plazo</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                {{item.plazo}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tasaNominal">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Tasa Nominal</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                {{item.tasa}}%
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="tasaEfectiva">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Tasa Efectiva</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                {{item.tasaEfectiva}}%
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="saldoVencido">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Saldo Vencido</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                ${{item.saldoVencido | number: '.2-2'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="saldoVencer">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Saldo Por Vencer</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                ${{item.saldoPorVencer | number: '.2-2'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="saldoTotal">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Saldo Total</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                ${{item.saldoTotal | number: '.2-2'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Estado</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                <p>{{item.estado}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header><h4>Acciones</h4></mat-header-cell>
                            <mat-cell *matCellDef="let item" style="font-weight: 600;">
                                <a class="navf" class="btn btn-primary btn-sm" type="button" matTooltip="REVISAR" [routerLink]="['/creditos/detalle', item.idParticipe , item.idPrestamo, item.estado]" target="_blank" style="margin-left: 1.5%;">
                                    <ic-icon [icon]="icSearch" height="20px" width="20px"></ic-icon>
                                </a>
                            </mat-cell>
                        </ng-container>
                    </table>
                </div>

                <!-- Disponible -->
                <div class="card" style="width: 100%;" *ngIf="seccion == 'disponible'">
                    <div class="card-header" style="background-color:#EDEFF3; font-weight: bold;">
                        <div class="row">
                            <div class="col-6">
                                Resumen
                            </div>
                            <div class="col-6" style="justify-content: flex-end; display: flex; right: 15px">
                                Detalles
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: auto;">
                        <div class="col-md-12">
                            <div class="card">
                                <div  class="card-body d-flex justify-content-between align-items-center">
                                    Cuenta Individual
                                    <span style="background-color: rgb(3, 25, 68, 0.9); font-size: small;" class="badge badge-primary">
                                        ${{dataAportes.total | number : '.2-2'}}
                                    </span>
                                </div>
                                <div  class="card-body d-flex justify-content-between align-items-center">
                                    Saldo de Créditos
                                    <span style="background-color: rgb(3, 25, 68, 0.9); font-size: small;" class="badge badge-primary">
                                        ${{ dataRiesgos.creditosBase  | number : '.2-2'}}
                                    </span>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="card-body d-flex justify-content-between align-items-center" style="background-color: #FFCB00;">
                                    <strong>TOTAL DISPONIBLE</strong>
                                    <span style="background-color: rgb(3, 25, 68, 0.9); font-size: small;" class="badge badge-primary">
                                        ${{disponible | number : '.2-2'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Creditos Garantizados -->
                <div class="container table" *ngIf="seccion == 'garantizados'">
                    <div class="px-gutter py-4 border-b" style="padding: 3%;">
                        <h2 class="title m-0">Créditos Garantizados</h2>
                    </div>
                    <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Tipo Préstamo</th>
                            <th>Garante</th>
                            <th>Monto Garantizado</th>
                            <th>Tasa</th>
                            <th>Tasa Efectiva</th>
                            <th>Plazo</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataPrestamosGarantizados">
                            <td>
                                <h4 style="margin: 1px;"><span style="font-size: 15px;">
                                    {{item.prestamo.tipoPrestamo}} 
                                    <br style="margin: -10px; content: ''; display: block;">
                                    <p class="badge bg-danger" *ngIf="item.restructurado == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Reestructuración</p>
                                    <p class="badge bg-warning" *ngIf="item.refinanciado == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Refinanciamiento</p>
                                    <p class="badge bg-warning" *ngIf="item.esNovacion == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Novacion</p>        
                                </span>
                                </h4>
                                <h4 style="margin: 1px;">
                                    <span style="font-size: 15px;" class="badge bg-danger" style="color: white; width: -webkit-fill-available;">
                                    {{item.prestamo.producto}}
                                    </span>
                                </h4>
                            </td>
                            <td>{{item.identificacion}}</td>
                            <td>${{item.montoGarantia | number:'.2-2'}}</td>
                            <td>{{item.prestamo.tasa}}%</td>
                            <td>{{item.prestamo.tasaEfectiva}}%</td>
                            <td>{{item.prestamo.plazo}}</td>
                            <td>{{item.prestamo.fechaModificacion | date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.prestamo.estado}}</td>
                            <td>
                                <a class="navf" class="btn btn-primary btn-sm" type="button" matTooltip="REVISAR" [routerLink]="['/creditos/detalle', item.idPersona , item.idPrestamo, item.prestamo.estado]" target="_blank" style="margin-left: 1.5%;">
                                    <ic-icon [icon]="icSearch" height="20px" width="20px"></ic-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                    
                </div>
                <!-- Perdida Esperada -->
                <div class="card" style="width: 100%;" *ngIf="seccion == 'riesgo'">
                    <div class="card-header" style="background-color:#EDEFF3; font-weight: bold;">
                        <div class="row">
                            <div class="col-6">
                                Variable
                            </div>
                            <div class="col-6 text-right">
                                Valor
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: auto;" >
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    Probabilidad de Incumplimiento (PD)
                                    <span  class="badge badge-primary">
                                         {{riesgos.pd}}
                                    </span>
                                </div> 
                            </div> 
                            <div class="card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    Ratio de pérdida en caso de incumplimiento (LGD)
                                    <span  class="badge badge-primary">
                                         {{riesgos.lgd}}
                                    </span>
                                </div> 
                            </div> 
                            <div class="card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    Exposición en caso de incumplimiento (EAD)
                                    <span  class="badge badge-primary">
                                        ${{riesgos.ead | number : '.2-2' }}
                                    </span>
                                </div> 
                            </div> 
                            <div class="card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    Pérdida Esperada: PE = PD * LGD * EAD
                                    <span style="background-color: rgb(3, 25, 68, 0.9); font-size: small;" class="badge badge-primary">
                                        ${{riesgos.pe | number : '.2-2' }}
                                    </span>
                                </div> 
                            </div> 
                        </div>
                        <div class="col-md-12" style="margin-top: 1%;">
                            <vex-chart [options]="options" [series]="series" ></vex-chart>
                        </div>
                    </div>
                </div>
                <!-- Valores Vencidos-->
                <div class="card" *ngIf="seccion == 'vencido'">
                    <!-- Aportes Vencidos -->
                    <div class="px-gutter py-4 border-b" style="padding: 3%;">
                        <h2 class="title m-0">Aportes Vencidos</h2>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Tipo aporte</th>
                                <th>Fecha</th>
                                <th>Pagado</th>
                                <th>Descuentos</th>
                                <th>Total</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of aportesVencidos">
                                <td *ngIf="item.tipoAporte != 'APORTE PERSONAL' && item.tipoAporte != 'APORTE ADICIONAL'" style="color: rgb(0, 0, 0);">{{item.tipoAporte}}</td>
                                <td *ngIf="item.tipoAporte == 'APORTE ADICIONAL'" style="color: orange;">{{item.tipoAporte}}</td>
                                <td *ngIf="item.tipoAporte == 'APORTE PERSONAL'" style="color: rgb(24, 109, 31);">{{item.tipoAporte}}</td>
                                <!-- <td>{{item.tipoAporte}}</td> -->

                                <td>{{item.fechaTransaccion | date: 'dd/MM/yyyy'}}</td>
                                <td>${{item.valor | number:'.2-2'}}</td>
                                <td>${{item.descuentos | number:'.2-2'}}</td>
                                <td>${{item.total | number:'.2-2'}}</td>
                                <td>${{item.saldo | number:'.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Prestamos Vencidos -->
                    <div class="px-gutter py-4 border-b" style="padding: 3%;">
                        <h2 class="title m-0">Créditos Vencidos</h2>
                    </div>
                    <table class="table table-striped table-bordered table">
                        <thead>
                            <tr>
                                <th>Tipo Préstamo</th>
                                <th>Monto</th>
                                <th>Plazo</th>
                                <th>Tasa</th>
                                <th>Tasa Efectiva</th>
                                <th>Fecha Creación</th>
                                <th>Saldo Capital</th>
                                <th>Saldo Vencido</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of prestamosVencidos">
                                <td>
                                    <h4 style="margin: 1px;"><span style="font-size: 15px;">
                                        {{item.tipoPrestamo}} 
                                        <br style="margin: -10px; content: ''; display: block;">
                                        <p class="badge bg-danger" *ngIf="item.restructurado == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Reestructuración</p>
                                        <p class="badge bg-warning" *ngIf="item.refinanciado == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Refinanciamiento</p>
                                        <p class="badge bg-warning" *ngIf="item.esNovacion == true" style="color: rgb(255, 255, 255); width: -webkit-fill-available;">Novacion</p>        
                                    </span>
                                    </h4>
                                    <h4 style="margin: 1px;">
                                        <span style="font-size: 15px;" class="badge bg-danger" style="color: white; width: -webkit-fill-available;">
                                        {{item.producto}}
                                        </span>
                                    </h4>
                                </td>
                                <td>${{item.montoSolicitado | number:'.2-2'}}</td>
                                <td>{{item.plazo}}</td>
                                <td>{{item.tasa}}%</td>
                                <td>{{item.tasaEfectiva}}%</td>
                                <td>{{item.fechaRegistro | date: 'dd/MM/yyyy'}}</td>
                                <td>${{item.saldoCapital | number:'.2-2'}}</td>
                                <td>${{item.saldoVencido | number:'.2-2'}}</td>
                                <td>{{item.estado}}</td>
                                <td>
                                    <a class="navf" class="btn btn-primary btn-sm" type="button" matTooltip="REVISAR" [routerLink]="['/creditos/detalle', item.idParticipe , item.idPrestamo, item.estado]" target="_blank" style="margin-left: 1.5%;">
                                        <ic-icon [icon]="icSearch" height="20px" width="20px"></ic-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        </table>

                        <!-- <div *ngIf="!mostrarValoresVencidos" style="display: flex; justify-content: center; align-items: center; background: white; margin: auto;">
                            <mat-progress-spinner diameter="60" color="primary" mode="indeterminate">
                            </mat-progress-spinner>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>