
          <div @fadeInUp class=" overflow-hidden" style="margin:1.5rem;">
        
            <mat-vertical-stepper #stepper="matVerticalStepper" [linear]="true">
              <ng-template matStepperIcon="edit">
                <mat-icon [icIcon]="icDoneAll"></mat-icon>
              </ng-template>
        
              <ng-template matStepperIcon="done">
                <mat-icon [icIcon]="icDoneAll"></mat-icon>
              </ng-template>
        
            
        
        
              <!-- ROL DE PAGO -->
              <mat-step [stepControl]="horizontalrolPago">
                <form [formGroup]="rolPago">
                  <ng-template matStepLabel>Rol de pago</ng-template>
        
                  <div class="filter-form px-6 py-4 border-b flex items-center">
                    <mat-label> <strong style="color: black">Mes de Rol</strong></mat-label>
                  </div>
                  <div class="filter-form px-6 py-4 flex flex-col" style="display: inline-block;">
                    <vex-mat-datepicker-month-year [minDate]="minDate" [maxDate]="maxDate" [input_date]="input_date"
                      (date_month_year_value)="setMonthAndYear($event)"></vex-mat-datepicker-month-year>
                  </div>
        
                  <div class="card-body d-flex justify-content-between align-items-center">
                    <strong style="color: black">Agregar un archivo *</strong>
                  </div>
        
                  <div fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                      <span *ngIf="rolPagoAdjunto">
                        <ic-icon style="cursor: pointer" (click)="descargarRolPagos()" [icon]="icDescription" height="40px"
                          width="40px"></ic-icon>
                      </span>
                      <div class="form-group">
                        <input #fileUpload class="btn" (change)="handleFileInputRol($event.target.files)" type="file" id="file"
                          accept="application/pdf" />
                        <button class="btn btn-primary" type="button" (click)="fileUpload.click()">
                          <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                          <span style="margin-left: 4px">Cargar rol de pago</span>
                        </button>
                        <span style="font-size: 18px; margin-left: 10px; cursor: pointer">{{
                          nombreArchivoRol
                          }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" style="margin-top: 2%">
<!--                     <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button matStepperPrevious type="button">
                      ANTERIOR
                    </button> -->
                    <button color="primary" mat-raised-button [disabled]="!rolPagoAdjunto || !showfecha || !participe"
                      (click)="alertActualizarDatos(stepper)" >
                      SIGUIENTE
                    </button>
                  </div>
                </form>
              </mat-step>
        


        <!-- Otros Ingresos -->
    <mat-step [stepControl]="horizontalrolOtrosIngresos" *ngIf="productoFinanciero.idProducto != 7">
        <form [formGroup]="otroIngresos">
        <ng-template matStepLabel>Otros Ingresos</ng-template>
    
        <div *ngIf="productoFinanciero.idProducto != 7">
            <input type="file" id="file" accept="application/pdf"
            (change)="cargarArchivoPrestamo($event.target.files)" />
            <button class="btn btn-primary" type="button">
            <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
            <span style="margin-left: 4px">Cargar otros ingresos</span>
            </button>
            <span style="font-size: 18px; margin-left: 10px">{{
            nombreOtrosIngresos
            }}</span>
        </div>
    
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" style="margin-top: 2%">
            <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button matStepperPrevious type="button">
            ANTERIOR
            </button>
            <button   color="primary" mat-raised-button [disabled]="!participe" (click)=" alertActualizarDatos(stepper)">
              SIGUIENTE
            </button>
        </div>
        </form>
    </mat-step>


            <!-- ADJUNTO HIPOTECARIOS -->
            <mat-step [stepControl]="horizontaladjuntosHipotecarios" *ngIf="showHipotecario">
                <form [formGroup]="adjuntosHipotecarios">
                    <ng-template matStepLabel>Adjuntos Hipotecarios</ng-template>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="subheading-1" style="font-weight: bold; color: gray">
                            Ajuntos Hipotecarios<br />
                            <strong style="color: black">Agregar un archivo</strong>
                        </div>
                    </div>
                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <h6>Cedula frontal del conyuge</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <input required class="btn" type="file" accept="image/png,image/jpeg/application/pdf"
                                id="file" (change)="adjuntoCedulafrontalConyuge($event.target.files)" />
                            <button class="btn btn-primary" type="button" style="margin-left: 24px">
                                <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                                <span style="margin-left: 24px">Cargar cédula frontal del cónyuge</span>
                            </button>
                            <span style="font-size: 18px; margin-left: 10px">{{
                                nombreCedulaFrontalConyuge
                                }}</span>
                        </div>
                        <br />
                        <h6>Cedula posterior del cónyuge</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <input required class="btn" type="file" accept="image/png,image/jpeg/application/pdf"
                                id="file" (change)="adjuntoCedulaPosteriorConyuge($event.target.files)" />
                            <button class="btn btn-primary" type="button">
                                <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                                <span style="margin-left: 4px">Cargar cédula posterior del cónyuge</span>
                            </button>
                            <span style="font-size: 18px; margin-left: 10px">{{
                                nombreCedulaPosteriorConyuge
                                }}</span>
                        </div>
                        <br />
                        <h6>Proforma bien a hipotecario</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <input required class="btn" type="file" accept="application/pdf" id="file"
                                (change)="adjuntoProformaHipotecar($event.target.files)" />
                            <button class="btn btn-primary" type="button">
                                <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                                <span style="margin-left: 4px">Cargar proforma bien a hipotecar</span>
                            </button>
                            <span style="font-size: 18px; margin-left: 10px">{{
                                nombreBienHipotecar
                                }}</span>
                        </div>
                        <br />
                        <h6>Certificado propiedad inmueble</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <input required class="btn" type="file" accept="application/pdf" id="file"
                                (change)="adjuntoCertificadoInmueble($event.target.files)" />
                            <button class="btn btn-primary" type="button">
                                <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                                <span style="margin-left: 4px">Cargar certificado propiedad inmueble</span>
                            </button>
                            <span style="font-size: 18px; margin-left: 10px">{{
                                nombreCertificadoInmueble
                                }}</span>
                        </div>
                        <br />
                        <h6>Croquis del inmueble</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <input required class="btn" type="file" accept="application/pdf" id="file"
                                (change)="adjuntoCroquisInmueble($event.target.files)" />
                            <button class="btn btn-primary" type="button">
                                <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                                <span style="margin-left: 4px">Cargar croquis del inmueble</span>
                            </button>
                            <span style="font-size: 18px; margin-left: 10px">{{
                                nombreCroquisInmueble
                                }}</span>
                        </div>
                        <br />
                        <h6>Autorizacion de buró crédito</h6>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <input required class="btn" type="file" accept="application/pdf" id="file"
                                (change)="adjuntoBuroCredito($event.target.files)" />
                            <button class="btn btn-primary" type="button">
                                <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
                                <span style="margin-left: 4px">Cargar autorización de buró de crédito</span>
                            </button>
                            <span style="font-size: 18px; margin-left: 10px">{{
                                nombreBuroCredito
                                }}</span>
                        </div>
                    </div>
                    <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                        style="margin-top: 2%">
                        <button color="primary" mat-button matStepperPrevious type="button">
                            ANTERIOR
                        </button>
                        <button color="primary" mat-raised-button [disabled]="
                !proformaHipotecar ||
                !certificadoInmueble ||
                !croquisInmueble ||
                !buroCredito || !participe
              " (click)=" alertActualizarDatos(stepper)">
              SIGUIENTE
            </button>
                    </div>
                </form>
            </mat-step>

            <!-- ADJUNTO PRENDARIOS -->
            <mat-step [stepControl]="horizontaladjuntosHipotecarios" *ngIf="showPrendario">
                <form [formGroup]="adjuntosHipotecarios">
                    <ng-template matStepLabel>Adjuntos Prendarios</ng-template>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="subheading-1" style="font-weight: bold; color: gray;">Adjuntos Prendarios<br>
                            <strong style="color: black;">Agregar todos los documentos</strong>
                        </div>
                    </div>
                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <h6>Cedula frontal conyuge</h6>
                            <input required type="file" accept="image/png,image/jpeg" id="file"
                                (change)="adjuntoCedulafrontalConyuge($event.target.files)">
                        </div>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <h6>Cedula posterior conyuge</h6>
                            <input required type="file" accept="image/png,image/jpeg" id="file"
                                (change)="adjuntoCedulaPosteriorConyuge($event.target.files)">
                        </div>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <h6>Proforma del vehiculo</h6>
                            <input required type="file" accept="application/pdf" id="file"
                                (change)="AdjuntoProformaVehicular($event.target.files)">
                        </div>

                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <h6>Autorizacion de buró credito</h6>
                            <input required type="file" accept="application/pdf" id="file"
                                (change)="adjuntoBuroCredito($event.target.files)">
                        </div>
                    </div>
                    <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                        style="margin-top: 2%;">
                        <button color="primary" style="color: #fff; background-color: #EF2E2E;" mat-raised-button
                            matStepperPrevious type="button">ANTERIOR</button>
                            <button color="primary" mat-raised-button  [disabled]="
                !proformaVehiculo ||
                !buroCredito ||
                !cedulaFrontalConyuge ||
                !cedulaPosteriorConyuge || !participe
              " (click)=" alertActualizarDatos(stepper)">
              SIGUIENTE
            </button>

                    </div>
                </form>
            </mat-step>

          <!-- CALCULADORA -->
      <mat-step [stepControl]="horizontalcalculadora" [completed]="validaciones.length>0">
      
        <ng-template matStepLabel>Calculadora</ng-template>  
        
          <vex-calculadora class="container-calculadora" [isSimulacion]="isSimulacion" (SimulacionEmit)="datosSimulacion($event)" (AccionEmit)="AccionValidation($event)"></vex-calculadora>
      
        <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" style="margin-top: 2%">
          <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button matStepperPrevious type="button">
            ANTERIOR
          </button>
          <button color="primary" mat-raised-button [disabled]="!participe || validaciones.length==0" (click)=" alertActualizarDatos(stepper)" >
            SIGUIENTE
          </button>
        </div>
  
    </mat-step>

         <!-- GARANTE -->
         <mat-step *ngIf="hasGarante" [stepControl]="horizontalgarente">
          <form [formGroup]="garente">
            <ng-template matStepLabel>Garante</ng-template>
            <div class="card-body d-flex justify-content-between align-items-center">
              <vex-garante [participe]="participe" (GaranteEmit)="getGarante($event)"></vex-garante>
            </div>
              
              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" style="margin-top: 2%">
                <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button matStepperPrevious type="button">
                  ANTERIOR
                </button>
                <button color="primary" mat-raised-button [disabled]="!participe || garanteCreditos.length == 0" (click)=" alertActualizarDatos(stepper)">
                  SIGUIENTE
                </button>
              </div>
           
          </form>
        </mat-step>
 

   <!-- Solicitas -->
   <mat-step [stepControl]="horizontalSolicitar" [completed]="textAdjuntoSolicitud.valid">
    <form [formGroup]="textAdjuntoSolicitud">
      <ng-template matStepLabel>Solicitar</ng-template>
      
      
      <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
       

    
          <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Motivo de crédito</mat-label>
            <input required formControlName="motivocredito" matInput type="text"
              [(ngModel)]="solicitudPrestamo.motivoPrestamo" />
          </mat-form-field>


        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Observación</mat-label>
          <textarea required formControlName="observaciones" matInput [(ngModel)]="observacionesPrestamo"></textarea>
        </mat-form-field>

        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Comentario de la actividad del crédito</mat-label>
          <textarea required formControlName="comentario" matInput [(ngModel)]="comentarioActividad"></textarea>
        </mat-form-field>

        <div *ngIf="productoFinanciero.idProducto == 1">
          <h6>
            <strong>Liquidación de BIESS</strong>
          </h6>
          <input type="file" id="file" accept="application/pdf"
            (change)="cargarArchivoLiquidacion($event.target.files)" />
          <button class="btn btn-primary" type="button">
            <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
            <span style="margin-left: 4px">Cargar Liquidación</span>
          </button>
          <span style="font-size: 18px; margin-left: 10px">{{
            nombreLiquidacion
            }}</span>
        </div>

        <div *ngIf="productoFinanciero.idProducto == 1">
          <h6>
            <strong>Autorización</strong>
          </h6>
          <input type="file" id="file" accept="application/pdf"
            (change)="cargarArchivoAutorizacion($event.target.files)" />
          <button class="btn btn-primary" type="button">
            <mat-icon style="height: 18px" [icIcon]="icPdf"></mat-icon>
            <span style="margin-left: 4px">Cargar Autorización</span>
          </button>
          <span style="font-size: 18px; margin-left: 10px">{{
            nombreAutorizacion
            }}</span>
        </div>


      </div>
      <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" style="margin-top: 2%">
        <button style="color: #fff; background-color: #EF2E2E;" mat-raised-button matStepperPrevious type="button">
          ANTERIOR
        </button>
        <button color="primary" mat-raised-button (click)="SolicitudCredito()" [disabled]="!canSolicitar || validaciones.length==0">
          CREAR SOLICITUD
        </button>
       
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
