
<mat-card class=" value-card center">
  <div style="display: flex; grid-template-columns: repeat(4, 1fr); ">
      <div class="avatar-card center" style="grid-column-end: 1;grid-column-start: 1;" mat-card-avatar="mat-card-avatar">
          <mat-icon class="icon-card center" [icIcon]="icroundPerson"></mat-icon>
      </div>
      <div style="grid-column-end: 2;grid-column-start: 4; margin-left: 10px;" *ngIf="participe">
        <mat-card-title>{{participe.nombres}} {{participe.apellidos}}</mat-card-title>
        <mat-card-subtitle *ngIf="participe.identificacion" class="content-resum-card" style="display: flex; justify-content: center;">C.I.{{participe.identificacion}}</mat-card-subtitle> 
      </div>
      
  </div>
</mat-card>

<br>

<div class="card" style="width: inherit;">  
  <div class="px-gutter py-4">
    <h2 class="title m-0">Datos de trabajador</h2>
  </div>

    <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr">
      <div class="py-3" fxLayout="row"  style="justify-content: center; text-align: center;" *ngFor="let item of templateDatos">
        <div @fadeInRight>
          <p class="m-0 body-1">{{datos[item.value]}}</p>
          <p class="m-0 caption text-hint">{{item.label}}</p>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="items"
     class="p-gutter"
     gdColumns="1fr 1fr 1fr"
     gdColumns.lt-md="1fr 1fr"
     gdColumns.lt-sm="1fr"
     gdGap="16px"
     style="padding-right:0;padding-left:0"
     vexContainer>
    
    
    <vex-values-data
        matTooltip="Ingresos"
        (click)="cambiarSeccion('ingresos')"
        [change]="124.4"
        [icon]="icroundMonetizationOn"
        [segmento]="seccion"
        [detalles]="dataCreditos"
        iconClass="text-primary bg-primary-light"
        gdColumn.lt-sm="1"
        label="Ingresos"
        [value]="valuesCard.ingresos | number : '.2-2'">
    </vex-values-data>

    <vex-values-data
    matTooltip="Egresos"
    (click)="cambiarSeccion('egresos')"
    [change]="124.4"
    [icon]="icroundShopify"
    [segmento]="seccion"
    [detalles]="dataCreditos"
    iconClass="text-primary bg-primary-light"
    gdColumn.lt-sm="1"
    label="Egresos"
    [value]="valuesCard.egresos | number : '.2-2'">
</vex-values-data>


  <vex-values-data
  matTooltip="Vacaciones"
  (click)="cambiarSeccion('vacaciones')"
  [change]="124.4"
  [icon]="icroundBeachAccess"
  [segmento]="seccion"
  [detalles]="dataCreditos"
  iconClass="text-primary bg-primary-light"
  gdColumn.lt-sm="1"
  label="Vacaciones"
  [value]="valuesCard.vacaciones | number : '.2-2'">
  </vex-values-data>


  <vex-values-data
  matTooltip="Descuentos"
  (click)="cambiarSeccion('descuentos')"
  [change]="124.4"
  [icon]="icroundPercent"
  [segmento]="seccion"
  [detalles]="dataCreditos"
  iconClass="text-primary bg-primary-light"
  gdColumn.lt-sm="1"
  label="Descuentos"
  [value]="valuesCard.descuentos | number : '.2-2'">
  </vex-values-data>


  <vex-values-data
  matTooltip="Rubros"
  (click)="cambiarSeccion('rubros')"
  [change]="124.4"
  [icon]="icroundCurrencyRuble"
  [segmento]="seccion"
  [detalles]="dataCreditos"
  iconClass="text-primary bg-primary-light"
  gdColumn.lt-sm="1"
  label="Rubros"
  [value]="valuesCard.rubros | number : '.2-2'">
  </vex-values-data>
</div>

<div style="margin-top:10px"  *ngIf="seccion != ''">

<div style="margin-top:10px" *ngIf="seccion == 'ingresos'" >

<div class="card" style="width: inherit;" >
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Días de ingresos del Més</h2>
    <p class="m-0 caption text-hint"></p>
  </div>

  <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr">
    <div class="py-3 interno" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of templateDiasIngreso">
      <div @scaleIn
        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="item.icon" size="20px"></ic-icon>
      </div>

      <div @fadeInRight>
        <p class="m-0 body-1">{{saldos[item.value] | number:'.2-2'}}</p>
        <p class="m-0 caption text-hint">{{item.label}}</p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: inherit;">
    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Ingresos del Més</h2>
      <p class="m-0 caption text-hint"></p>
    </div>
  
    <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr">
      <div class="py-3 interno" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of templateIngreso">
        <div @scaleIn
          class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="item.icon" size="20px"></ic-icon>
        </div>
  
        <div @fadeInRight>
          <p class="m-0 body-1">{{ingresos[item.value] | number:'.2-2'}}</p>
          <p class="m-0 caption text-hint">{{item.label}}</p>
        </div>
      </div>
    </div>
  </div>



</div>