<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
>
    <p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>

    <vex-page-layout-header class="page-head">
        <!-- cabecera -->
        <div @fadeInRight class="head-icon">
            <mat-icon   [icIcon]="icroundAccountBalance"  ></mat-icon>
            <h3 class="head-icon-title">Plan Contable</h3>
        </div>   
    </vex-page-layout-header>
   
    <vex-page-layout-content @stagger [class.container]="layoutCtrl.value === 'fullwidth'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6" >
        
         <div class="card">
           
            <div style="display: flex;">
             <div style="text-align: center; display: flex; align-self: center; padding-left:2rem; width: 300px;"><h3><b>Cuentas Contables</b></h3></div>
             <div style=" margin: 1rem;
             display: flex;
             justify-content: end;
             width: 100%;">
                    <button mat-raised-button mat-button color="primary"  (click)="expandAll()" style="margin-right: .5rem">Expandir</button>
                    <button mat-raised-button  mat-button color="primary"  (click)="collapseAll()">Reducir</button>
                </div>
                </div>
            <div>
                <p-tree [value]="cuentas" selectionMode="single" [loading]="isLoading" [(selection)]="selectedFile" [contextMenu]="cm" [emptyMessage]="'No se han encontrado cuentas'" ></p-tree>
                <p-contextMenu class="content-menu" appendTo="body" #cm [model]="items" (onShow)="reeplaceMenu(this.selectedFile)" ></p-contextMenu>
             </div>
        </div> 
        
    </vex-page-layout-content>

</vex-page-layout>
