<vex-page-layout>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <div class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <br>
                <strong class="title mt-0 mb-1">Legalización de documentos - créditos</strong>
            </div>
        </div>
    </vex-page-layout-header>
    <div *ngIf="prestamo" class="card overflow-hidden" style="border-radius: 15px; height: 100%">
        <div class="row" style="height: 100%">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="
              margin: auto;
              border-right: 0px solid rgb(196, 196, 196);
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;">
                <img class="
                avatar
                h-24
                w-24
                flex-none
                align-start
                hidden
                sm:block
                border-3 border-white
              " src="assets/img/sinPerfil.jpg" style="margin: auto; margin-top: 1%" />
            </div>
            <div class="col" style="padding: 1% 0% 2.5% 0%;">
                <div class="row" style="margin-top: 2%; overflow: hidden" *ngIf="prestamo">
                    <div class="col-md-3 col-6 b-r">
                        <strong>Nombres</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.nombre }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Identificación</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.identificacion }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Código Uniformado</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.codigoUniformado }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r" *ngIf="prestamo.calificacion != null">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip style="height: 100%; background-color: #071a41;">
                                <h5 style="font-weight: bold;">
                                    <strong style="color: white;">Calificación</strong>
                                    <div style="text-align: center;">
                                        <strong
                                            [ngStyle]="{'color': colorCalificacionPrestamo(prestamo.calificacion)}">{{
                                            prestamo.calificacion }}</strong>
                                    </div>
                                </h5>
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                </div>
                <!-- Fila 1 -->
                <div class="row" style="margin-top: 2%; overflow: hidden" *ngIf="prestamo">
                    <div class="col-md-3 col-6 b-r">
                        <strong>Tipo Préstamo</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.tipoPrestamo }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Monto solicitado</strong>
                        <br />
                        <p class="text-muted">${{ prestamo.montoSolicitado | number: ".2-2" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Tasa nominal</strong>
                        <br />
                        <p class="text-muted">{{ prestamo["tasa"] }}%</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Tasa efectiva</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.tasaEfectiva }}%</p>
                    </div>
                </div>
                <!-- Fila 2 -->
                <div class="row" style="margin-top: 1%; overflow: hidden" *ngIf="prestamo">
                    <div class="col-md-3 col-6">
                        <strong>Fecha solicitud</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.fecha | date: "dd/MM/yyyy" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Plazo</strong>
                        <br />
                        <p class="text-muted" *ngIf="prestamo.plazo == 1">{{ prestamo.plazo }} mes</p>
                        <p class="text-muted" *ngIf="prestamo.plazo > 1">{{ prestamo.plazo }} meses</p>

                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Tipo de amortización</strong>
                        <br />
                        <p class="text-muted">{{ prestamo.tipoAmortizacion }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Valor de cuota</strong>
                        <br />
                        <p class="text-muted">${{ prestamo.valorCuota | number: ".2-2" }}</p>
                    </div>
                </div>
                <!-- Fila 3 -->
                <div class="row" style="margin-top: 1%; overflow: hidden" *ngIf="prestamo">
                    <div class="col-md-3 col-6">
                        <strong>Total interés</strong>
                        <br />
                        <p class="text-muted">${{ prestamo.totalInteres | number: ".2-2" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Total degravamen</strong>
                        <br />
                        <p class="text-muted">${{ prestamo.totalSeguros | number: ".2-2" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Total del préstamo</strong>
                        <br />
                        <p class="text-muted">${{ prestamo.totalPrestamo | number: ".2-2" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                        <strong>Saldo</strong>
                        <br />
                        <p class="text-muted">${{ prestamo.saldoTotal | number: ".2-2" }}</p>
                    </div>
                    <hr *ngIf="prestamo.restructurado" style="margin-top: 10px; margin-bottom: 10px;">
                    <div *ngIf="prestamo.restructurado" class="col-md-12 col-12 b-r">
                        <strong>Interes Reprogramado</strong>
                    </div>

                    <div *ngIf="prestamo.restructurado" class="col-md-3 col-6 b-r">
                        <span>Base</span>
                        <br />
                        <p class="text-muted">${{ prestamo.moraAnterior | number: ".2-2" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r" *ngIf="prestamo.restructurado">
                        <span>Descuento ({{ prestamo.descuentoMora }}%)</span>
                        <br />
                        <p class="text-muted">${{ valorDescontado | number: ".2-2" }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r" *ngIf="prestamo.restructurado">
                        <span>Total interés reprogramado</span>
                        <br />
                        <p class="text-muted">${{ prestamo.valorDiferido | number: ".2-2" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <mat-vertical-stepper #stepper="matVerticalStepper" [linear]="true">
            <ng-template matStepperIcon="edit">
                <mat-icon [icIcon]="icDoneAll"></mat-icon>
            </ng-template>

            <mat-step>
                <ng-template matStepLabel>
                    <p>Pagaré</p>
                </ng-template>

                <div class="row">

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Descargar formato pagaré</h5>
                        <mat-checkbox class="example-margin" [checked]="pagare" [disabled]="true"></mat-checkbox>
                        <button style="margin-left: 2%;" mat-raised-button color="primary" matTooltip="PAGARÉ"
                            (click)="getPagare()">
                            Descargar
                        </button>
                    </div>

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Cargar pagaré firmado</h5>
                        <div class="form-group">
                            <mat-checkbox class="example-margin" [checked]="pagareFirmado"
                                [disabled]="true"></mat-checkbox>
                            <button style="margin-left: 2%; position: absolute;" mat-raised-button color="primary"
                                type="button">
                                <span style="margin-left: 4px;">Seleccionar archivo</span>
                            </button>
                            <input class="btn" (change)="handleFileInput($event.target.files, 'pagare')" type="file"
                                id="inputFile" accept=".pdf">
                            <!-- <input class="btn" (change)="upload($event)" type="file" id="inputFile" accept=".xls, .xlsx">
                <button class="btn btn-success" type="button">
                    <mat-icon style="height: 18px;" [icIcon]="icExcel"></mat-icon>
                    <span style="margin-left: 4px;">Seleccionar archivo</span>
                </button> -->
                            <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivoPagare}}</span>
                        </div>
                    </div>

                </div>

                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="44px">
                        <div *ngIf="innerHtmlPagare " style="width: 100%; height: 400px;" [innerHTML]="innerHtmlPagare">
                        </div><br>
                        <div *ngIf="!innerHtmlPagare" style="width: 100%;">
                            <h6 style="width: 100%;">No se ha cargado el pagaré firmado</h6>
                        </div>
                    </div>
                </div>




                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <p>Autorización de débito</p>
                </ng-template>

                <div class="row">

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Descargar formato autorización débito</h5>
                        <mat-checkbox class="example-margin" [checked]="autorizaciondebito"
                            [disabled]="true"></mat-checkbox>
                        <button style="margin-left: 2%;" mat-raised-button color="primary" matTooltip="PAGARÉ"
                            (click)="getDebito()">
                            Descargar
                        </button>
                    </div>

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Cargar autorización de débito firmado</h5>
                        <div class="form-group">
                            <mat-checkbox class="example-margin" [checked]="autorizaciondebitoFirmado"
                                [disabled]="true"></mat-checkbox>
                            <button style="margin-left: 2%; position: absolute;" mat-raised-button color="primary"
                                type="button">
                                <span style="margin-left: 4px;">Seleccionar archivo</span>
                            </button>
                            <input class="btn" (change)="handleFileInput($event.target.files, 'debito')" type="file"
                                id="inputFile" accept=".pdf">
                            <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivoDebito}}</span>
                        </div>
                    </div>

                </div>

                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="44px">
                        <div *ngIf="innerHtmlDebito" style="width: 100%; height: 400px;" [innerHTML]="innerHtmlDebito">
                        </div><br>
                        <div *ngIf="!innerHtmlDebito" style="width: 100%;">
                            <h6 style="width: 100%;">No se ha cargado la autorización de débito formado</h6>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-6">
                        <button color="primary" (click)="actualizarTablaAmortizacion()"
                            style="margin-left: 2%; position: absolute;" mat-raised-button type="button">
                            <span style="margin-left: 4px;">Actualizar tabla de amortización</span>
                        </button>
                        <!-- <input class="btn" (change)="handleFileInput($event.target.files, 'debito')" type="file" id="inputFile" accept=".pdf"> -->
                        <!-- <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivoDebito}}</span> -->
                    </div>

                </div>

                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                    <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <p>Declaración de asegurabilidad</p>
                </ng-template>

                <div class="row">

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Descargar declaración de asegurabilidad</h5>
                        <mat-checkbox class="example-margin" [checked]="declaracion" [disabled]="true"></mat-checkbox>
                        <button style="margin-left: 2%;" mat-raised-button color="primary" matTooltip="PAGARÉ"
                            (click)="getDeclaracionAsegurabilidad()">
                            Descargar
                        </button>
                    </div>

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Cargar declaración de asegurabilidad</h5>
                        <div class="form-group">
                            <mat-checkbox class="example-margin" [checked]="declaracionUp"
                                [disabled]="true"></mat-checkbox>
                            <button style="margin-left: 2%; position: absolute;" mat-raised-button color="primary"
                                type="button">
                                <span style="margin-left: 4px;">Seleccionar archivo</span>
                            </button>

                            <input class="btn" (change)="handleFileInput($event.target.files, 'declaracion')"
                                type="file" id="inputFile" accept=".pdf">
                            <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivoDeclaracion}}</span>
                        </div>
                    </div>

                </div>

                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="44px">
                        <div *ngIf="innerHtmlDeclaracion" style="width: 100%; height: 400px;"
                            [innerHTML]="innerHtmlDeclaracion">
                        </div><br>
                        <div *ngIf="!innerHtmlDeclaracion" style="width: 100%;">
                            <h6 style="width: 100%;">No se ha cargado la declaración de asegurabilidad</h6>
                        </div>
                    </div>
                </div>

                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                    <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <p>Tabla informativa de costos</p>
                </ng-template>

                <div class="row">

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Descargar tabla informativa de costos</h5>
                        <mat-checkbox class="example-margin" [checked]="informativa" [disabled]="true"></mat-checkbox>
                        <button style="margin-left: 2%;" mat-raised-button color="primary" matTooltip="PAGARÉ"
                            (click)="getTablaInformativa()">
                            Descargar
                        </button>
                    </div>

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Cargar tabla informativa de costos</h5>
                        <div class="form-group">
                            <mat-checkbox class="example-margin" [checked]="informativaUp"
                                [disabled]="true"></mat-checkbox>
                            <button style="margin-left: 2%; position: absolute;" mat-raised-button color="primary"
                                type="button">
                                <span style="margin-left: 4px;">Seleccionar archivo</span>
                            </button>
                            <input class="btn" (change)="handleFileInput($event.target.files, 'tabla')" type="file"
                                id="inputFile" accept=".pdf">
                            <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivoPagare}}</span>
                        </div>
                    </div>

                </div>

                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="44px">
                        <div *ngIf="innerHtmlTabla" style="width: 100%; height: 400px;" [innerHTML]="innerHtmlTabla">
                        </div><br>
                        <div *ngIf="!innerHtmlTabla" style="width: 100%;">
                            <h6 style="width: 100%;">No se ha cargado la tabla informativa de costos</h6>
                        </div>
                    </div>
                </div>

                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                    <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <p>Autorización pago proveedor</p>
                </ng-template>

                <div class="row">

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Descargar autorización pago a proveedor</h5>
                        <mat-checkbox class="example-margin" [checked]="pagoProveedor" [disabled]="true"></mat-checkbox>
                        <button style="margin-left: 2%;" mat-raised-button color="primary" matTooltip="PAGARÉ"
                            (click)="getPagoProveedor()">
                            Descargar
                        </button>
                    </div>

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Cargar autorización de pago a proveedor</h5>
                        <div class="form-group">
                            <mat-checkbox class="example-margin" [checked]="pagoProveedorFirmado"
                                [disabled]="true"></mat-checkbox>
                            <button style="margin-left: 2%; position: absolute;" mat-raised-button color="primary"
                                type="button">
                                <span style="margin-left: 4px;">Seleccionar archivo</span>
                            </button>
                            <input class="btn" (change)="handleFileInput($event.target.files, 'proveedor')" type="file"
                                id="inputFile" accept=".pdf">
                            <span style="font-size: 18px; margin-left: 10px;">{{nombreArchivoProveedor}}</span>
                        </div>
                    </div>

                </div>

                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="44px">
                        <div *ngIf="innerHtmlProveedor" style="width: 100%; height: 400px;"
                            [innerHTML]="innerHtmlProveedor">
                        </div><br>
                        <div *ngIf="!innerHtmlProveedor" style="width: 100%;">
                            <h6 style="width: 100%;">No se ha cargado la autorización de pago a proveedor</h6>
                        </div>
                    </div>
                </div>

                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                    <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                </div>
            </mat-step>


            <mat-step>
                <ng-template matStepLabel>
                    <p>Solictud de novación - crédito</p>
                </ng-template>

                <div class="row">

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Descargar solicitud</h5>
                        <mat-checkbox class="example-margin" [checked]="solicitud" [disabled]="true"></mat-checkbox>
                        <button style="margin-left: 2%;" mat-raised-button color="primary" matTooltip="SOLICITUD"
                            (click)="prestamo.esNovacion ? obtenerNovacion() : obtenerSolicitud()">

                            Descargar
                        </button>
                    </div>

                    <div class="col-6">
                        <h5 style="font-weight: bold;">Cargar solicitud de novación - crédito</h5>
                        <div class="form-group">
                            <mat-checkbox class="example-margin" [checked]="solicitudFirmado"
                                [disabled]="true"></mat-checkbox>
                            <button style="margin-left: 2%; position: absolute;" mat-raised-button color="primary"
                                type="button">
                                <span style="margin-left: 4px;">Seleccionar archivo</span>
                            </button>
                            <input class="btn" (change)="handleFileInput($event.target.files, 'solicitud')" type="file"
                                id="inputFile" accept=".pdf">
                            <span style="font-size: 18px; margin-left: 10px;">{{nombreSolicitud}}</span>
                        </div>
                    </div>

                </div>

                <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="44px">
                        <div *ngIf="innerHtmlSolicitud" style="width: 100%; height: 400px;"
                            [innerHTML]="innerHtmlSolicitud">
                        </div><br>
                        <div *ngIf="!innerHtmlSolicitud" style="width: 100%;">
                            <h6 style="width: 100%;">No se ha cargado la solicitud de novación - crédito</h6>
                        </div>
                    </div>
                </div>

                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                    <button color="primary" mat-raised-button matStepperNext>SIGUIENTE</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <p>Confirmar</p>
                </ng-template>
                <form>
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Comentario</mat-label>
                        <textarea [(ngModel)]="comentarios" [ngModelOptions]="{standalone: true}" matInput
                            placeholder="Por favor ingresa un comentario..."></textarea>
                    </mat-form-field>
                </form>
                <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px"
                    style="margin-top: 2%;">
                    <button color="primary" mat-button matStepperPrevious type="button">ANTERIOR</button>
                    <button color="primary" mat-raised-button (click)="enviar()">Confirmar</button>
                </div>
            </mat-step>

        </mat-vertical-stepper>
    </form>

</vex-page-layout>