
  <div *ngIf="ticket != null || ticket != undefined">
    <h4 style="font-weight: bold">Editar ticket de atención</h4>
    <br>
    <form [formGroup]="datosTicket" class="example-form">
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

          <mat-form-field class="vex-flex-form-field" fxFlex="auto">
            <mat-label>Tipos de tarea: </mat-label>
            <mat-select [(ngModel)]="ticket.idTipoTarea" (selectionChange)="seleccionarTarea($event.value)" name="idTipoTarea" ngDefaultControl required formControlName="idTipoTarea"
              #singleSelect>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Buscar tipo de tareas..."
                  noEntriesFoundLabel="'No se encuentra el tipo de tarea'" [formControl]="tipoTareaFilterCtrl">
                  <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let item of filteredTipoTarea | async"
                [value]="item.idTipoTarea"
              >
                {{ item.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="area"> 
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Área:</mat-label>
              <input readonly matInput formControlName="area" [(ngModel)]="descripcionDepartamento">
            </mat-form-field>
          </div>
  
      </div>
  
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Tags:</mat-label>
          <mat-select style="margin-bottom: 3%;" (selectionChange)="seleccionarTags($event.value)">
              <mat-option *ngFor="let tag of tags" [value]="tag"> 
                {{tag.descripcion}}
              </mat-option>
          </mat-select>
          <mat-chip-list
            class="example-chip"
            cdkDropList 
            cdkDropListOrientation="horizontal">
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let tag of tagsSeleccionados">
              {{tag.descripcion}}
              <mat-icon style="cursor: pointer" (click)="eliminarTag(tag)" [icIcon]="icRemoveCircle"></mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
  
        <mat-form-field class="vex-flex-form-field" fxFlex="auto">
          <mat-label>Prioridad:</mat-label>
          <mat-select (selectionChange)="seleccionarPrioridad($event.value)"  formControlName="prioridad" [(ngModel)]="prioridad">
            <mat-option *ngFor="let prioridad of prioridades" [value]="prioridad.valor">
                {{prioridad.nombre}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Asunto:</mat-label>
        <input matInput [(ngModel)]="ticket.asunto" formControlName="asunto">
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripcion:</mat-label>
        <textarea matInput [(ngModel)]="ticket.descripcion" formControlName="descripcion"></textarea>
      </mat-form-field>
    </form>
      <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close style="color: red;">Cerrar</button>
        <button *ngIf="!existeSubTarea" style="float: right;" mat-raised-button color="primary" (click)="confirmar()">Editar ticket</button>
      </div>
  </div>

  <!-- LOADING -->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>