@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/


/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */

:root {
    // --color-primary: blue;
    // --color-primary-contrast: white;
    // --color-accent: yellow;
    // --color-accent-contrast: black;
    // --color-warn: yellow;
    // --color-warn-contrast: black;
    --COLOR-PRIMARY: RGB(var(--color-primary));
    --COLOR-PRIMARY-CONTRAST: RGB(var(--color-primary-contrast));
    --COLOR-ACCENT: #FFCC07;
    --COLOR-NEUTRAL-GRAY: dimgrey;
    --COLOR-NEUTRAL-YELLOW: #feeca3;
    --COLOR-NEUTRAL-LIGHT-GRAY:#D9D9D9; 
    --COLOR-NEUTRAL-WHITE: #FAFBFD;  
    --COLOR-WHITE: #FFFFFF;
    --COLOR-BLACK: #000000;
}

.mat-form-field-outline-thick{
  opacity: 0.3!important;
}

//color
.backgraund-color-primary{
  background-color: var(--COLOR-PRIMARY);
}

.backgraund-color-primary-contrast{
  background-color: var(--COLOR-PRIMARY-CONTRAST);
}

.backgraund-color-neutral-light-gray{
  background-color: var(--COLOR-NEUTRAL-LIGHT-GRAY);
}

.color-primary{
  color: var(--COLOR-PRIMARY);
}

.color-primary-contrast{
  color: var(--COLOR-PRIMARY-CONTRAST);
}

.color-neutral{
  color: var(--COLOR-NEUTRAL-GRAY);
}

.color-accent{
  color: var(--COLOR-ACCENT);
}

.badge-success {
  background-color: rgb(219, 253, 181);
  color: rgb(96, 180, 0)!important;
}
.badge-warning {
  background-color: rgb(253, 233, 177);
  color: rgb(201, 137, 0)!important;
}
.badge-danger {
  background-color: rgb(255, 183, 183);
  color: rgb(214, 0, 0)!important;
}

.badge-info {
  background-color: rgb(183, 219, 255);
  color: rgb(9, 110, 178)!important;
}
.badge-neutro {
  background-color: rgb(234, 234, 234);
  color: rgb(37, 37, 37);
} 
//end

//buttom
.icon-buttons {
  margin: 0 10px 0px 10px !important;
  border-radius: 100% !important;
  color: var(--COLOR-NEUTRAL-GRAY) !important;
}

.forms-full-button {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
  background-color: var(--COLOR-PRIMARY);
  color:var(--COLOR-PRIMARY-CONTRAST);
  font-size: 20px;
}

.head-icon{
  color: var(--COLOR-PRIMARY-CONTRAST) !important;
}

.head-icon-title{
  color: var(--COLOR-PRIMARY-CONTRAST);
  font-weight: bold;
}

.head-buttons {
  min-width: 40px !important;
  min-height: 40px !important;
  margin: 0 10px 0px 10px !important;
  border-radius: 100% !important;
  color: var(--COLOR-PRIMARY-CONTRAST) !important;
  background-color: var(--COLOR-PRIMARY) !important;
  padding: 0px !important;
}

//end

//letter
.head-title{
  color: var(--COLOR-PRIMARY) ;
  line-height: 30px;
  font-weight: bold;
}

.font-body {
  text-align: left;
}

//end.



//components
.page-head {
  background-color: var(--COLOR-PRIMARY) !important;
  padding-bottom: 3rem;
  align-items: center;
}

.loading{
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin: auto;
}

.interactive-rows {
  --background-hover: var(--COLOR-NEUTRAL-YELLOW);
  transition: background-color 0.5s;
}

.head-options{
  display: flex;
  align-items: center;
  .search-bar{display: inline-flex;;
      align-items: center;
      min-width: 400px;
      padding: 0px;
      border-radius: 2rem;
      background: var(--COLOR-WHITE);
      flex: 1 auto};
}

.head-app-bar {
  padding: 0.5rem 2rem;
  position: relative;
/*   height: 70px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--COLOR-NEUTRAL-LIGHT-GRAY);
}
//end


//scheme amber
[color-scheme="amber"]{
  --COLOR-ACCENT: #4d463c;
   .head-title{
    color: var(--COLOR-PRIMARY-CONTRAST);
  } 
}
//end

//scheme deepblue
[color-scheme="deepBlue"]{
  
  .sidenav {
    --sidenav-item-icon-color: var(--COLOR-WHITE);
    --sidenav-item-icon-color-active: var(--COLOR-ACCENT); 
    --sidenav-item-dropdown-background-hover: var(--COLOR-PRIMARY) !important;
    --sidenav-item-background-active: var(--COLOR-PRIMARY);
  }
}



/* 
[data-theme="dark"]{
  --COLOR-PRIMARY-0: rgb(34, 43, 83);
  --COLOR-SECONDARY-3: #c8d1f7;
  --COLOR-SECONDARY-4: #afa16a;
  .icon{
    color: var(--COLOR-SECONDARY-3) !important;
  }
  .icon-buttons {
    color: var(--COLOR-SECONDARY-3) !important;
  }
  .sidenav {
    --sidenav-item-icon-color: var(--COLOR-SECONDARY-4) !important;
    --sidenav-item-dropdown-background-hover: var(--COLOR-SECONDARY-4) !important;
  }

  .search-bar{
    color: var( --COLOR-PRIMARY-0);
  };

  .head-title{
    color: var(--COLOR-SECONDARY-3);
  }
  .head-app-bar{
    .head-title:not(.head-app-bar){
      color: var( --COLOR-PRIMARY-0) ;
    }
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--COLOR-SECONDARY-3);
    }
  .mat-dialog-actions{
    button:valid{
      background-color: var(--COLOR-PRIMARY-0);
    }
  }
 
} */