<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
  
  <div class="container py-gutter">
    <div class="card">
      <div class="h-64 relative bg-image">
  
      </div>
  
      <div class="z-10 relative -mt-16 px-gutter flex items-center">
  
        <img @scaleIn *ngIf="!fotoPerfil"
          class="avatar h-24 w-24 flex-none align-start hidden sm:block border-3 border-white"
          src="assets/img/sinPerfil.jpg">
  
        <img @scaleIn *ngIf="fotoPerfil"
          class="avatar h-24 w-24 flex-none align-start hidden sm:block border-3 border-white" [src]="fotoPerfil">
  
        <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
          <div class="h-16 flex items-center">
            <h1 @fadeInRight class="headline text-contrast-white m-0" style="font-weight: bold;">{{razon}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex flex-col md:flex-row md:items-start">
        <div class="flex-auto">
  
          <div class="bg-app-bar flex">
            <span class="flex-1">Motivo de Atención: {{ tipoTarea }}</span>
            <button *ngIf="tipo == 1" class="text-secondary uppercase font-medium bg-primary text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="atender()">
                <span style="color: white;">
                  ATENDER TURNO
                </span>
            </button>
            <button *ngIf="tipo == 2" class="text-secondary uppercase font-medium bg-primary text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                    mat-button
                    type="button" (click)="finalizar()">
                <span style="color: white;">
                  FINALIZAR TURNO
                </span>
            </button>
          </div>
          <div class="card" style="margin-top: 2%;">
            <div class="px-gutter py-4 border-b">
              <div class="row">
                <div class="col-6">
                  <h2 class="title m-0">Informacion del Participe</h2>
                </div>
                <div class="col-6">
                  <h2 class="title m-0">Emitido a las: {{horaEmision}}</h2>
                </div>
              </div>
            </div>
    
            <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
              <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <ic-icon [icon]="icPhone" size="20px"></ic-icon>
                </div>
    
                <div @fadeInRight>
                  <p class="m-0 body-1" *ngIf="telefono">{{telefono}}</p>
                  <p class="m-0 caption text-hint">Telefono</p>
                </div>
              </div>
    
              <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <ic-icon [icon]="icAssignment" size="20px"></ic-icon>
                </div>
    
                <div @fadeInRight *ngIf="estado != ''">
                  <p class="m-0 body-1" *ngIf="estado == 'Aprobado'" style="color: green;">{{estado}}</p>
                  <p class="m-0 body-1" *ngIf="estado == 'Rechazado'" style="color: rgb(255, 0, 0);">{{estado}}</p>
                  <p class="m-0 body-1" *ngIf="estado == 'NO ADHERIDO'" style="color: rgb(255, 0, 0);">{{estado}}</p>
                  <p class="m-0 body-1" *ngIf="estado == 'Pendiente'" style="color: rgb(255, 153, 0);">{{estado}}</p>
                  <p class="m-0 caption text-hint">Estado del Participe</p>
                </div>
              </div>
    
              <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <ic-icon [icon]="icEmail" size="20px"></ic-icon>
                </div>
    
                <div @fadeInRight>
                  <p class="m-0 body-1" *ngIf="correo">{{correo}}</p>
                  <p class="m-0 caption text-hint">Correo Electronico</p>
                </div>
              </div>
    
              <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <ic-icon [icon]="icSearch" size="20px"></ic-icon>
                </div>
    
                <div @fadeInRight>
                  <p class="m-0 body-1" *ngIf="codigo">{{codigo}}</p>
                  <p class="m-0 caption text-hint">Codigo Uniformado</p>
                </div>
              </div>
    
              <div class="py-3" fxLayout="row" fxLayoutAlign="start center" *ngIf="direccion != ''">
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
                  <ic-icon [icon]="icLocationCity" size="20px"></ic-icon>
                </div>

                <div @fadeInRight>
                    <p class="m-0 body-1 cursor-pointer" *ngIf="direccion">{{direccion}}</p>
                    <p class="m-0 caption text-hint">Dirección</p>
                </div>
              </div>
    
              <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
    
                <div @scaleIn
                     class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                  <ic-icon [icon]="icCreditCard" size="20px"></ic-icon>
                </div>
    
                <div @fadeInRight>
                  <p class="m-0 body-1">{{identificacion}}</p>
                  <p class="m-0 caption text-hint">Cedula del participe</p>
                </div>
              </div>
            </div>
            <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
              <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                <mat-label>¿Cómo se entero de nuestros servicios?</mat-label>
                <mat-select #referido (selectionChange)="seleccionarReferencia($event.value)">
                  <mat-option *ngFor="let referido of tiposReferido" [value]="referido.idTipoReferido">
                    {{referido.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="tipo != 1" @fadeInUp class="card mt-6">
              <div class="bg-white rounded-t p-6">
                <textarea #textarea
                          cdkTextareaAutosize
                          class="w-full textarea-clean bg-white"
                          placeholder="Ingresar tarea..." [(ngModel)]="tarea"></textarea>
              </div>
      
              <div class="bg-app-bar flex">
                <span class="flex-1"></span>
                <button class="text-secondary uppercase font-medium bg-primary text-primary-contrast rounded-none ltr:rounded-br rtl:rounded-bl"
                        mat-button
                        type="button" (click)="enviarComentarios()">
                  <span style="color: white;">AGREGAR COMENTARIOS</span>
                </button>
              </div>
            </div>
            <br>
            <br>
            <div class="flex-auto" *ngIf="tareas.length != 0">
              <div @fadeInUp class="card mt-12" *ngFor="let item of tareas">
                <div class="px-gutter py-4 flex items-center">
                  <img src="../../../../../assets/img/sinPerfil.jpg" alt="User Picture" class="flex-none avatar ltr:mr-4 rtl:ml-4"/>
                  <div class="flex-auto">
                    <p class="font-medium">{{item.funcionario}}</p>
                    <p class="text-secondary font-medium text-xs">{{item.fecha | date: 'dd-MM-yyyy h:mm a'}}</p>
                  </div>
                </div>
    
                <p class="px-gutter pt-1 pb-4 flex-auto" style="width: 100%;">{{item.observaciones}}</p>
    
                <div class="flex justify-between">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>