<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
> 
    <p style="font-size: 20px; color: white">Generando...</p>
</ngx-spinner>

<vex-page-layout>
    <vex-page-layout-header class="page-head">
        <div @fadeInRight class="head-icon">
            <mat-icon   [icIcon]="roundFreeCancellation"  ></mat-icon>
            <h3 class="head-icon-title">Vacaciones</h3>
        </div>      
    </vex-page-layout-header>
    <vex-page-layout-content @stagger [class.container]="layoutCtrl.value === 'boxed'"  class="-mt-6">
        <div class="card">
            <div class="head-app-bar">
                <h2 class="head-title">
                    Listado de vacaciones
                </h2>        
                <div class="head-options">
                    <div class="search-bar">
                        <input     
                            [(ngModel)]="filterValue"
                            class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                            placeholder="Buscar..."
                            type="search"
                            (keyup.enter)="searchTerm(filterValue)">
                            <button
                                (click)="searchTerm(filterValue)"
                                class="head-buttons"
                                mat-button="mat-button"
                                matTooltip="Buscar">
                                <mat-icon  [icIcon]="icroundSearch"  ></mat-icon>
                            </button>
                        </div>
                        <button
                        
                        matTooltip="Solicitud de vacaciones"
                        class="head-buttons"
                        mat-button="mat-button" [routerLink]="['/solicitud-vacaciones']">
                        <mat-icon  [icIcon]="icroundAdd"  ></mat-icon>
                    </button>
                    </div>
                </div>

                

                <div *ngIf="dataFondoSource.data.length !== 0 && !isLoading">
                    <section class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 100%" aria-valuenow="100"></div>
                    </section>
                    <vex-view-table [menubutton]="true" [actions]="menuOption" [columns]="tableColumns" [data]="dataFondoSource.data"
                    (actionMenu)="actionMenu($event)">
                        <ng-container *ngFor="let column of tableColumns">
                            <ng-container *ngIf="column.property === 'estado'">
                            <ng-template #cell let-row="row">
                                <span [ngClass]="getColorClass(row[column.property])">{{ row[column.property] }}</span>
                            </ng-template>
                            </ng-container>
                            <ng-container *ngIf="column.type !== 'button'">
                            <ng-container [matColumnDef]="column.property">
                                <!-- ... -->
                            </ng-container>
                            </ng-container>
                        </ng-container>
                    </vex-view-table>
                    <div class="paginator-container">
                        <mat-paginator [length]="dataFondoSource.data.length" [pageSizeOptions]="[5,10,25,100]" [pageSize]="pageSize"
                            (page)="pageEvent = $event; onPaginateChange($event)" class="sticky left-0"></mat-paginator>
                    </div>
                </div>
                <div *ngIf="dataFondoSource.data.length === 0 && !isLoading">
                    <vex-info-message [message]='infoMessage' [icon]='icroundDiamond' [typeicon]="'icIcon'"></vex-info-message>
                </div>

                <div *ngIf="isLoading" class="loading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <p style="font-size: 20px; color: black">Generando...</p>
                </div>
                
            </div>
    </vex-page-layout-content>
</vex-page-layout>