.value-card {
        justify-content: center;
    }

    .avatar-card {
        background-size: cover;
        background-color: var(--COLOR-PRIMARY);
    }
    .icon-card {
        display: flex;
        color: var(--COLOR-PRIMARY-CONTRAST);
        margin-left: auto;
        margin-right: auto;
    }
    
    .center {
        display: flex;
        align-items: center;
    }
    

    .content-resum-card {
        font-size: medium;
    }
    
.interno{
    margin-left: 1rem;
    margin-right: 1rem;
    }

    ::ng-deep .container-high{
        background:none;
        box-shadow: none;
    }