
<div class="card" style="width: inherit;" >
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Días de ingresos del Mes</h2>
    <p class="m-0 caption text-hint"></p>
  </div>

  <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr">
    <div class="py-3 interno" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of templateDiasIngreso">
      <div @scaleIn
        class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
        <ic-icon [icon]="item.icon" size="20px"></ic-icon>
      </div>

      <div @fadeInRight>
        <p class="m-0 body-1">{{saldos[item.value] | number:'.2-2'}}</p>
        <p class="m-0 caption text-hint">{{item.label}}</p>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: inherit;">
    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Ingresos del Mes</h2>
      <p class="m-0 caption text-hint"></p>
    </div>
  
    <div class="px-gutter py-4" gdColumns="1fr 1fr 1fr" gdColumns.xs="1fr">
      <div class="py-3 interno" fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of templateIngreso">
        <div @scaleIn
          class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <ic-icon [icon]="item.icon" size="20px"></ic-icon>
        </div>
  
        <div @fadeInRight>
          <p class="m-0 body-1">{{ingresos[item.value] | number:'.2-2'}}</p>
          <p class="m-0 caption text-hint">{{item.label}}</p>
        </div>
      </div>
    </div>
  </div>
