<div @stagger class="p-gutter" vexContainer>


    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>

    <h2 class="title mb-4" fxLayout="row" fxLayoutAlign="start center">
        <span @scaleIn class="w-10 h-10 rounded-full text-primary mr-3 flex items-center justify-center bg-primary-light">
            <ic-icon [icon]="icDescription" height="20px" width="20px"></ic-icon>
        </span>
        <span @fadeInRight class="block">Actualización del correo</span>
    </h2>


    <div @fadeInUp class="card overflow-hidden">

        <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
            <ng-template matStepperIcon="edit">
                <mat-icon [icIcon]="icDoneAll"></mat-icon>
            </ng-template>

            <ng-template matStepperIcon="done">
                <mat-icon [icIcon]="icDoneAll"></mat-icon>
            </ng-template>


            <mat-step [stepControl]="datosFormGroup">
                <form [formGroup]="datosFormGroup">
                    <ng-template matStepLabel>Datos del partícipe</ng-template>

                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div class="subheading-1" style="font-weight: bold; color: gray;">Datos del partícipe<br>
                            <strong style="color: black;">Por favor ingrese una identificación</strong></div>
                        <span>
                            </span>
                    </div>
                    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Identificación</mat-label>
                                <input (ngModelChange)="traerAlParticipe($event)" formControlName="identificacion" matInput>
                            </mat-form-field>
                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Nombres</mat-label>
                                <input readonly [(ngModel)]="actualizarDatos.nombres" formControlName="nombres" matInput>
                            </mat-form-field>

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Apellidos</mat-label>
                                <input readonly [(ngModel)]="actualizarDatos.apellidos" formControlName="apellidos" matInput>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">

                            <mat-form-field class="vex-flex-form-field" fxFlex="auto">
                                <mat-label>Correo 1</mat-label>
                                <input [(ngModel)]="actualizarDatos.correo1" formControlName="correo1" matInput>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" style="margin-top: 2%;">
                        <button color="primary" mat-raised-button (click)="actualizarCorreo()">Actualizar</button>
                        <!-- <button (click)="confirmar()" color="primary" mat-button mat-raised-button>CONFIRMAR</button> -->
                    </div>
                </form>
            </mat-step>

        </mat-horizontal-stepper>

    </div>

</div>